<div id="sidebar-menu" class="sidebar-left" ng-include="sidebarLeft"></div>
<div class="content">
    <div class="center-content">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-header">    
                    <h4>Manage Essay</h4>
                </div>
                <div class="manager-video mentor-manage-qa-content mentor-manage-essay">
                    <div class="row top-mag">
                        <div class="col-md-12">
                            <div class="col-md-4 search">
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-search" placeholder="Type your search" name="srch-term" id="srch-term">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><img src="assets/images/icon-search.png" alt=""></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="main-qa clearfix">
                        <div class="col-md-4 left-qa left-essay">
                            <div role="tabpanel tab-all">
                                <div class="t-panel">
                                    <p ng-class="{'active': tabpane == 1}" ng-click="changeTab(1)">New<sup class="sup1">{{newestEssays.length > 0 ? newestEssays.length : 0}}</sup></p>
                                    <p ng-class="{'active': tabpane== 2}" ng-click="changeTab(2)">Processing<sup class="sup2">{{processingEssays.length > 0 ? processingEssays.length : 0}}</sup></p>
                                    <p ng-class="{'active': tabpane== 3}" ng-click="changeTab(3)">Ignored<sup class="sup3">{{ignoredEssays.length > 0 ? ignoredEssays.length : 0}}</sup></p>
                                    <p ng-class="{'active': tabpane== 4}" ng-click="changeTab(4)">Replied<sup class="sup4">{{repliedEssays.length > 0 ? repliedEssays.length : 0}}</sup></p>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" ng-class="{'active': tabpane == 1}">
                                        <div ng-if="newestEssays" scroller="newestEssaysScrl" data-on-total-scroll="">
                                            <div class="group-item-qa">
                                                <div class="item-qa clearfix" ng-repeat="e in newestEssays track by $index">
                                                    <div class="col-md-3">
                                                        <a href="" ng-click="goToProfile(e.userId)"><img src="{{e.imageUrl}}" alt=""></a>
                                                    </div>
                                                    <div class="col-md-9 bx-dt-qa">
                                                        <h5><a href="" ng-click="goToProfile(e.userId)">{{e.fullName}} </a><span class="time">{{e.timeStamp}} ago</span></h5>
                                                        <b>{{e.nameOfEssay}}</b>
                                                        <p>{{e.descriptionOfEssay}}</p>
                                                        <div class="clearfix bt-item">
                                                            <button class="processing pull-left" ng-click="changeStatus(e.uploadEssayId,'P')"><span data-icon="&#xe02d;"></span>Waiting</button>
                                                            <button class="ignore pull-left" ng-click="changeStatus(e.uploadEssayId,'I')"><span data-icon="&#xe02d;"></span>Ignore</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="!newestEssays"><h4>No Newest Essay</h4></div>
                                    </div>
                                    <div class="tab-pane" ng-class="{'active': tabpane == 2}">
                                        <div ng-if="processingEssays" scroller="processingEssaysScrl" data-on-total-scroll="">
                                            <div class="group-item-qa">
                                                <div class="item-qa clearfix" ng-repeat="pe in processingEssays track by $index">
                                                    <div class="col-md-3">
                                                        <a href="" ng-click="goToProfile(pe.userId)"><img src="{{pe.imageUrl}}" alt=""></a>
                                                    </div>
                                                    <div class="col-md-9 bx-dt-qa">
                                                        <h5><a href="" ng-click="goToProfile(pe.userId)">{{pe.fullName}} </a><span class="time">{{pe.timeStamp}} ago</span></h5>
                                                        <b>{{pe.nameOfEssay}}</b>
                                                        <p>{{pe.descriptionOfEssay}}</p>
                                                        <div class="clearfix bt-item">
                                                            <div class="pull-left">Reviewing</div>
                                                            <!-- <div class="follow pull-left"><span><i class="fa fa-font-awesome" aria-hidden="true"></i></span></div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="!processingEssays"><h4>No Processing Essay</h4></div>
                                    </div>
                                    <div class="tab-pane" ng-class="{'active': tabpane == 3}">
                                        <div ng-if="ignoredEssays" scroller="ignoredEssaysScrl" data-on-total-scroll="">
                                            <div class="group-item-qa">
                                                <div class="item-qa clearfix" ng-repeat="ie in ignoredEssays track by $index">
                                                    <div class="col-md-3">
                                                        <a href="" ng-click="goToProfile(ie.userId)"><img src="{{ie.imageUrl}}" alt=""></a>
                                                    </div>
                                                    <div class="col-md-9 bx-dt-qa">
                                                        <h5><a href="" ng-click="goToProfile(ie.userId)">{{ie.fullName}} </a><span class="time">{{ie.timeStamp}} ago</span></h5>
                                                        <b>{{ie.nameOfEssay}}</b>
                                                        <p>{{ie.descriptionOfEssay}}</p>
                                                        <div class="clearfix bt-item">
                                                            <div class="ignore pull-left">Ignored</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="!ignoredEssays"><h4>No Ignored Essay</h4></div>
                                    </div>
                                    <div class="tab-pane" ng-class="{'active': tabpane == 4}">
                                        <div ng-if="repliedEssays" scroller="repliedEssaysScrl" data-on-total-scroll="">
                                            <div class="group-item-qa">
                                                <div class="item-qa clearfix" ng-repeat="re in repliedEssays track by $index" ng-click="detailEssay(re.uploadEssayId)">
                                                    <div class="col-md-3">
                                                        <a href="" ng-click="goToProfile(re.userId)"><img src="{{re.imageUrl}}" alt=""></a>
                                                    </div>
                                                    <div class="col-md-9 bx-dt-qa">
                                                        <h5><a href="" ng-click="goToProfile(re.userId)">{{re.fullName}} </a><span class="time">{{re.timeStamp}} ago</span></h5>
                                                        <b>{{re.nameOfEssay}}</b>
                                                        <p>{{re.descriptionOfEssay}}</p>
                                                        <div class="clearfix bt-item">
                                                            <div class="pull-left">Replied</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="!repliedEssays"><h4>No Replied Essay</h4></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 box-main-replied" >
                            <div class="slider-rpl" ng-if="essay">
                                <div class="box-btn-sl clearfix">
                                    <a href="" class="btn-prev"><span data-icon="&#x34;"></span></a>
                                    <a href="" class="btn-next"><span data-icon="&#x35;"></span></a>
                                </div>
                                <div class="group-item-sl">
                                    <div class="item-sl-rpl">
                                        <p class="text-rpl">{{comments ? comments.length : 0}} Replied</p>
                                        <div class="bx-detail-rpl">
                                            <div class="top-rpl clearfix">
                                                <div class="col-md-2">
                                                    <a href="" ng-click="goToProfile(userId)"><img src="{{essay.imageUrl}}" alt=""></a>
                                                </div>
                                                <div class="col-md-7 bx-dt-qa">
                                                    <a href="" ng-click="goToProfile(userId)"><h5>{{essay.fullName}}</h5></a>
                                                    <span class="time">{{essay.timeStamp}} ago</span>
                                                    <p class="txt-essay"><b>{{essay.nameOfEssay}}</b></p>
                                                </div>
                                                <!-- <div class="bt-item col-md-3">
                                                    <div class="processing pull-left"><span data-icon="&#xe02d;"></span>Process</div>
                                                    <div class="follow pull-left"><span><i class="fa fa-font-awesome" aria-hidden="true"></i></span></div>
                                                </div> -->
                                            </div>
                                            <p class="text-rpl-2">
                                               {{essay.descriptionOfEssay}}
                                            </p>
                                            <div class="bx-dowfile clearfix">
                                                <p class="pull-left"><a href="{{essay.downloadLinkS}}"><img src="assets/images/img-attacfile.png" alt=""></a><span>{{essay.urlFile}} - {{essay.odFilesize}}</span></p>
                                            </div>
                                            <div class="form-chat form-chat-essay">
                                                <form action="">
                                                    <div class="box-chat-onl clearfix">
                                                        <a href="" class="col-md-1"><img src="{{avatar}}" alt=""></a>
                                                        <div class="texta">
                                                            <textarea id="comment" name="" class="col-md-11" placeholder="Add your reply here" ></textarea>
                                                            <div class="left-border"></div>
                                                        </div>
                                                        <div class="icon-upload">
                                                            <!-- <input class="input-file" name="file1" id="file1" type="file" ng-file-select="onFileSelect($files)"> -->
                                                            <label for="file1" class="label-1" ngf-select="onFileSelect($files)" accept="'application/msword, application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf'" ngf-pattern="'.pdf,.doc,.docx,.xlsx,.xlsx'" ngf-max-size="5MB">
                                                            <label for="file1" class="label-1">
                                                                <span data-icon="&#xe016;"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix">
                                                        <div class="btnreply pull-right">
                                                            <input type="button" name="reply" value="Reply" ng-click="reply()">
                                                        </div>
                                                    </div>
                                                    <div class="detail-chat">
                                                        <ul class="chat" ng-if="comments">
                                                            <li class="left clearfix" ng-repeat="c in comments track by $index">
                                                                <span class="chat-img pull-left">
                                                                    <img src="{{avatar}}" alt="User Avatar">
                                                                </span>
                                                                <div class="chat-body clearfix">
                                                                    <div class="header">
                                                                        <strong class="primary-font">{{mentorName}}</strong><span class="time">{{c.timestamp}} ago</span>
                                                                    </div>
                                                                    <p>
                                                                        {{c.content}}
                                                                    </p>
                                                                    <!-- <p class="attaced-file"><img src="assets/images/img-attacfile.png" alt=""><span>filename.pdf - 12 MB</span></p> -->
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <h5 ng-show="!comments">No Comment here</h5>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div ng-show="!essay"><h5>No Essay</h5></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>              
</div>
<div id="sidebar-right" ng-include="sidebarRight"></div>
