<div id="sidebar-menu" ng-class="{in: isMiniMenu}" class="sidebar-left" ng-include="sidebarLeft"></div>
<div class="content" ng-cloak>
    <div id="center-content" class="center-content" ng-class="{in: isMiniMenu}">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-header">    
                    <h4><a href="#/"> SibLinks</a> / Manage Essay</h4>
                </div>
                <div class="manager-video mentor-manage-qa-content mentor-manage-essay">
                    <div class="row top-mag">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="main-qa clearfix">
                        <div class="left-qa left-essay">
                             <div class="search">
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <div id="essay-term" angucomplete-alt ng-enter="search()" placeholder="Search" pause="50" selected-object="onSelect" local-data="listAllEssay" search-fields="nameOfEssay" title-field="nameOfEssay" minlength="1" input-class="form-control input-search" text-no-results="Essay Not Found" match-class="highlight" input-changed="textChanged"></div>
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit" ng-click="search()"><img src="assets/images/icon-search.png" alt=""></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel tab-all">
                                <div class="t-panel">
                                    <p ng-class="{'active': tabpane == 1}" ng-click="changeTab(1)">New<span class="sup1">{{newestEssays.length > 0 ? newestEssays.length : 0}}</span></p>
                                    <p ng-class="{'active': tabpane== 2}" ng-click="changeTab(2)">Processing<span class="sup2">{{processingEssays.length > 0 ? processingEssays.length : 0}}</span></p>
                                    <p ng-class="{'active': tabpane== 3}" ng-click="changeTab(3)">Ignored<span class="sup3">{{ignoredEssays.length > 0 ? ignoredEssays.length : 0}}</span></p>
                                    <p ng-class="{'active': tabpane== 4}" ng-click="changeTab(4)">Replied<span class="sup4">{{repliedEssays.length > 0 ? repliedEssays.length : 0}}</span></p>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" ng-class="{'active': tabpane == 1}">
                                        <div ng-if="newestEssays" scroller="newestEssaysScrl" on-init="loadTo" data-on-total-scroll="loadMoreEssay" id="newestEssaysTab">
                                            <div class="group-item-qa">
                                                <div class="item-qa clearfix" ng-repeat="e in newestEssays track by $index" ng-click="detailEssay(e.uploadEssayId)"  id="newestEssaysList{{e.uploadEssayId}}" >
                                                    <div class="studentAvt">
                                                        <a href="javascript:void(0)" ng-click="goToProfile(e.userId)"><img src="{{e.imageUrl}}" alt=""></a>
                                                    </div>
                                                    <div class="studentDetails bx-dt-qa">
                                                        <h5><a href="javascript:void(0)" ng-click="goToProfile(e.userId)">{{e.fullName}} </a><span class="time">{{e.timeStamp}} ago</span></h5>
                                                        <b class="word-wrap">{{e.nameOfEssay}}</b>
                                                        <p class="word-wrap">{{e.descriptionOfEssay | limitTo : 240 }}{{e.descriptionOfEssay.length > 240 ? '...' :'' }}</p>
                                                        <div class="clearfix bt-item">
                                                            <a href="javascript:void(0)" ng-click="changeStatus(e.uploadEssayId,'P')"><span style="top: 0" class="essay-wait-review"><i class="fa fa-spinner fa-spin white" aria-hidden="true"></i> Process</span></a>
                                                            <a href="javascript:void(0)" ng-click="changeStatus(e.uploadEssayId,'I')"><span class="essay-cancel"><i class="fa fa-flag gray" aria-hidden="true"></i></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="!newestEssays"><h5>Found no data</h5></div>
                                    </div>
                                    <div class="tab-pane" ng-class="{'active': tabpane == 2}">
                                        <div ng-if="processingEssays" scroller="processingEssaysScrl" on-init="loadTo" data-on-total-scroll="loadMoreEssay" id="processingEssaysTab">
                                            <div class="group-item-qa">
                                                <div class="item-qa clearfix" ng-repeat="pe in processingEssays track by $index" ng-click="detailEssay(pe.uploadEssayId)" id="processingEssaysList{{pe.uploadEssayId}}">
                                                    <div class="studentAvt">
                                                        <a href="javascript:void(0)" ng-click="goToProfile(pe.userId)"><img src="{{pe.imageUrl}}" alt=""></a>
                                                    </div>
                                                    <div class="studentDetails bx-dt-qa">
                                                        <h5><a href="javascript:void(0)" ng-click="goToProfile(pe.userId)">{{pe.fullName}} </a><span class="time">{{pe.timeStamp}} ago</span></h5>
                                                        <b class="word-wrap">{{pe.nameOfEssay}}</b>
                                                        <p class="word-wrap">{{pe.descriptionOfEssay | limitTo : 240 }}{{pe.descriptionOfEssay.length > 240 ? '...' :'' }}</p>
                                                        <div class="clearfix bt-item">
                                                            <a href="javascript:void(0)" ng-click="changeStatus(pe.uploadEssayId,'I')"><span class="essay-cancel"><i class="fa fa-flag gray" aria-hidden="true"></i></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="!processingEssays || processingEssays.length == 0"><h5>Found no data</h5></div>
                                    </div>
                                    <div class="tab-pane" ng-class="{'active': tabpane == 3}">
                                        <div ng-if="ignoredEssays" scroller="ignoredEssaysScrl" on-init="loadTo" data-on-total-scroll="loadMoreEssay" id="ignoredEssaysTab">
                                            <div class="group-item-qa">
                                                <div class="item-qa clearfix" ng-repeat="ie in ignoredEssays track by $index" ng-click="detailEssay(ie.uploadEssayId)" id="ignoredEssaysList{{ie.uploadEssayId}}">
                                                    <div class="studentAvt">
                                                        <a href="javascript:void(0)" ng-click="goToProfile(ie.userId)"><img src="{{ie.imageUrl}}" alt=""></a>
                                                    </div>
                                                    <div class="studentDetails bx-dt-qa">
                                                        <h5><a href="javascript:void(0)" ng-click="goToProfile(ie.userId)">{{ie.fullName}} </a><span class="time">{{ie.timeStamp}} ago</span></h5>
                                                        <b class="word-wrap">{{ie.nameOfEssay}}</b>
                                                        <p class="word-wrap">{{ie.descriptionOfEssay | limitTo : 240 }}{{ie.descriptionOfEssay.length > 240 ? '...' :'' }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="!ignoredEssays"><h5>Found no data</h5></div>
                                    </div>
                                    <div class="tab-pane" ng-class="{'active': tabpane == 4}">
                                        <div ng-if="repliedEssays" scroller="repliedEssaysScrl" on-init="loadTo" data-on-total-scroll="loadMoreEssay" id="repliedEssaysTab">
                                            <div class="group-item-qa">
                                                <div class="item-qa clearfix" ng-repeat="re in repliedEssays track by $index" ng-click="detailEssay(re.uploadEssayId)" id="repliedEssaysList{{re.uploadEssayId}}">
                                                    <div class="studentAvt">
                                                        <a href="javascript:void(0)" ng-click="goToProfile(re.userId)"><img src="{{re.imageUrl}}" alt=""></a>
                                                    </div>
                                                    <div class="studentDetails bx-dt-qa">
                                                        <h5><a href="javascript:void(0)" ng-click="goToProfile(re.userId)">{{re.fullName}} </a><span class="time">{{re.timeStamp}} ago</span></h5>
                                                        <b class="word-wrap">{{re.nameOfEssay}}</b>
                                                        <p class="word-wrap">{{re.descriptionOfEssay | limitTo : 240 }}{{re.descriptionOfEssay.length > 240 ? '...' :'' }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="!repliedEssays"><h5>Found no data</h5></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-main-replied" >
                            <div class="slider-rpl" ng-if="essay">
                                <div class="box-btn-sl clearfix">
                                    <a href="javascript:void(0)" class="btn-prev" ng-click="prevEssay(pos)"><span data-icon="&#x34;"></span></a>
                                    <a href="javascript:void(0)" class="btn-next" ng-click="nextEssay(pos)"><span data-icon="&#x35;"></span></a>
                                </div>
                                <div class="group-item-sl">
                                    <div class="item-sl-rpl">
                                        <p class="text-rpl">{{comments ? comments.length : 0}} replies</p>
                                        <div class="bx-detail-rpl">
                                            <div class="top-rpl clearfix">
                                                <div class="col-md-12 bx-dt-qa">
                                                    <div class="studentAvt">
                                                    <a href="javascript:void(0)" ng-click="goToProfile(essay.userId)"><img src="{{essay.imageUrl}}" alt=""></a>
                                                    </div>
                                                    <div class="studentDetails">
                                                    <a href="javascript:void(0)" ng-click="goToProfile(essay.userId)"><h5>{{essay.fullName}}</h5></a>
                                                    <span class="time">{{essay.timeStamp}} ago</span>
                                                    <div class="bt-item-r" ng-if="essay.status == 'W' && !ignored">
                                                        <a href="javascript:void(0)" ng-click="changeStatus(essay.uploadEssayId,'P')"><span style="top: 0" class="essay-wait-review"><i class="fa fa-spinner fa-spin white" aria-hidden="true"></i> Process</span></a>
                                                        <a href="javascript:void(0)" ng-click="changeStatus(essay.uploadEssayId,'I')"><span class="essay-cancel"><i class="fa fa-flag gray" aria-hidden="true"></i></span></a>
                                                    </div>
                                                    <div class="bt-item-r col-md-4" ng-if="essay.status == 'P'">
                                                        <a href="javascript:void(0)" ng-click="changeStatus(essay.uploadEssayId,'I')"><span class="essay-cancel"><i class="fa fa-flag gray" aria-hidden="true"></i></span></a>
                                                    </div>
                                                    <p class="txt-essay word-wrap"><b>{{essay.nameOfEssay}}</b></p>
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <p class="text-rpl-2 pre-wrap">{{essay.descriptionOfEssay}}</p>
                                            <div class="bx-dowfile clearfix">
                                                <p class="pull-left"><a href="{{essay.downloadLinkS}}"><img src="assets/images/img-attacfile.png" alt=""></a><span>{{essay.urlFile}} - {{essay.odFilesize}}</span></p>
                                            </div>
                                            <div class="form-chat form-chat-essay">
                                                <form action="">
                                                    <div ng-if="!comments && essay.status == 'P' && tabpane != 3">
                                                        <div class="box-chat-onl clearfix" >
                                                            <a href="javascript:void(0)" class="col-md-1"><img src="{{avatar}}" alt=""></a>
                                                            <div class="texta">
                                                                <textarea id="comment" name="" class="col-md-11" placeholder="Add your reply here" maxlength="1000"></textarea>
                                                                <div class="left-border"></div>
                                                            </div>
                                                            <div class="icon-upload">
                                                                <button class="label-1" ngf-select="onFileSelect($files, $invalidFiles)" ngf-accept="'application/msword, application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf'" ngf-pattern="'.pdf,.doc,.docx,.xls,.xlsx'" ngf-max-size="5MB">
                                                                <label class="label-1">
                                                                    <span data-icon="&#xe016;"></span>
                                                                </label>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div ng-if="error" style="margin-top: 10px; margin-bottom: 10px; margin-left: 75px;">
                                                           <span style="color: red;">{{error}}</span>
                                                        </div>
                                                        <div ng-if="fileName" style="margin-top: 10px; margin-bottom: -8px; margin-left: 75px;">
                                                           <img src="assets/images/img-attacfile.png" alt=""><span> {{fileName}} - {{fileSize}}</span>
                                                        </div>
                                                        <div class="clearfix">
                                                            <div class="btnreply pull-right">
                                                                <button class="cancel" ng-hide="checked" ng-click="clearAnswer()">Cancel</button>
                                                                <input type="button" name="reply" ng-hide="checked" value="Reply" ng-click="reply()">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="openEdit" ng-if="edit">
                                                        <div class="box-chat-onl clearfix" >
                                                            <a href="javascript:void(0)" class="col-md-1"><img src="{{avatar}}" alt=""></a>
                                                            <div class="texta">
                                                                <textarea ng-model="editEssay.content" class="col-md-11" placeholder="Add your reply here" maxlength="1000"></textarea>
                                                                <div class="left-border"></div>
                                                            </div>
                                                            <div class="icon-upload">
                                                                <button class="label-1" ngf-select="onFileSelect($files, $invalidFiles)" ngf-accept="'application/msword, application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf'" ngf-pattern="'.pdf,.doc,.docx,.xls,.xlsx'" ngf-max-size="5MB">
                                                                <label class="label-1">
                                                                    <span data-icon="&#xe016;"></span>
                                                                </label>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div ng-if="error" style="margin-top: 10px; margin-bottom: 10px; margin-left: 75px;">
                                                           <span style="color: red;">{{error}}</span>
                                                        </div>
                                                        <div ng-if="fileName" style="margin-top: 10px; margin-bottom: -8px; margin-left: 75px;">
                                                           <img src="assets/images/img-attacfile.png" alt=""><span> {{fileName}} - {{fileSize}}</span>
                                                        </div>
                                                        <div class="clearfix">
                                                            <div class="btnreply pull-right">
                                                                <button class="cancel" ng-hide="checked" ng-click="clearEdit()">Cancel</button>
                                                                <input type="button" ng-hide="checked" value="Update" ng-click="updateComment(editEssay.content)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="detail-chat">
                                                        <ul class="chat" ng-if="comments">
                                                            <li class="left clearfix" ng-repeat="c in comments track by $index">
                                                                <span class="chat-img pull-left">
                                                                    <a href="#/mentor/mentorProfile"><img src="{{c.imageUrl}}" alt="User Avatar"></a>
                                                                </span>
                                                                <div class="chat-body clearfix">
                                                                    <div class="header">
                                                                        <a href="#/mentor/mentorProfile"><strong class="primary-font">{{c.fullName}} </strong></a><span class="time">{{c.timestamp}} ago </span>
                                                                        <span star-rating stars="5" outer-star-selection="stars" readonly="true" outer-percent="rating" rating-define="star" rating-stars="5" star-radius="7" sel-color="gold" back-color="white"></span>
                                                                         <span title="Edit" ng-click="openEdit(c.cid, c.content)" class="edit-answer" data-icon="&#x6c;"></span>
                                                                    </div>
                                                                    <p class="pre-wrap">{{c.content}}</p>
                                                                    <p class="attaced-file" ng-if="essay.downloadLinkM"><a href="{{essay.downloadLinkM}}"><img src="assets/images/img-attacfile.png" alt=""></a><span>{{essay.urlReview}} - {{essay.rdFilesize}}</span></p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div ng-show="!essay"><h5>Found no data</h5></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>              
</div>
<div id="sidebar-right" ng-include="sidebarRight" auto-height-recent-activity></div>
