<div class="content account-user recover-password">
    <!-- Container -->
            <div class="account-content">
            <!-- Left side -->
            <div class="account-user-img col-md-8">
                <img src="assets/images/account-user.jpg">
            </div><!-- End Left side -->
            <!-- Right side -->
            <div class="account-user-form col-md-4">
                <!-- Form Sign in -->
                <form action="" method="">
                    <div class="account-header-title">
                        <h3>Recover Password </h3>
                        <span>Enter your Email and instructions will be sent to you!</span>
                    </div>
                    <div ng-if="errormsg" class="validate_error">
                    	<span>{{errormsg}}</span>
                	</div>
                	<div ng-if="sucessmsg" class="succesful">
                    	<span>{{sucessmsg}}</span>
                	</div>
                    <div class="account-info">
                        <p class="email-account">
                            <input id="username"  type="email" placeholder="Your email">
                        </p>
                        <p class="button-img">
                            <button type="button"  ng-click="forgot()" class="forgot">FORGOT</button>
                        </p>
                        <div class="no-account">Don't have an account?<a href="#/signup"> Register</a></div>
                    </div>
                </form><!-- /End Form Sign in -->
            </div><!-- /End Right side -->
        
    </div><!-- End container -->
</div>