 <div class="notification-wrapper">
     <div class="ntf-header">
         <div class="ntf-left">{{countAll > 1 ? (countAll + " notifications") : (countAll + " notification")}} </div>
         <div class="ntf-right">
             <button>See more</button>
         </div>
     </div>
     <div ng-if="countAll == null">
     	<span>{{errorData}}</span>
   	</div>
     <div class="nft-body">
         <ul>
             <li  ng-repeat="n in notificationsAll">
             	<a href="javascript:void(0)" ng-click="linkRedirect(n.type,linkToId)">
             	<!-- ng-click="notificationDetail(n.id, n.linkToId, n.type)" -->
                  <div class="nft-type nft-qa">
                      <img src="assets/images/AskAQuestion.png">
                  </div>
                  <div class="nft-info" ng-if="n.type == '1'">Your <a class="text-under-line" href="javascript:void(0)" ng-click="linkRedirect(n.type,linkToId)">question</a> has been answered by</div>
                  <div class="nft-info" ng-if="n.type == '2'">Your <a class="text-under-line" href="javascript:void(0)" ng-click="linkRedirect(n.type,linkToId)">video</a> has been commented by</div>
                  <div class="nft-info" ng-if="n.type == '3'">Your <a class="text-under-line" href="javascript:void(0)" ng-click="linkRedirect(n.type,linkToId)">video admission</a> has been commented by</div>
                  <div class="nft-info" ng-if="n.type == '4'">Your <a class="text-under-line" href="javascript:void(0)" ng-click="linkRedirect(n.type,linkToId)">essay</a> has been replied by</div>
                 </a>
	           	<span class="nft-name">
		           	<a href="#{{userType=='M'? '/student/mentorProfile/':'mentor/studentProfile/'}}{{n.senderId}}">{{displayName(n.firstName,n.lastName,n.userName)}}</a>
	           	</span>
                <div class="nft-time">{{convertUnixTimeToTime(n.timestamp)}} ago</div>
             </li>
         </ul>
     </div>
 </div>
 <div class="top-border"></div>
