    <div class="notification-wrapper">
        <div class="ntf-header">
            <div class="ntf-left">{{countAll}} Notifications</div>
            <div class="ntf-right">
                <button>see more</button>
            </div>
        </div>
        <div ng-if="countAll == null">
        	<span>{{errorData}}</span>
      	</div>
        <div class="nft-body">
            <ul>
                <li  ng-repeat="n in notificationsAll">
                	<a href="javascript:void(0)" ng-click="notificationDetail(n.id, n.subjectId, n.topicId, n.videoId, n.questionId, n.articleId, n.idSubAdmission, n.idTopicSubAdmission, n.idEssay)">
	                    <div class="nft-type nft-qa">
	                        <img src="assets/images/AskAQuestion.png">
	                    </div>
	                    <div class="nft-info" ng-if="n.type == 'answerQuestion'">Your question has been answered by 
	                    	<span class="nft-name">{{n.firstName}} {{n.lastName}}</span>
	                    </div>
	                    <div class="nft-time">{{convertUnixTimeToTime(n.timestamp)}} ago</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="top-border"></div>
