<div class="modal-edit-video">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="video-title">Playlist Information</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form action="" method="" role="form">
                <div class="col-md-6">
                    <div class="form-modal">
                        <div ng-if="success" class="succesful">
                          <span>{{success}}</span>
                        </div>
                        <div ng-if="error" class="validate_error">
                           <span>{{error}}</span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtUpdateTitle" placeholder="Playlist Title." maxlength="99">
                        </div>
                        <div class="form-group">
                            <textarea name="desciption" id="txtUpdateDescription" rows="4" cols="5" class="form-control textarea-custom" placeholder="Description." maxlength="500"></textarea>
                        </div>
                        <div class="form-group">
                            <select name="" id="updateSubject" ng-model="updateSubject" ng-change="changeValue(updateSubject)" class="form-control" ng-options='subject.subjectId as subject.subject for subject in updateSubjects'>
                                <!-- <option value="0">Select Subjects</option>
                                <option ng-repeat="s in subjects track by $index" value="{{s.subjectId}}">{{s.subject}}</option> -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 right-modal">
                    <span>
                        <output id="" class="modal-preview">
                            <div ng-repeat="step in stepsModel track by $index">
                                <img style="" class="imgThumb" ng-src="{{step}}" />
                                <div class="remove-image"><img src="assets/images/remove-img.png" ng-click="removeImg($index)"></div>
                            </div>
                        </output>
                        <div class="form-group">
                            <input type="file" class="inputfile" name="file2" id="file2" ng-file-select="onFileSelect($files)" accept='image/*'>
                            <label for="file2" class="label-2">
                                <img src="assets/images/icon-upload.png" alt="">
                                <span>to upload<br> playlist thumbnail</span>
                            </label>
                        </div>
                    </span>                    
                </div>
            </form>
        </div>
        <div class="clearfix">
            <div class="bx-btn pull-right">
                <button class="btn-play active" ng-if="!plid" ng-click="add()"><b>Add</b></button>
                <button class="btn-play active" ng-if="plid" ng-click="update()"><b>Update</b></button>
                <button class="btn-edit" ng-click="cancel()"><b>Cancel</b></button>
            </div>
        </div>
    </div>
 </div>