 <div id="sidebar-menu" ng-class="{in: isMiniMenu}" class="sidebar-left" ng-include="sidebarLeft"></div>
 <div class="content" ng-cloak>
    <div id="center-content" class="center-content" ng-class="{in: isMiniMenu}">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-header">
                        <h4><a href="#/mentor/dashboard"> SibLinks</a> / Manage Playlist</h4>
                    </div>
                    <div class="manager-video manager-playlist">
                        <div class="row top-mag">
                            <div class="col-md-6 col-md-offset-6">
                                <div class="col-md-7 search">
                                    <form class="navbar-form" role="search">
                                        <div class="input-group">                                                        
                                            <div id="srch-term" angucomplete-alt id="srch-term" ng-enter="search()" placeholder="Search" pause="50" selected-object="onSelect"
                                                local-data="listAllPlaylist" search-fields="name" title-field="name"
                                                minlength="1" input-class="form-control input-search"
                                                text-no-results="Playlist Not Found"
                                                match-class="highlight" ></div>
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="submit" ng-click="search()"><img src="assets/images/icon-search.png" alt=""></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3 sl-sbj">
                                    <select class="select-sbj" ng-model="subject" ng-change="loadPlaylistBySubject(subject)" class="form-control" ng-options='subject.subjectId as subject.subject for subject in filterSubjects'>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-add-newplay">
                                    <form action="" method="">
                                        <h4>Add new playlist</h4>
                                        <div ng-if="success" class="succesful">
                                          <span>{{success}}</span>
                                        </div>
                                        <div ng-if="error" class="validate_error">
                                           <span>{{error}}</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-custom" id="txtTitle" placeholder="Title" maxlength="99" ng-click="clearMessage()">
                                        </div>
                                        <div class="form-group">
                                            <textarea name="desciptions" rows="6" cols="5" id="txtDescription" class="form-control textarea-custom" placeholder="Desciptions" maxlength="500">
                                            </textarea>
                                        </div>
                                        <div class="form-group">
                                            <select class="select-sbj form-control" id="addSubject" ng-model="addSubject" ng-change="changeAddValue(addSubject)" class="form-control" ng-options='subject.subjectId as subject.subject for subject in subjects'>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <span class="add-img" id="add-thumb">
                                                <output id="list" class="up-thumb up-thumb-sec">
                                                    <div style="height: 100px;" ng-repeat="step in stepsModel track by $index">
                                                        <img class="thumb" ng-src="{{step}}" />
                                                        <div class="remove-image"><img src="assets/images/remove-img.png" ng-click="removeImg($index)"></div>
                                                    </div>
                                                </output>
                                                <label for="file1" class="label-1" ngf-select="onFileSelect($files, $invalidFiles)" accept="image/*" ngf-max-size="5MB">
                                                    <img style="pointer-events: none;" src="assets/images/icon-upload.png"/>
                                                    <span>to upload<br/> playlist thumbnail</span>
                                                </label>
                                            </span>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-custom" ng-click="add()">Add</button>

                                    </form>
                                </div>
                            </div>
                            <div class="col-md-8">                                
                                <div class="main-manager-video main-list-video">
                                    <div class="btn-mg">
                                        <button class="btn-delete" ng-click ="deleteMultiplePlaylist()">Delete Selected</button>
                                    </div>
                                    <div class="filters clearfix">
                                        <div class="check-all"><input id="check-all" type="checkbox" name="checkall" ng-model="selectedAll" ng-click="checkAll()" /></div>
                                        <div class="text-trf">Playlist</div>
                                        <div class="text-play">Subject</div>
                                        <div class="text-ac">Action</div>
                                    </div>
                                    <div class="group-item">
                                        <div ng-if="playlist.length <= 3">
                                            <div class="item" ng-repeat="p in playlist track by $index">
                                                <div class="check-box"><input type="checkbox" ng-model="p.selected" class="check-input" name="checkall" ng-click="optionSelected()"/></div>
                                                <div class="box-detail-play clearfix">
                                                    <span class="item-thumbnail">
                                                        <a href="#/mentor/playlist/detail/{{p.plid}}"><img class="item-fix-size" src="{{p.image}}" err-src="assets/images/image-not-available.png" alt="">
                                                            <div class="box-all-vd">
                                                                <p>
                                                                    <b>{{p.count_videos}}</b>
                                                                    <span>videos</span>
                                                                    <img src="assets/images/img-all-video.png" alt="">
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </span>
                                                    <div class="detail-pl-inner">
                                                        <a href="#/mentor/playlist/detail/{{p.plid}}"><h5>{{p.name | limitTo : 20}}{{p.name.length > 20 ? '...' : ''}}</h5></a>
                                                        <span class="add-time">{{p.timeStamp}} ago</span>
                                                        
                                                        <p class="list-view">
                                                            <span><img src="assets/images/icon-view.png" alt=""> {{p.numViews ? p.numViews : 0}}</span>&nbsp;&nbsp;
                                                            <span><img src="assets/images/icon-comment.png" alt=""> {{p.numComments}}</span>&nbsp;&nbsp;
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="box-playlist">{{p.subject}}</p>
                                                <div class="box-ac">
                                                    <ul class="list-ac">
                                                        <li><a href="" ng-click="openEdit(p.plid)">Edit</a></li>
                                                        <li><a href="" ng-click="addVideo(p.plid)">Add tutorial</a></li>
                                                        <li><a href="" ng-really-message="Are you sure you want to delete?" ng-really-click ="delete(p)()">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="playlist.length > 3" scroller="playlistScrl" data-on-total-scroll="loadMorePlaylist">
                                            <div class="item" ng-repeat="p in playlist track by $index">
                                                <div class="check-box"><input type="checkbox" ng-model="p.selected" class="check-input" name="checkall" ng-click="optionSelected()"/></div>
                                                <div class="box-detail-play clearfix">
                                                    <span class="item-thumbnail">
                                                        <a href="#/mentor/playlist/detail/{{p.plid}}"><img class="item-fix-size" src="{{p.image}}" err-src="assets/images/image-not-available.png" alt="">
                                                            <div class="box-all-vd">
                                                                <p>
                                                                    <b>{{p.count_videos}}</b>
                                                                    <span>videos</span>
                                                                    <img src="assets/images/img-all-video.png" alt="">
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </span>
                                                    <div class="detail-pl-inner">
                                                        <a href="#/mentor/playlist/detail/{{p.plid}}"><h5>{{p.name | limitTo : 20}}{{p.name.length > 20 ? '...' : ''}}</h5></a>
                                                        <span class="add-time">{{p.timeStamp}} ago</span>
                                                        
                                                        <p class="list-view">
                                                            <span><img src="assets/images/icon-view.png" alt=""> {{p.numViews ? p.numViews : 0}}</span>&nbsp;&nbsp;
                                                            <span><img src="assets/images/icon-comment.png" alt=""> {{p.numComments}}</span>&nbsp;&nbsp;
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="box-playlist">{{p.subject}}</p>
                                                <div class="box-ac">
                                                    <ul class="list-ac">
                                                        <li><a href="" ng-click="openEdit(p.plid)">Edit</a></li>
                                                        <li><a href="" ng-click="addVideo(p.plid)">Add tutorial</a></li>
                                                        <li><a href="" ng-really-message="Are you sure you want to delete?" ng-really-click ="delete(p)()">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="!playlist" style="margin-left: 45px;"><h5>No Playlist here</h5></div>
                                    </div>
                                   <!--  <div class="row clearfix">
                                        <p class="btn-load-more"><a class="load-more-mng" href="#">load more</a></p>
                                    </div> -->
                                    <div class="filters clearfix">
                                        <div class="check-all"><input id="check-all" type="checkbox" name="checkall"  ng-model="selectedAll" ng-click="checkAll()"/></div>
                                        <div class="text-trf">Playlist</div>
                                        <div class="text-play">Subject</div>
                                        <div class="text-ac">Action</div>
                                    </div>
                                    <div class="btn-mg">
                                        <button class="btn-delete" ng-click ="deleteMultiplePlaylist()">Delete Selected</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>                
</div>
<div id="sidebar-right" ng-include="sidebarRight" auto-height-recent-activity></div>