 <div id="sidebar-menu" class="sidebar-left" ng-include="sidebarLeft"></div>
 <div class="content">
    <div class="center-content">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-header">    
                    <h4>Manage Playlist</h4>
                    <p>Ut a porttitor leo. Aliquam fermentum nec elit lobortis tristique </p>
                    </div>
                    <div class="manager-video manager-playlist">
                        <div class="row top-mag">
                            <div class="col-md-6 col-md-offset-6">
                                <div class="col-md-7 search">
                                    <form class="navbar-form" role="search">
                                        <div class="input-group">                                                        
                                            <input type="text" class="form-control input-search" placeholder="Type your search" name="srch-term" id="srch-term" ng-enter="search()">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="submit"><img src="assets/images/icon-search.png" alt=""></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3 sl-sbj">
                                    <select class="select-sbj" ng-model="subject" ng-change="loadPlaylistBySubject()">
                                        <option value="0">Select Subjects</option>
                                        <option ng-repeat="s in subjects track by $index" value="{{s.subjectId}}">{{s.subject}}</option>
                                    </select>
                                </div>
                                <!-- <div class="col-md-2 btn-filter"><button>Filter</button></div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-add-newplay">
                                    <form action="" method="">
                                        <h4>Add new playlist</h4>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-custom" id="txtTitle" placeholder="Title">
                                        </div>
                                        <div class="form-group">
                                            <textarea name="desciptions" rows="6" cols="5" id="txtDescription" class="form-control textarea-custom" placeholder="Desciptions"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <select id="playlist_subject" class="select-sbj">
                                                <option value="0">Select Subject</option>
                                                <option ng-repeat="s in subjects track by $index" value="{{s.subjectId}}">{{s.subject}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="file" id="changeImg" name="changeImg[]" ng-file-select="onFileSelect($files)" accept='image/*'>
                                            <label for="file1" class="label-1">
                                                <img src="assets/images/icon-upload.png" alt="">
                                                <span>to upload<br/> playlist thumbnail</span>
                                            </label>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-custom" ng-click="add()">Add</button>

                                    </form>
                                </div>
                            </div>
                            <div class="col-md-8">                                
                                <div class="main-manager-video main-list-video" ng-if="playlist">
                                    <div class="btn-mg">
                                        <button class="btn-delete" ng-click="deleteMultiplePlaylist()">Delete selected</button>
                                    </div>
                                    <div class="filters clearfix">
                                        <div class="check-all"><input id="check-all" type="checkbox" name="checkall" /></div>
                                        <div class="text-trf">playlist informations</div>
                                        <div class="text-play">subject</div>
                                        <div class="text-ac">action</div>
                                    </div>
                                    <div class="group-item">
                                        <div class="item"  ng-repeat="p in playlist track by $index">
                                            <div class="check-box"><input type="checkbox" ng-model="p.selected" class="check-input" name="checkall" /></div>
                                            <div class="box-detail-play clearfix">
                                                <span class="item-thumbnail">
                                                    <a href="#/mentor/playlist/detail/{{p.plid}}"><img src="{{p.image}}" alt=""></a>
                                                    <div class="box-all-vd">
                                                        <p>
                                                            <b>{{p.count_videos}}</b>
                                                            <span>videos</span>
                                                            <img src="assets/images/img-all-video.png" alt="">
                                                        </p>
                                                    </div>
                                                </span>
                                                <div class="detail-pl-inner">
                                                    <a href="#/mentor/playlist/detail/{{p.plid}}"><h5>{{p.name}}</h5></a>
                                                    <span class="add-time">{{p.timeStamp}} ago</span>
                                                    
                                                    <p class="list-view">
                                                        <span><img src="assets/images/icon-view.png" alt=""> {{p.numView}}</span>&nbsp;&nbsp;
                                                        <span><img src="assets/images/icon-comment.png" alt=""> {{p.numComment}}</span>&nbsp;&nbsp;
                                                    </p>
                                                </div>
                                            </div>
                                            <p class="box-playlist">
                                                {{p.subject}}
                                            </p>
                                            <div class="box-ac">
                                                <ul class="list-ac">
                                                    <li><a href="#">Edit</a></li>
                                                    <li><a href="#">Add playlist</a></li>
                                                    <li><a href="" ng-click="delete(p)">Delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                   <!--  <div class="row clearfix">
                                        <p class="btn-load-more"><a class="load-more-mng" href="#">load more</a></p>
                                    </div> -->
                                    <div class="filters clearfix">
                                        <div class="check-all"><input id="check-all" type="checkbox" name="checkall" /></div>
                                        <div class="text-trf">playlist informations</div>
                                        <div class="text-play">subject</div>
                                        <div class="text-ac">action</div>
                                    </div>
                                    <div class="btn-mg">
                                        <button class="btn-delete" ng-click="deleteMultiplePlaylist()">Delete selected</button>
                                    </div>
                                </div>
                                <div ng-if="nodata">No data</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>                
</div>
<div id="sidebar-right" ng-include="sidebarRight"></div>