<div id="sidebar-menu" class="sidebar-left" ng-include="sidebarLeft"></div>
<div class="content">
    <div class="center-content">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-header">    
                    <h4>Playlist Detail</h4>
                    </div>
                    <div class="manager-video manager-playlist manager-playlist-detail">
                        <div class="row">
                            <div class="col-md-7 top-vd-dt">
                                <div class="box-detail-play clearfix">
                                    <span class="item-thumbnail pull-left">
                                        <a href="#"><img src="assets/images/img-vd-dt.png" alt=""></a>
                                    </span>
                                    <div class="detail-pl-inner pull-left">
                                        <a href="#"><h5>{{playlist.name}}</h5></a>
                                        <span class="add-time">{{playlist.timeStamp}} ago</span>
                                        <ul class="list-star">
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                        </ul>
                                        <p class="list-view">
                                            <span><img src="assets/images/icon-play.png" alt=""> {{playlist.numView}}</span>&nbsp;&nbsp;
                                            <!-- <span><img src="assets/images/icon-view.png" alt=""> 12</span>&nbsp;&nbsp; -->
                                            <span><img src="assets/images/icon-comment.png" alt=""> {{playlist.numComment}}</span>&nbsp;&nbsp;
                                        </p>
                                        <div class="bx-btn">
                                            <button class="btn-play active">Playall</button>
                                            <button class="btn-add" data-toggle="modal" href='#modal-video'>Add video</button>
                                            <button class="btn-edit">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 bx-description">
                                <h5>Description</h5>
                                <p>{{playlist.description}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-mg">
                                    <button class="btn-delete">Remove</button>
                                </div>
                                <div class="main-manager-video main-playlist-detail">
                                    <div class="filters clearfix">
                                        <div class="check-all"><input id="check-all" type="checkbox" name="checkall" /></div>
                                        <div class="text-trf">video informations</div>
                                        <div class="text-des">description</div>
                                        <div class="text-play">order</div>
                                        <div class="text-ac">action</div>
                                    </div>
                                    <div class="group-item" ng-show="videos">
                                        <div class="item" ng-repeat="v in videos track by $index">
                                            <div class="check-box"><input type="checkbox" class="check-input" name="checkall" /></div>
                                            <div class="box-detail-play clearfix">
                                                <span class="item-thumbnail">
                                                    <a href="#"><img src="{{v.image}}" alt=""></a>
                                                    <!-- <div class="box-all-vd">
                                                        <p>
                                                            <b>10</b>
                                                        </p>
                                                    </div> -->
                                                </span>
                                                <div class="detail-pl-inner">
                                                    <a href="#"><h5>{{v.title}}</h5></a>
                                                    <span class="add-time">{{v.timeStamp}} ago</span>
                                                    <ul class="list-star">
                                                        <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                    </ul>
                                                    <p class="list-view">
                                                        <span><img src="assets/images/icon-play.png" alt=""> {{v.numViews}}</span>&nbsp;&nbsp;
                                                        <!-- <span><img src="assets/images/icon-view.png" alt=""> 12</span>&nbsp;&nbsp; -->
                                                        <span><img src="assets/images/icon-comment.png" alt=""> {{v.numComments}}</span>&nbsp;&nbsp;
                                                    </p>
                                                </div>
                                            </div>
                                            <p class="box-description">
                                                {{v.description}}
                                            </p>
                                            <p class="box-playlist">
                                                {{v.subject}}
                                            </p>
                                            <div class="box-ac">
                                                <ul class="list-ac">
                                                    <li><a href="" ng-click="openEdit(v.vid)">Edit</a></li>
                                                    <li><a href="" ng-click="delete(v.vid)">Remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filters filters-bottom clearfix">
                                        <div class="check-all"><input id="check-all" type="checkbox" name="checkall" /></div>
                                        <div class="text-trf">video informations</div>
                                        <div class="text-des">description</div>
                                        <div class="text-ac">action</div>
                                    </div>
                                    <div class="btn-mg">
                                        <button class="btn-delete">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>                
</div>
<div id="sidebar-right" ng-include="sidebarRight"></div> 