<div id="sidebar-menu" ng-class="{in: isMiniMenu}" class="sidebar-left" ng-include="sidebarLeft"></div>
<div class="content" ng-cloak>
    <div id="center-content" class="center-content" ng-class="{in: isMiniMenu}">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-header">    
                        <h4><a href="#/mentor/dashboard"> SibLinks</a> / <a href="#/mentor/playlistManager">Manage Playlist</a> / Playlist Detail
                        </h4>
                    </div>
                    <div class="manager-video manager-playlist-detail">
                        <div class="row">
                            <div class="col-md-7 top-vd-dt">
                                <div class="box-detail-play clearfix">
                                    <span class="item-thumbnail pull-left">
                                        <img class="playlist-detail-fix-img" src="{{playlist.image}}" err-src="assets/images/image-not-available.png" alt="">
                                    </span>
                                    <div class="detail-pl-inner pull-left">
                                        <h5>{{playlist.name | limitTo : 50}}{{playlist.name.length > 50 ? '...' : ''}}
                                        <span class="add-time">{{playlist.timeStamp}} ago</span>
                                        <p class="list-view">
                                            <span><img src="assets/images/icon-play.png" alt=""> {{playlist.numViews ? playlist.numViews : 0}}</span>&nbsp;&nbsp;
                                            <span><img src="assets/images/icon-comment.png" alt=""> {{playlist.numComments}}</span>&nbsp;&nbsp;
                                        </p>
                                        <div class="bx-btn">
                                            <button ng-if="videos" class="btn-play active" ng-click="playAll()">Playall</button>
                                            <button class="btn-add" ng-click="openAddVideo()">Add video</button>
                                            <button class="btn-edit" ng-click="editPlaylist(playlist.plid)">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 bx-description">
                                <h5>Description</h5>
                                <p class="pre-wap word-wrap">{{playlist.description}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-mg">
                                    <button class="btn-delete" ng-click ="removeAll()">Remove</button>
                                </div>
                                <div class="main-manager-video main-playlist-detail">
                                    <div class="filters filters-bottom clearfix">
                                        <div class="check-all"><input ng-model="selectedAll" type="checkbox" ng-click="selectAll()" /></div>
                                        <div class="text-trf">Video informations</div>
                                        <div class="text-des">Description</div>
                                        <div class="text-play">Subject</div>
                                        <div class="text-ac">Action</div>
                                    </div>
                                    <div class="group-item" >
                                        <div ng-show="videos.length <= 3">
                                            <div class="item" ng-repeat="v in videos track by $index">
                                                <div class="check-box"><input type="checkbox" ng-model="v.selected" class="check-input" name="checkall"/></div>
                                                <div class="box-detail-play clearfix">
                                                <a href="#/mentor/video/detail/{{v.vid}}">
                                                    <span class="item-thumbnail">
                                                        <img class="item-fix-size" src="{{v.image}}" alt="">
                                                    </span></a>
                                                    <div class="detail-pl-inner">
                                                        <a href="#/mentor/video/detail/{{v.vid}}"><h5>{{v.title | limitTo : 20}}{{v.title.length > 20 ? '...' : ''}}</h5></a>
                                                        <span class="add-time">added {{v.timeStamp}} ago</span>
                                                        <ul class="list-star">
                                                            <div  class="pull-left" star-rating stars="5"
                                                                  outer-star-selection="stars"
                                                                  readonly="true"
                                                                  outer-percent="rating"
                                                                  rating-define="star"
                                                                  rating-stars="{{v.averageRating}}"
                                                                  star-radius="7" sel-color="gold"
                                                                  back-color="white"></div>
                                                        </ul></br>
                                                        <p class="list-view">
                                                            <span><img src="assets/images/icon-play.png" alt=""> {{v.numViews}}</span>&nbsp;&nbsp;
                                                            <span><img src="assets/images/icon-comment.png" alt=""> {{v.numComments}}</span>&nbsp;&nbsp;
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="box-description pre-wap">
                                                    {{v.description | limitTo : 150}}{{v.description.length > 150 ? '...' : ''}}
                                                </p>
                                                <p class="box-playlist">
                                                    {{v.subject}}
                                                </p>
                                                <div class="box-ac">
                                                    <ul class="list-ac">
                                                        <li><a href="" ng-click="openEdit(v.vid)">Edit</a></li>
                                                        <li><a href="" ng-really-message="Are you sure you want to remove video from playlist?" ng-really-click ="delete(v.vid)">Remove</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="videos.length > 3" scroller="datasScrl" data-on-total-scroll="loadMoreVideoInPLaylist">
                                            <div class="item" ng-repeat="v in videos track by $index">
                                                <div class="check-box"><input type="checkbox" ng-model="v.selected" class="check-input" name="checkall"/></div>
                                                <div class="box-detail-play clearfix">
                                                <a href="#/mentor/video/detail/{{v.vid}}">
                                                    <span class="item-thumbnail">
                                                        <img class="item-fix-size" src="{{v.image}}" alt="">
                                                    </span></a>
                                                    <div class="detail-pl-inner">
                                                        <a href="#/mentor/video/detail/{{v.vid}}"><h5>{{v.title | limitTo : 20}}{{v.title.length > 20 ? '...' : ''}}</h5></a>
                                                        <span class="add-time">added {{v.timeStamp}} ago</span>
                                                        <ul class="list-star">
                                                            <div  class="pull-left" star-rating stars="5"
                                                                  outer-star-selection="stars"
                                                                  readonly="true"
                                                                  outer-percent="rating"
                                                                  rating-define="star"
                                                                  rating-stars="{{v.averageRating}}"
                                                                  star-radius="7" sel-color="gold"
                                                                  back-color="white"></div>
                                                        </ul></br>
                                                        <p class="list-view">
                                                            <span><img src="assets/images/icon-play.png" alt=""> {{v.numViews}}</span>&nbsp;&nbsp;
                                                            <span><img src="assets/images/icon-comment.png" alt=""> {{v.numComments}}</span>&nbsp;&nbsp;
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="box-description pre-wap">
                                                    {{v.description | limitTo : 150}}{{v.description.length > 150 ? '...' : ''}}
                                                </p>
                                                <p class="box-playlist">
                                                    {{v.subject}}
                                                </p>
                                                <div class="box-ac">
                                                    <ul class="list-ac">
                                                        <li><a href="" ng-click="openEdit(v.vid)">Edit</a></li>
                                                        <li><a href="" ng-really-message="Are you sure you want to remove video from playlist?" ng-really-click ="delete(v.vid)">Remove</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="!videos"><h5 style="margin-left: 15px; margin-top: 15px;">No video show</h5></div>
                                    <div class="filters filters-bottom clearfix">
                                        <div class="check-all"><input ng-model="selectedAll" type="checkbox" ng-click="selectAll()"/></div>
                                        <div class="text-trf">Video informations</div>
                                        <div class="text-des">Description</div>
                                        <div class="text-play">Subject</div>
                                        <div class="text-ac">Action</div>
                                    </div>
                                    <div class="btn-mg">
                                        <button class="btn-delete" ng-click ="removeAll()">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>                
</div>
<div id="sidebar-right" ng-include="sidebarRight"></div> 