<!-- Sidebar left menu -->
<div id="sidebar-menu" class="sidebar-left"  ng-class="{in: isMiniMenu}" ng-include="sidebarLeft"></div>
<!-- /End Sidebar left menu -->
<div class="content">
    <div id="center-content" class="center-content" ng-class="{in: isMiniMenu}">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="manager-profile manager-profile-std clearfix">
                        <div class="col-md-3">
                            <div class="avt">
                                <div class="box-avatar">
                                    <div class="img-avt">
                                        <img ng-src="{{studentInfo.imageUrl != null ? studentInfo.imageUrl : 'assets/images/noavartar.jpg'}}"
                                             err-src="assets/images/noavartar.jpg">
                                    </div>
                                    <h4 ng-if="!isStudentEmptyName">{{studentInfo.firstname.trim()}} {{studentInfo.lastName.trim()}}</h4>
                                    <h4 ng-if="isStudentEmptyName">{{studentInfo.fullName}}</h4>
                                </div>
                                <div class="count-qt">
                                    <ul>
                                        <li>
                                            <b>{{studentInfo.count_question}}</b><br/>
                                            <span>Questions</span>
                                        </li>
                                        <li>
                                            <b>{{studentInfo.count_essay}}</b><br/>
                                            <span>Essay</span>
                                        </li>
                                        <li>
                                            <b>{{studentInfo.count_subscribe}}</b><br/>
                                            <span>Subscribed</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="box-information">
                                    <h5>University</h5>
                                    <p>{{studentInfo.schoolName != null ? studentInfo.schoolName : EMPTY_DATA}}</p>
                                    <h5>About me</h5>
                                    <p class="pre-wrap">{{studentInfo.bio != null ? studentInfo.bio : EMPTY_DATA}}.</p>
                                    <h5>Knowledge field: </h5>
                                    <p ng-bind="subjects">
                                    </p>
                                    <h5>Sex <span>{{gender}}</span></h5>
                                    <h5>BOD <span>{{birthDay}}</span></h5>
                                    <h5>Since <span>{{sinceDay}}</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="sub-right clearfix">
                                <h3>Subscriptions</h3>
                                <div class="row">
                                    <div class="search">
                                        <form class="navbar-form" role="search">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-search form-control-search" ng-model="query"
                                                       placeholder="Type your search" name="srch-term" id="srch-term"
                                                       onfocus="this.placeholder = ''">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="submit"><img
                                                            src="assets/images/icon-search.png" alt=""></button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="slide-broswer" ng-hide="listMentorSubsSize == studentInfo.count_subscribe && !isNextPage">
                                            <a class="btn-prev" ng-click="prevPageMentorSubs()" ng-class="{disabledNextPrev : offset == 0 && newLimit <= defaultLimit}"><span data-icon="&#x34;"></span></a>
                                            <a class="btn-next" ng-click="nextPageMentorSubs()" ng-class="{disabledNextPrev : listMentorSubsSize == studentInfo.count_subscribe}"><span data-icon="&#x35;"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="browser-mentors-infor">
                                    <div class="browser-mentors-infor-wrapper clearfix">
                                        <div class="col-md-4" ng-show="!listMentorSubs">
                                            No have mentor subscribed
                                        </div>
                                        <div class="col-md-4" ng-show="listMentorSubs"
                                                 ng-repeat="mentor in listMentorSubs | filterSub:query track by $index " ng-if="$index >= offset && $index < newLimit">
                                            <div class="mentors-infor-img">
                                                <div class="mentors-infor-img-wrapper" id="{{mentor.userid}}" ng-mouseover="hoverProfileMentor(mentor.userid)" ng-mouseleave="unHoverProfileMentor(mentor.userid)">
                                                <!--<div class="mentors-infor-img-wrapper" id="{{mentor.userid}}">-->
                                                    <img ng-src="{{mentor.imageUrl != null ? mentor.imageUrl : 'assets/images/noavartar.jpg'}}">
                                                    <div class="mentors-img-hover">
                                                        <a ng-href="{{userId == mentor.userid ?  '#/mentor/mentorProfile' : '#/student/mentorProfile/'+mentor.userid}}"><span
                                                                data-icon="&#x4c;"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mentors-infor-details">
                                                <div class="mentors-name">
                                                    <a href="#/student/mentorProfile/{{mentor.userid}}">{{mentor.firstName!=
                                                        null ? mentor.firstName : ''}} {{mentor.lastName != null ?
                                                        mentor.lastName : ''}}</a>
                                                    <span id="rate-studentMentorProfile"
                                                          ng-if="isReadyLoadPointSubscribed"
                                                          star-rating stars="5"
                                                          outer-star-selection="stars"
                                                          outer-percent="rating"
                                                          rating-define="star"
                                                          rating-stars="{{mentor.avgrate}}"
                                                          star-radius="7" sel-color="gold"
                                                          readonly="true"
                                                          back-color="white"></span>
                                                </div>
                                                <div class="mentors-edu">
                                                    <span>{{mentor.accomplishments != null ? mentor.accomplishments : EMPTY_DATA}}</span>
                                                </div>
                                                <div class="mentors-skill">
                                                    <span>{{mentor.listSubject != null ? mentor.listSubject : 'None'}}</span>
                                                </div>
                                                <div class="mentors-rate clearfix" style="width: 60%">
                                                    <p class="num-subs">
                                                        <span class="number-subs"><strong>{{mentor.numsub}}</strong></span><br>
                                                        <span class="title-subscribers">Subscribers</span>
                                                    </p>
                                                    <p class="likes">
                                                        <span class="number-likes"><strong>{{mentor.numlike}}</strong></span><br>
                                                        <span class="title-likes">Likes</span>
                                                    </p>
                                                    <p class="videos">
                                                        <span class="number-videos"><strong>{{mentor.numvideos}}</strong></span><br>
                                                        <span class="title-videos">Videos</span>
                                                    </p>
                                                    <p class="answers">
                                                        <span class="number-answers"><strong>{{mentor.numAnswers}}</strong></span><br>
                                                        <span class="title-answers">Answers</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /End information of mentors -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Sidebar right -->
<div id="sidebar-right" ng-include="sidebarRight"></div>
<!-- End Sidebar right -->