<!-- main start -->
<main id="main" class="clearfix">
    <div id="sidebar-menu" class="sidebar-left">
        <div class="navigation ">
            <nav class="navbar">
                <div class="navbar-collapse">
                    <div class="mentor-infor">
                        <div class="mentor-infor-img">
                            <img src="assets/images/user.jpg">
                        </div>
                        <div class="mentor-infor-name">
                            <p>Welcome</p>
                            <p><strong>{{fullName}}</strong></p>
                        </div>                                           
                    </div> 
                    <div class="browse"><p>Browse</p></div>
                    <ul class="mobimenu nav sidebar-nav">                                     
                        <li class="active">
                            <a href="dashboard.html">
                                <span class="fa fa-tachometer"></span>
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <span data-icon="&#x77;"></span>
                                <span class="menu-title">Q&A</span>
                                <span data-icon="&#x34;" class="sub-menu"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <span data-icon="&#x49;"></span>
                                <span class="menu-title">Videos</span>
                                <span data-icon="&#x34;" class="sub-menu"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <span data-icon="&#xe101;"></span>
                                <span class="menu-title">Essay</span>
                                <span data-icon="&#x34;" class="sub-menu"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <span data-icon="&#x67;"></span>
                                <span class="menu-title">Analytics</span>
                                <span data-icon="&#x34;" class="sub-menu"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <span data-icon="&#xe08a;"></span>
                                <span class="menu-title">Profile</span>
                                <span data-icon="&#x34;" class="sub-menu"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="content">
        <div class="center-content">
            <div class="center-content-wrapper">
                <section id="dashboard">
                    <div class="dashboard-wrapper">
                        <div class="dashboard-header">    
                        <h4>Manage Video</h4>
                        <p>Ut a porttitor leo. Aliquam fermentum nec elit lobortis tristique </p>
                        </div>
                        <div class="manager-box-video">
                            <div class="row">
                                <div class="col-md-3 box-over">
                                    <div class="top-over clearfix">
                                        <span class="pull-left">overview</span>
                                        <span class="pull-right" data-icon="&#xe037;"></span>
                                        <div class="bx-video-play">
                                            <span><img src="assets/images/icon-play-box.png" alt=""></span>
                                            <span><b>{{dashboard.count_videos}}</b>&nbsp;videos</span><br/>
                                            <span><b>{{dashboard.count_playlist}}</b>&nbsp;playlist</span>
                                        </div>
                                    </div>
                                    <ul class="list-review">
                                        <li><img src="assets/images/icon-l-review.png" alt="">&nbsp;&nbsp;<b>{{dashboard.count_views}}</b>&nbsp;&nbsp;views</li>
                                        <li><img src="assets/images/icon-l-comments.png" alt="">&nbsp;&nbsp;<b>{{dashboard.count_comments}}</b>&nbsp;&nbsp;comments</li>
                                        <li class="clearfix"><span class="pull-left"><img src="assets/images/icon-l-star.png" alt="">&nbsp;&nbsp;<b>{{dashboard.avg_rating}}</b>&nbsp;&nbsp;rate</span>
                                            <ul class="list-star pull-left">
                                                <li><a href="#"><img src="assets/images/icon-star-l.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-star-l.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-star-l.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-star-l.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-star-h.png" alt=""></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 box-video-inner">
                                    <div class="video-detail active">
                                        <img src="{{v.image}}" alt="">
                                        <span class="icon-play-video"><img src="assets/images/icon-play-video.png" alt=""></span>
                                    </div>
                                    <div class="detail-vd">
                                        <!-- <h5>Ut at sem quis urna fringilla congue a <br/>in ex. Aliquam sed imperdiet elit</h5> -->
                                        <h5>{{v.description}}</h5>
                                        <div class="clearfix">
                                            <ul class="list-star pull-left">
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            </ul>
                                            <p class="list-view pull-right">
                                                <span><img src="assets/images/icon-pl.png" alt=""> {{v.numViews}}</span>&nbsp;&nbsp;
                                                <span><img src="assets/images/icon-like.png" alt=""> {{v.numFavourite}}</span>&nbsp;&nbsp;
                                                <span><img src="assets/images/icon-cm.png" alt=""> {{v.numComments}}</span>&nbsp;&nbsp;
                                            </p>
                                        </div>     
                                        <div class="clearfix">
                                            <h4 class="pull-left">newest</h4>
                                            <ul class="pull-right icon-sl">
                                                <li><a ng-click="newestPrev(newestPos)"><img src="assets/images/icon-left.png" alt="" ></a></li>
                                                <li><a ng-click="newestNext(newestPos)"><img src="assets/images/icon-right.png" alt="" ></a></li>
                                            </ul>
                                        </div>                                   
                                    </div>                                   
                                </div>
                                <div class="col-md-3 box-video-inner">
                                    <div class="video-detail">
                                        <img src="{{vTopRated.image}}" alt="">
                                        <span class="icon-play-video"><img src="assets/images/icon-play-video.png" alt=""></span>
                                    </div>
                                    <div class="detail-vd detail-vd-2">
                                        <h5>{{vTopRated.description}}</h5>
                                        <div class="clearfix">
                                            <ul class="list-star pull-left">
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            </ul>
                                            <p class="list-view pull-right">
                                                <span><img src="assets/images/icon-pl.png" alt=""> {{vTopRated.numViews}}</span>&nbsp;&nbsp;
                                                <span><img src="assets/images/icon-like.png" alt=""> {{vTopRated.numFavourite}}</span>&nbsp;&nbsp;
                                                <span><img src="assets/images/icon-cm.png" alt=""> {{vTopRated.numComments}}</span>&nbsp;&nbsp;
                                            </p>
                                        </div>
                                        <div class="clearfix">
                                            <h4 class="pull-left">top rated</h4>
                                            <ul class="pull-right icon-sl">
                                                <li><a ng-click="topRatedPre(topRatedPos)"><img src="assets/images/icon-left.png" alt=""></a></li>
                                                <li><a ng-click="topRatedNext(topRatedPos)"><img src="assets/images/icon-right.png" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 box-video-inner">
                                    <div class="video-detail">
                                        <img src="{{vTopViewed.image}}" alt="">
                                        <span class="icon-play-video"><img src="assets/images/icon-play-video.png" alt=""></span>
                                    </div>
                                    <div class="detail-vd detail-vd-3">
                                        <h5>{{vTopViewed.description}}</h5>
                                        <div class="clearfix">
                                            <ul class="list-star pull-left">
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            </ul>
                                            <p class="list-view pull-right">
                                                <span><img src="assets/images/icon-pl.png" alt=""> {{vTopViewed.numViews}}</span>&nbsp;&nbsp;
                                                <span><img src="assets/images/icon-like.png" alt=""> {{vTopViewed.numFavourite}}</span>&nbsp;&nbsp;
                                                <span><img src="assets/images/icon-cm.png" alt=""> {{vTopViewed.numComments}}</span>&nbsp;&nbsp;
                                            </p>
                                        </div>
                                        <div class="clearfix">
                                            <h4 class="pull-left">top viewed</h4>
                                            <ul class="pull-right icon-sl">
                                                <li><a ng-click="topViewedPre(topViewedPos)"><img src="assets/images/icon-left.png" alt=""></a></li>
                                                <li><a ng-click="topViewedNext(topViewedPos)"><img src="assets/images/icon-right.png" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row main-rate">
                                <div class="col-md-4">
                                    <div class="box-rate">
                                        <h4>Latest Rating</h4>
                                        <ul>
                                            <li class="clearfix" ng-if="ratings" ng-repeat="r in ratings track by $index">
                                                <span class="img-tb pull-left"><img src="{{r.imageUrl}}" alt=""></span>
                                                <div class="text-rate pull-left">
                                                    <h5>{{r.fullName}}</h5>
                                                    <div class="rate-star clearfix">
                                                        <span class="pull-left">rate ({{r.rating}}) </span>
                                                        <ul class="list-star pull-left">
                                                            <li><a href="#"><img src="assets/images/icon-star-l.png" alt=""></a></li>
                                                            <li><a href="#"><img src="assets/images/icon-star-l.png" alt=""></a></li>
                                                            <li><a href="#"><img src="assets/images/icon-star-l.png" alt=""></a></li>
                                                            <li><a href="#"><img src="assets/images/icon-star-l.png" alt=""></a></li>
                                                            <li><a href="#"><img src="assets/images/icon-star-l.png" alt=""></a></li>
                                                        </ul>
                                                    </div>
                                                    <p>video<span>{{r.title}}</span></p>
                                                </div>
                                            </li>                                           
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="box-l-comment">
                                        <h4>latest comments</h4>
                                        <div class="item-cm clearfix" ng-if="comments" ng-repeat="c in comments track by $index">
                                            <span class="img-tb pull-left"><img src="{{c.imageUrl}}" alt=""></span>
                                            <div class="pull-left detail-cm">
                                                <ul class="top-name">
                                                    <li><a href="#">{{c.fullName}}</a></li>
                                                    <li><span class="time">{{c.timestamp}} ago on</span></li>
                                                    <li><span class="question">How to learn Algebra effectively </span></li>
                                                </ul>
                                                <p>Sed neque ipsum, placerat quis pellentesque quis, aliquet non eros. Morbi at laoreet justo. Ut sodales egestas augue a tincidunt. Nullam nec nisi porta, vestibulum tellus sit amet, luctus ex</p>
                                            </div>
                                            <a class="pull-right btn-reply" href="#">reply</a>
                                        </div>                                       
                                        <p class="btn-load"><a href="#">load more comment</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>                
    </div>
    <div id="sidebar-right">
        <div class="right-content">
            <div class="right-content-tab">
                <div class="right-content-wrapper">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#group1"><span data-icon="&#xe050;"></span></a></li>
                        <li><a data-toggle="tab" href="#group2"><span data-icon="&#xe066;"></span></a></li>
                        <li><a data-toggle="tab" href="#group3"><span data-icon="&#xe033;"></span></a></li>
                    </ul>
                    <!-- Content of each tab -->                        
                    <div class="tab-content">
                        <!-- Content of tab All -->
                        <div id="group1" class="tab-pane active">
                            <div class="student-subcripted">
                                <div class="student-subcripted-title">
                                    <p>Students subscripted</p>
                                </div>
                                <div class="student-subcripted-content">
                                    <ul>
                                        <li>
                                            <div class="student-subcripted-img online">
                                                <img src="assets/images/mentor-01.jpg">
                                                <span class="offline"><img src="assets/images/ask question/online.png"></span>
                                            </div>
                                            <div class="student-subcripted-info">
                                                <p class="student-subcripted-name">
                                                    <strong>Brian M.Scott</strong>
                                                </p>
                                                <p class="student-subcripted-icon ">
                                                    <span data-icon="&#xe065;"></span>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="student-subcripted-img online">
                                                <img src="assets/images/mentor-01.jpg">
                                                <span class="offline"><img src="assets/images/ask question/online.png"></span>
                                            </div>
                                            <div class="student-subcripted-info">
                                                <p class="student-subcripted-name">
                                                    <strong>Brian M.Scott</strong>
                                                </p>
                                                <p class="student-subcripted-icon ">
                                                    <span data-icon="&#xe065;"></span>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="student-subcripted-img online">
                                                <img src="assets/images/mentor-01.jpg">
                                                <span class="offline"><img src="assets/images/ask question/online.png"></span>
                                            </div>
                                            <div class="student-subcripted-info">
                                                <p class="student-subcripted-name">
                                                    <strong>Brian M.Scott</strong>
                                                </p>
                                                <p class="student-subcripted-icon ">
                                                    <span data-icon="&#xe065;"></span>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="student-subcripted-img online">
                                                <img src="assets/images/mentor-01.jpg">
                                                <span class="offline"><img src="assets/images/ask question/online.png"></span>
                                            </div>
                                            <div class="student-subcripted-info">
                                                <p class="student-subcripted-name">
                                                    <strong>Brian M.Scott</strong>
                                                </p>
                                                <p class="student-subcripted-icon ">
                                                    <span data-icon="&#xe065;"></span>
                                                </p>
                                            </div>
                                        </li>                                                
                                    </ul>
                                    <div class="load-more"><button>Show more</button></div>
                                </div>
                            </div>
                            <div class="recently-activity">
                                <div class="recently-activity-title">
                                    <p>Recently Activity</p>
                                </div>
                                <div class="recently-activity-content">
                                    <ul>
                                        <li>
                                            <div class="number-content">
                                                <p></p>
                                            </div>
                                            <div class="recently-activity-info">
                                                <p class="recently-activity-time">
                                                    <span>2 hours ago</span>
                                                </p>
                                                <div class="recently-activity-status">
                                                    <span class="recently-activity-name">
                                                    Student name</span><span>Just rating your video</span>
                                                </div>
                                            </div>
                                        <li>
                                            <div class="number-content">
                                                <p></p>
                                            </div>
                                            <div class="recently-activity-info">
                                                <p class="recently-activity-time">
                                                    <span>2 hours ago</span>
                                                </p>
                                                <div class="recently-activity-status">
                                                    <span class="recently-activity-name">
                                                    Student name</span><span>Just rating your video</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="number-content">
                                                <p></p>
                                            </div>
                                            <div class="recently-activity-info">
                                                <p class="recently-activity-time">
                                                    <span>2 hours ago</span>
                                                </p>
                                                <div class="recently-activity-status">
                                                    <span class="recently-activity-name">
                                                    Student name</span><span>Just rating your video</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="number-content">
                                                <p></p>
                                            </div>
                                            <div class="recently-activity-info">
                                                <p class="recently-activity-time">
                                                    <span>2 hours ago</span>
                                                </p>
                                                <div class="recently-activity-status">
                                                    <span class="recently-activity-name">
                                                    Student name</span><span>Just rating your video</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="number-content">
                                                <p></p>
                                            </div>
                                            <div class="recently-activity-info">
                                                <p class="recently-activity-time">
                                                    <span>2 hours ago</span>
                                                </p>
                                                <div class="recently-activity-status">
                                                    <span class="recently-activity-name">
                                                    Student name</span><span>Just rating your video</span>
                                                </div>
                                            </div>
                                        </li>                                               
                                    </ul>
                                    <div class="load-more"><button>Show more</button></div>
                                </div>
                            </div>
                        </div>
                        <div id="group2" class="tab-pane">
                        </div>
                        <div id="group3" class="tab-pane">
                        </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--  end main -->

