<!-- main start -->
<main id="main">
    <div class="content ask-a-question">
        <!-- Breadcrum -->
        <div class="breadcrum">
            <div class="container">
                <h5>Siblinks / Mentor <span>/ {{mentor.fullName}}</span></h5>
            </div>
        </div><!-- /End Breadcrum -->
        <!-- Mentors profile header -->
        <div class="mentors-profile-headers">
            <div class="container">
                <div class="mentor-profile col-md-5">
                    <div class="top-mentors-img">
                        <img src="{{mentor.imageUrl}}">                                
                    </div>
                    <div class="top-mentors-info">
                        <p class="top-mentors-name">
                            <h4>{{mentor.fullName}}</h4>
                        </p>
                        <p><strong>Education:</strong> {{mentor.school}}</p>
                        <!-- <p data-icon="&#xe033; &#xe033; &#xe033; &#xe033; &#xe033;"></p> -->
                        <div ng-if="mentor.averageRating" star-rating stars="5" outer-star-selection="stars"  readonly="true" outer-percent="rating"
                                         rating-define="star" rating-stars="{{mentor.averageRating}}" star-radius="12" sel-color="gold" back-color="white"></div>
                    </div>
                    <div class="top-mentors-info-detail">
                        <div class="top-mentors-info-detail-wrapper">
                            <p>{{mentor.gender}}, {{mentor.bio}} years old</p>
                            <p class="skilled">
                                <strong>Skilled at</strong><br>
                                <span>{{mentor.skills}}</span>
                            </p>
                            <div class="about-mentor">
                                <strong>About me</strong><br>
                                <span>{{mentor.description}}</span>
                            </div>
                        </div>
                        <div class="subscribers-button" ng-if="subscribeInfo">
                            <button ng-click="subcribeMentor()">
                                <p class="subscribers" data-icon="&#x4c;" ng-if="!subscribeInfo.subscribed">
                                    <span>subscrible me</span>
                                </p>
                                <p id="subcribed" class="subscribers unsubcrib" data-icon="{{icon}}" ng-if="subscribeInfo.subscribed" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                                    <span>{{subscribeText}}</span>
                                </p>
                            </button>                                                  
                        </div>

                    </div>
                </div>
                <div class="summary-rate col-md-7">
                    <ul>
                        <li class="subcribers">
                            <span data-icon="&#x50;"></span>
                            <span class="number-rate">{{mentor.count_subscribers}}</span>
                            <h4>subcribers</h4>
                        </li>
                        <li class="answers">
                            <span data-icon="&#x77;"></span>
                            <span class="number-rate">{{mentor.count_answers}}</span>
                            <h4>answers</h4>
                        </li>
                        <li class="likes">
                            <span data-icon="&#xe030;"></span>
                            <span class="number-rate">{{mentor.count_likes}}</span>
                            <h4>likes</h4>
                        </li>
                        <li class="videos">
                            <span data-icon="&#x49;"></span>
                            <span class="number-rate">{{mentor.count_videos}}</span>
                            <h4>videos</h4>
                        </li>

                    </ul>
                </div>
            </div>
        </div><!-- /End Mentors profile header -->
        <!-- Container -->
        <div class="container">            
            <!-- Content -->
            <section class="content mentors-profile-content" ng-if="videos.length > 0">
                <div class="mentors-video-recently col-md-6 col-md-offset-3">
                    <div class="feature-video">
                        <div class="feature-thumnail">
                            <img src="{{videos[0].image}}">
                            <div class="hover-video">
                                <a href="/"><span data-icon="&#x45;"></span></a>
                            </div>
                        </div>
                        <div class="feature-detail">
                            <h5>{{videos[0].title}}</h5>
                            <p>Newest video uploaded</p>
                        </div>
                    </div>
                    <!-- Recently videos -->
                    <div class="video-recently">
                        <!-- Top videos -->
                        <div class="top-videos">
                            <div class="top-videos-wrapper col-xs-12">
                                <!-- top-mentor-header -->
                                <div class="top-videos-header">
                                    <div class="top-videos-header-title">
                                        <h4>Recently uploaded videos</h4>
                                    </div>
                                    <div class="see-more">
                                        <p>See More</p>
                                    </div>
                                </div><!-- /End top-mentor-header -->
                                <!-- List of top mentors -->
                                <div class="top-videos-list" ng-repeat="v in videos track by $index">
                                    <ul ng-if="$index >= 1">
                                        <li>
                                            <div class="video-thumnail">
                                                <img src="{{v.image}}">
                                                <div class="hover-video">
                                                    <a href="/"><span data-icon="&#x45;"></span></a>
                                                </div>
                                            </div>
                                            <div class="video-info">
                                                <p class="video title">
                                                    {{v.title}}
                                                </p>
                                                <p class="video-time">
                                                    <span>2 hours ago</span>
                                                </p>
                                                <p class="video-rate">
                                                    <span>Rate: {{v.averageRating}}({{v.numRatings}})</span>
                                                    <span data-icon="&#xe033; &#xe033; &#xe033; &#xe033; &#xe033;"></span>
                                                </p>
                                                <p class="video-view">
                                                    <span>Views: {{v.numViews}}</span>
                                                </p>
                                            </div>
                                        </li>                                       
                                    </ul>
                                </div><!-- /End list of top mentors -->
                            </div>        
                        </div><!-- /End top memtor -->
                    </div>
                </div>
                <div class="newest-answer col-md-3">
                    <div class="mentors-newest-answer">
                        <div class="mentors-newest-answerr-wrapper">
                            <!-- top-mentor-header -->
                            <div class="mentors-newest-answer-header">
                                <div class="mentors-newest-answer-title">
                                    <span data-icon="&#x5c;"></span><h4>Newest Answers</h4>
                                </div>
                                <div class="see-more" ng-if="answers">
                                    <p>See More</p>
                                </div>
                            </div><!-- /End top-mentor-header -->
                            <!-- List of answered mentors -->
                            <div class="mentor-profile-answered" ng-if="answers" ng-repeat="a in answers track by $index">
                                <ul>
                                    <li class="answered answered-01">
                                        <div class="number-answered">
                                            <p>{{$index + 1}}</p>
                                        </div>
                                        <div class="detail-answered">
                                            <p class="answered-time">
                                                {{a.timeStamp}}
                                            </p>
                                            <p class="answered-content">{{a.content}}</p>
                                            <p class="answered-rate">{{a.numLike}} 
                                                <span data-icon="&#xe089;" id="heart"></span> 
                                            </p>
                                        </div>
                                    </li>                                    
                                </ul>
                            </div>
                             <!-- Content -->
                           
                    </div><!-- /End top memtor -->
                </div>
            </section><!-- /End content -->

            <p ng-if="videos.length == 0">No videos here</p>
        </div><!-- End container -->
	</div>   
</main>
<!--  end main -->

