<div class="content ask-a-question " id="videos-details">
    <div class="breadcrum">
        <div class="container">
            <h5><a href="#/"> SibLinks</a> / <a href="#/videos">Tutorials<a> <span>/ {{displayName(videoInfo.firstName,videoInfo.lastName,videoInfo.userName)}}</span></h5>
            <div class="search">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" ng-enter="searchEnter()" class="form-control form-control-search" placeholder="Search" name="srch-term" id="srch-term" >
                        <div class="input-group-btn">
                            <button ng-click="searchEnter()" class="btn btn-default btn-search-video" ><span data-icon="&#x55;"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="body">
        <section class="content videos-details-content">
            <div class="video-details-playlist">`
                <div class="video-details-playlist-wrapper container">
                    <div class="video-iframe col-md-8" id="video">
                        {{errorInfo}}
                    </div>
                    <div class="series-video col-md-4">
                        <div class="related-video" title="{{videoPlaylistInfo.playlistname}}">
                            <h5>{{ videoPlaylistInfo.playlistname | limitTo: 73 }}{{videoPlaylistInfo.playlistname.length > 73 ? '...' : ''}}</h5>
                            <p class="owner-sum-vidoe">
                                <a href="#/student/mentorProfile/{{videoPlaylistInfo.userid}}"><span class="owner-video">{{displayName(videoPlaylistInfo.firstName,videoPlaylistInfo.lastName,videoPlaylistInfo.userName)}}</span></a>
                                <span class="video-count">{{index+1}} of {{videosList.length}} videos</span>
                            </p>
                            <ul scroller="videosPlayList" on-init="loadTo"  class="series-video-list" id="series-video-list">
                                <li id ="listPlaylist" ng-click="selectVideo($index)" ng-repeat="video in videosList track by $index"
                                    ng-class="{'active':currentvid==video.vid}"  class="video-list-item ">
                                    <div id="listPlaylist{{video.vid}}" class="content-warpper">
                                        <div>
                                            <div class="thumb-video">
                                                <img ng-src="{{video.image}}">
                                                <span class="video-time ">{{video.runningTime}}</span>
                                            </div>
                                            <div class="detail-video">
                                                <p class="title-video" title="{{video.title}}">
                                                    {{ video.title | limitTo: 73 }}{{video.title.length > 73 ? '...' : ''}}
                                                </p>
                                                <br>
                                                <span class="view-count">
                                                    view: <span>{{video.numViews}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="control-video">
                        <div class="left" ng-click="nextVideo('back')"><span data-icon="&#x34;"></span></div>
                        <div class="right" ng-click="nextVideo('next')"><span data-icon="&#x35;"></span></div>
                    </div>
                </div>
            </div>
            <div class="video-details-content container">
                <div class="post-comment col-md-8">
                    <div class="post-comment-wrapper">
                        <div class="video-details-description">
                            <h3 title="{{videoInfo.title}}">
                                {{ videoInfo.title | limitTo: 73 }}{{videoInfo.title.length > 73 ? '...' : ''}}</h3>
                            <span>from </span>
                            <a href="#/student/mentorProfile/{{videoInfo.userid}}">
                            <span class="own-video">{{displayName(videoInfo.firstName,videoInfo.lastName,videoInfo.userName)}}
                            </span></a><span class="video-time-add"> {{convertTime(videoInfo.timeStamp)}} </span>
                            <div class="video-mentor-details">
                                <div class="videos-rate">
                                    <div class="video-details-sub">
                                        <img ng-src="{{videoInfo.avatar}}">
                                        <div class="video-member-subcriber">
                                            <button id="btnsubs" class="subscribers" ng-class="{'unsubcrib':isSubscribe=='1'}"
                                                    data-icon="{{isSubscribe =='1'?'&#x4e;':'&#x4c;'}}" ng-Mouseover="hoverSubscribe(isSubscribe)"
                                                    ng-mouseleave="unHoverSubscribe(isSubscribe)" ng-click="setSubscribeMentor(videoInfo.userid)">
                                                <span id="spansubs" >{{isSubscribe == '1' ? 'Subscribed' : 'Subscribe'}}</span>
                                                <span class="number-subscribers">{{videoInfo.numsub}}</span>
                                            </button>
                                        </div>
                                        &nbsp;
                                        <button ng-if="userId" ng-disabled="isFavorite == '1'" class="favoriteVideo" ng-class="{'btn-warning':isFavorite =='1'}"
                                                id="btnFavorite" ng-click="addfavourite(videoInfo.vid)" ><span data-icon="&#xe031;"></span>Favorite</button>
                                    </div>
                                    <p class="videos-rate-infor">
                                        <span data-icon="&#x49;">{{videoInfo.numViews}}</span>
                                        &nbsp;&nbsp;
                                        <span ng-if="comments" data-icon="&#xe066;">{{comments.length}} </span>
                                    </p>
                                </div>
                            </div>
                            <div class="videos-start">
                                <span id="rateSpan">Rate
                                    <div ng-if="loadRate" star-rating stars="5" id="divRate"
                                          outer-star-selection="stars"
                                          ng-click="rateFunction(stars)"
                                          outer-percent="rating"
                                          rating-define="star"
                                          rating-stars="{{rateNum}}"
                                          star-radius="10" sel-color="gold"
                                          back-color="white"></div>
                                </span>
                            </div>
                            <p ng-if="videoInfo" read-more ng-model="videoInfo.description" words="false" length="100"></p>
                        </div>
                        <div class="video-comment post">
                            <div class="category">
                                <span>Catalogue:</span><span> {{videoInfo.subject}}</span>
                            </div>
                            <div class="video-comment-sum">
                                <h3 ng-if="comments">{{comments.length}} Comments</h3>
                                <h3 ng-if="!comments">0 Comments</h3>
                            </div>
                            <div class="post-footer">
                                <div class="input-group">
                                    <img  ng-if="userId" class="avatar" ng-src="{{avartar}}" alt="avatar">
                                    <textarea ng-if="userId" ng-click="clickTxtComent()"  ng-if="userId" class="form-control" placeholder="Add a comment" type="text" id="add-comment"></textarea>
                                    <div ng-if="userId"  class="left-border"></div>
                                    <div ng-if="userId" class="comment-action">
                                        <button ng-click="cencelComment()" class="cancel">Cancel</button>
                                        <button ng-click="addComment()" class="add-comment">Add comment</button>
                                    </div>
                                </div>
                                <ul class="comments-list">
                                    <li class="comment" ng-repeat="comment in comments">
                                        <a class="pull-left" href="#">
                                            <img class="avatar" ng-src="{{comment.imageUrl}}" alt="avatar">
                                        </a>
                                        <div class="comment-body">
                                            <div class="comment-heading">
                                                <h4 class="user">{{displayName(comment.firstName,comment.lastName,comment.userName)}}</h4>
                                                <h5 class="time">{{convertTime(comment.timestamp)}}</h5>
                                            </div>
                                            <p class="pre-wrap">{{comment.content}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related-video col-md-4">
                    <h3>Related videos</h3>
                    <ul class="related-video-list" ng-repeat="videoRelate in videosRelated">
                        <li class="video-list-item">
                            <div class="content-warpper">
                                <div class="thumb-video">
                                    <a href="#/videos/detailVideo/{{videoRelate.vid}}">
                                    <img ng-src="{{videoRelate.image}}"></a>
                                    <span class="video-time">{{videoRelate.runningTime}}</span>
                                </div>
                                <div class="detail-video">
                                    <p class="title-video">
                                        <a title="{{videoRelate.title}}" href="#/videos/detailVideo/{{videoRelate.vid}}">
                                            {{ videoRelate.title | limitTo: 50 }}{{videoRelate.title.length > 50 ? '...' : ''}}
                                        </a>
                                    </p>
                                    <span class="owner-video">from
                                          <a href="#/student/mentorProfile/{{videoRelate.userid}}">
                                          	<span class="own-video"> {{displayName(videoRelate.firstName,videoRelate.lastName,videoRelate.userName)}}</span>
                                          </a> </span><br>
                                    <span class="view-count">view: <span>{{videoRelate.numViews}}</span></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
