<div class="content ask-a-question no-playlist" id="videos-details">
    <!-- Breadcrum -->
    <div class="breadcrum">
        <div class="container">
            <h5><a href="#/"> SibLinks</a> / <a href="#/videos">Tutorials</a> /<span> {{displayName(videoInfo.firstName, videoInfo.lastName, videoInfo.userName)}}</span></h5>
            <!-- Search form -->
            <div class="search searchbrecrum">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" ng-enter="searchEnter()" class="form-control form-control-search" placeholder="Search" name="srch-term" id="srch-term" >
                        <div class="input-group-btn">
                            <button ng-click="searchEnter()" class="btn btn-default btn-search-video" ><span data-icon="&#x55;"></span></button>
                        </div>
                    </div>
                </form>
            </div><!-- /End Search form -->
        </div>

    </div><!-- /End Breadcrum -->
    <!-- Container -->
    <div class="body">
        <!-- Content -->
        <section class="content videos-details-content">
            <!-- Video details playlist -->
            <div class="video-details-playlist">
                <div class="video-details-playlist-wrapper container">
                    <!-- 16:9 aspect ratio -->
                    <div class="video-iframe noplaylist" >
                        <div id="video">
                            <!--<iframe width="100%" height="430px" src="https://www.youtube.com/embed/B7wkzmZ4GBw?enablejsapi=1" frameborder="0"></iframe>-->
                        </div>
                    </div>

                    <div class="control-video">
                        <div  class="left" ng-click="nextVideo('back')"><span data-icon="&#x34;"></span></div>
                        <div  class="right" ng-click="nextVideo('next')"><span data-icon="&#x35;"></span></div>
                    </div>

                    <!-- 4:3 aspect ratio -->
                    <!-- <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="embed-responsive-item" src="..."></iframe>
                    </div> -->
                </div>
            </div><!-- /End Video details playlist -->

            <!-- Video details content -->
            <div class="video-details-content container">
                <!-- Left side -->
                <div class="post-comment col-md-8">
                    <div class="post-comment-wrapper">
                        <div class="video-details-description">
                            <h3 title="{{videoInfo.title}}">
                                {{ videoInfo.title | limitTo: 73 }}{{videoInfo.title.length > 73 ? '...' : ''}}</h3>
                            <span>from </span>
                            <span class="own-video"><b><a href="#/student/mentorProfile/{{videoInfo.userid}}">{{displayName(videoInfo.firstName, videoInfo.lastName, videoInfo.userName)}}</a></b>
                            </span>
                            <span class="video-time-add"> &#8226; {{convertTime(videoInfo.timeStamp)}} </span>
                            <div class="video-mentor-details">
                                <div class="videos-rate">
                                    <div class="video-details-sub">
                                        <a href="#/student/mentorProfile/{{videoInfo.userid}}"><img ng-src="{{videoInfo.avatar}}"></a>
                                        <div class="video-member-subcriber">
                                            <button id="btnsubs" class="subscribers" ng-class="{'unsubcrib':isSubscribe=='1'}"
                                                    data-icon="{{isSubscribe =='1'?'&#x4e;':'&#x4c;'}}" ng-Mouseover="hoverSubscribe(isSubscribe)"
                                                    ng-mouseleave="unHoverSubscribe(isSubscribe)" ng-click="setSubscribeMentor(videoInfo.userid)">
                                                <span id="spansubs" >{{isSubscribe == '1' ? 'Subscribed' : 'Subscribe'}}</span>
                                                <span class="number-subscribers">{{videoInfo.numsub}}</span>
                                            </button>
                                        </div>
                                        <button ng-if="userId" ng-disabled="isFavorite == '1'" class="favoriteVideo" ng-class="{'btn-warning':isFavorite =='1'}"
                                                id="btnFavorite" ng-click="addfavourite(videoInfo.vid)" ><span data-icon="&#xe031;"></span>Favorite</button>
                                    </div>
                                    <p class="videos-rate-infor">
                                            <span class="videoRate">{{(videoInfo.averageRating == null) ? '0' : videoInfo.averageRating}} ({{videoInfo.numRatings}} votes)</span>
                                   			<span ng-if="loadRate" star-rating stars="5" id="divTotalRate"
	                                          outer-star-selection="stars"
	                                          outer-percent="rating"
	                                          rating-define="star"
	                                          rating-stars="{{videoInfo.averageRating}}"
	                                          rating-percent="{{videoInfo.averageRating*20}}"
	                                          star-radius="10" sel-color="gold"
	                                          back-color="white" title="{{videoInfo.averageRating}}"
	                                          readonly ="true"></span>
	                                          
                                        <span data-icon="&#x49;">{{(videoInfo.numViews == null) ? '0' : videoInfo.numViews}}</span>
                                        <span data-icon="&#xe066;">{{(videoInfo.numComments == null) ? '0' : videoInfo.numComments}} </span>
                                    </p>
                                </div>
                            </div>
                            <div class="videos-start">
                                <span style="float: left;" id="rateSpan">Rate 
                                     <div ng-if="loadRate" star-rating stars="5" id="divRate"
                                          outer-star-selection="stars1"
                                          ng-click="rateFunction(stars1)"
                                          outer-percent="rating"
                                          rating-define="star1"
                                          rating-stars="{{(numRating == null? 0 : numRating)}}"
                                          rating-percent="{{(numRating == null? 0 : numRating*20)}}"
                                          star-radius="10" sel-color="gold"
                                          back-color="white" title="{{numRating}}"></div>
                                </span>
                            </div>
                            <!--<div class="video-detail-script hide-text">-->
                                <!--Show 100 characters-->
                                <p ng-if="videoInfo" read-more ng-model="videoInfo.description" words="false" length="250"></p>
                                <!--<button class="read-more">Read more <span data-icon="&#x33;"></span></button>-->
                            <!--</div>-->
                        </div>
                        <div class="video-comment post">
                            <div class="category">
                                <span>Subject:</span><span> {{videoInfo.subject}}</span>
                            </div>
                            <div class="video-comment-sum">
                                <h3 ng-if="comments">{{comments.length}} Comments</h3>
                                <h3 ng-if="!comments">0 Comments</h3>
                            </div>
                            <div class="post-footer">
                                  <div>
                                     <div ng-if="msgSuccess" class="succesful">
                                        <span>{{msgSuccess}}</span>
                                     </div>
                                     <div ng-if="msgError" class="validate_error">
                                       <span>{{msgError}}</span>
                                     </div>
                                  </div>
                                <div class="input-group">
                                    <!--<img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">-->
                                    <!--<input type="text" ng-model="txtComment" class="form-control"-->
                                    <!--placeholder="Add a comment" type="text" id="add-comment"/>-->
                                    <!--<button class="btn btn-primary" ng-disabled="!txtComment" ng-click="addComment()">-->
                                    <!--Add comment-->
                                    <!--</button>-->
                                    <img  ng-if="userId" class="avatar" ng-src="{{avartar}}" alt="avatar">
                                    <textarea ng-click="clickTxtComent()"  ng-if="userId" class="form-control" placeholder="Add a comment" type="text" id="add-comment"></textarea>
                                    <div ng-if="userId" class="left-border"></div>
                                    <div ng-if="userId" class="comment-action">
                                        <button ng-click="cencelComment()" class="cancel">Cancel</button>
                                        <button ng-click="addComment()" class="add-comment">Add comment</button>
                                    </div>
                                </div>
                                <ul class="comments-list">
                                    <li class="comment" ng-repeat="comment in comments">
                                        <a class="pull-left" href="{{comment.userType=='M'? '#/student/mentorProfile/'+comment.userid : '#/student/studentProfile/'+comment.userid}}">
                                            <img class="avatar" ng-src="{{comment.imageUrl}}" alt="avatar">
                                        </a>
                                        <div class="comment-body">
                                            <div class="comment-heading">
                                                <h4 class="user"><a href="{{comment.userType=='M'? '#/student/mentorProfile/'+comment.userid:'#/student/studentProfile/'+comment.userid}}">{{displayName(comment.firstName, comment.lastName, comment.userName)}}</a></h4>
                                                <h5 class="time">{{convertTime(comment.timestamp)}}</h5>
                                            </div>
                                            <p class="pre-wrap">{{decodeContent(comment.content)}}</p>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- /End Left side -->

                <!-- Right side -->
                <div class="related-video col-md-4">
                    <h3>Related videos</h3>
                    <ul class="related-video-list">
                        <li class="video-list-item" ng-repeat="videoRelate in videosRelated">
                            <div class="content-warpper">
                                <div class="thumb-video" >
                                    <a href="#/videos/detailVideo/{{videoRelate.vid}}">
                                    	<img ng-src="{{videoRelate.image}}">
                                    </a>
                                    <span class="video-time">{{videoRelate.runningTime}}</span>
                                </div>
                                <div class="detail-video">
                                    <p class="title-video">
                                        <a title="{{videoRelate.title}}" href="#/videos/detailVideo/{{videoRelate.vid}}">
                                                {{ videoRelate.title | limitTo: 50 }}{{videoRelate.title.length > 50 ? '...' : ''}}
                                        </a>
                                    </p>
                                    <span class="owner-video">from
	                                    <span class="own-video">
	                                    	<a href="#student/mentorProfile/{{videoRelate.userid}}"> {{displayName(videoRelate.firstName, videoRelate.lastName, videoRelate.userName)}}</a>
	                                    </span>
	                                    
                                    </span><br>
                                    <span class="view-count">view: <span>{{videoRelate.numViews}}</span></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- /End Video details content -->

        </section><!-- /End content -->
    </div><!-- End container -->

</div>