<div id="main">
  <div class="wrap_search">
    <div class="data">
      <span class="title">{{topicSubAdmission[0][0].subName}}</span>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="navigate">
    <div class="wrap_navigate">
      <span class="active"><a href="#/admission" title="">College Admission</a></span>
      <span class="htg_right"></span>
      <span class="active"><a href="#/admission" title="">{{topicSubAdmission[0][0].nameAdmission}}</a></span>
      <span class="htg_right"></span>
      <span class="active">{{topicSubAdmission[0][0].subName}}</span>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="listVideoAdmission" ng-repeat="item in topicSubAdmission">
    <div class="item-topic">
      <span class="topic">{{item[0].name}}</span>
    </div>
    
    <div class="errorAdmission" ng-if="item[1].videos.length == 0">
      <span>{{errorData}}</span>
    </div>
    <div class="body_ct" ng-repeat="video in item[1].videos" id="{{video.vId}}" ng-click="showVideoDetail(item[0].idSubAdmission, item[0].id, video.vId)">
      <div class="icon_play">
        <div class="wrap_icon_play">
          <div class="wrap_htg_white">
            <span class="htg_white"></span>
          </div>
        </div>
        <img style="height: 90px;" ng-src="{{video.image}}" >
        <div class="clearfix"></div>
      </div>

      <div class="data_ct">
        <div class="wrap_text">
          <span class="title">{{video.title}}
            <span class="time">{{video.runningTime}}</span>
          </span>
          <span class="text">{{video.description}}</span>
        </div>
        <div class="rating">
            <img class="left" ng-repeat="star in video.arr_rate track by $index" ng-src="{{star}}">
          <span class="name">{{video.firstName}} {{video.lastName}}</span>
          <span class="point">Views: {{showNumberFormat(video.numViews)}}</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div> <!-- end .body_ct -->
    <div class="more_video" ng-if="item[1].videos.length > 0" ng-click="showmore(item[0].id)">Show More <img src="assets/img/show_more.png"></div>
  </div>
</div>
<!-- end #main -->
