<div class="content ask-a-question" id="college-admission">
      <!-- Breadcrum -->
      <div class="breadcrum">
          <div class="container">
              <h5><a href="#/"> SibLinks</a><span>/ College Admission</span></h5>
          </div>
      </div><!-- /End Breadcrum -->
      <!-- Container -->
      <div class="container">
          <!-- Content -->
          <section class="college-admission-content">
              <!-- Left content -->
              <div class="college-admission-content-wrapper col-md-8">
                  <div class="step-essay">
                      <h3>We help to make your essay stand out among the crowd</h3>
                      <div class="step">
                          <ul>
                          	<li ng-repeat="lstAdmission in listAdmission track by $index" id="admission{{$index+1}}" ng-class="$first? 'active': ''">
                                  <div style="cursor: pointer" class="step-apply" ng-click="viewStepAdmission($index + 1)">
                                      <h2>{{$index + 1}}</h2>
                                      <p>{{lstAdmission.name}}</p>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  <!-- <button class="back" ng-click="backStepAdmission()">Back</button>
                  <button class="next" ng-click="nextStepAdmission()">Next Step</button> -->
                  </div>
                  <div class="college-video">
                        <div class="video-list-content">
                          <div class="tutorial" ng-show="flagShowDivTuttorial">
                              <h5>Tutorial Videos</h5>
                              <ul>
                                  <li ng-repeat="lstVideoTutAdmission in listVideoTuttorialAdmission track by $index" ng-if="$index < displayNumberOfTutVideo">
                                      <div class="video-wrapper">
                                         	<div class="videos-subscription-thumnail">
                                              <a href="#/video_admission/{{lstVideoTutAdmission.vId}}">
                                                  <img ng-src="{{lstVideoTutAdmission.image}}">
                                              </a>
                                          </div>
                                          <div class="videos-title">
                                              <a href="#/video_admission/{{lstVideoTutAdmission.vId}}" title="{{lstVideoTutAdmission.title}}">{{lstVideoTutAdmission.title}}</a>
                                          </div>
                                          
                                          <div class="videos-time-add">
                                              <span class="video-poster" id="{{lstVideoTutAdmission.authorId}}" ng-click="showProfile($event)"> {{(lstVideoTutAdmission.firstName=='null'? lstVideoTutAdmission.firstName:'') + ' ' + (lstVideoTutAdmission.lastName=='null'?lstVideoTutAdmission.lastName:'')}}</span>
                                              <span> added {{caculateTimeElapsed(lstVideoTutAdmission.creationDate)}}</span>
                                          </div>
                                          <div class="videos-rate">
                                           	<p class="videos-start star-admission">
                                                  <span star-rating stars="5" id="divRate"
				                                          outer-star-selection="stars"
				                                          ng-click="rateFunction(stars)"
				                                          outer-percent="rating"
				                                          rating-define="star"
				                                          rating-stars="{{lstVideoTutAdmission.averageRating}}"
				                                          star-radius="6" sel-color="gold"
				                                          back-color="white">
				    	                            </span>
                                              </p>
                                              <p class="videos-rate-infor">
                                                  <span data-icon="&#x49;"> {{lstVideoTutAdmission.numViews}}</span>
                                              </p>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                              <div class="see-more" ng-click="showMoreTutVideo()" ng-show="flagShowMoreTutVideo"><span>Show more</span></div>
                          </div>
                          <div class="article" ng-show="flagShowDivArticle">
                              <h5>Articles</h5>
                              <ul>
                              	<div ng-repeat="lstArticleAdmission in listArticleAdmission track by $index" ng-if="$index < displayNumberOfArticle">
                              	<li data-toggle="modal" href="#article-detail{{$index}}">
                                      <div class="video-wrapper">
                                          <div class="videos-thumnail">
                                              <a href="javascript:void(0)"><img ng-src="{{lstArticleAdmission.image}}"></a>
                                          </div>
                                          <div class="video-header-infor">
                                              <div class="videos-title">
                                                  <a href="javascript:void(0)">{{lstArticleAdmission.title}}</a>
                                              </div>
                                              <div class="videos-time-add">
                                                  <span class="video-poster" id="{{lstArticleAdmission.authorId}}" ng-click="showProfile($event);$event.stopPropagation()">{{lstArticleAdmission.firstName + ' ' + lstArticleAdmission.lastName}}</span>
                                                  <span> added {{caculateTimeElapsed(lstArticleAdmission.createDate)}}</span>
                                              </div>
                                          </div>
                                          <div class="videos-rate">
                                              <p class="videos-start">
                                              <!-- <span data-icon="&#xe033;&#xe033;&#xe033;&#xe033;&#xe033;"></span> -->
                                              </p>
                                              <p class="videos-rate-infor">
                                                  <span data-icon="&#xe066;">{{lstArticleAdmission.numComments}}</span>
                                              </p>
                                          </div>
                                          <div class="video-description">
                                              <p class="pre-wrap">{{ lstArticleAdmission.description | limitTo: 160 }}{{lstArticleAdmission.description.length > 160 ? '...' :''}}</p>
                                          </div>
                                      </div>
                                  </li>
                                  <!-- Article popup -->
							        <div class="modal fade" id="article-detail{{$index}}">
							            <div class="modal-dialog modal-add-video modal-qa modal-article">
							                <div class="modal-content clearfix">
							                    <div class="col-md-3 left-question">
							                        <div class="article-detail-top">
							                            <a href="javascript:void(0)">
							                                <span class="article-detail-img">
							                                	<img  ng-src="{{lstArticleAdmission.imageUrl}}"/>
							                                </span>
							                                <span class="article-detail-title"><p>{{lstArticleAdmission.title}}</p></span>
							                            </a>
							                        </div>
							                        <div class="article-thumb">
							                            <a href="javascript:void(0)"><img ng-src="{{lstArticleAdmission.image}}"></a>
							                        </div>
							                        <div class="article-infor">
							                            <p>from <span class="name-mentor">{{lstArticleAdmission.firstName + ' ' + lstArticleAdmission.lastName}}</span> <span class="post-time">add {{caculateTimeElapsed(lstArticleAdmission.createDate)}} ago</span></p>
							                            <p class="video-view">
							                            	<span data-icon="&#xe066;">{{lstArticleAdmission.numComments}}</span>
							                                <!-- <span class="fa fa-eye">434</span> 
							                                <span data-icon="&#xe089;" class="heart">12</span> -->
							                            </p>
							                            <!-- <p class="rate-video">
							                                <span>Rate this article</span>
							                                <span data-icon="&#xe033;&#xe033;&#xe033;&#xe033;"></span>
							                            </p> -->
							                        </div>
							                        <!-- <button class="share">Share</button> -->
							                   </div>
							                   <div class="col-md-9 right-answer clearfix">
							
							                        <div class="article-detail-right-content-wrapper">
							                            <div scroller class="article-detail-right-content" data-ng-bind-html="comvertToDisplay(lstArticleAdmission.content)">
							                                <!-- <p data-ng-bind-html="comvertToDisplay(lstArticleAdmission.content)"></p> -->
							                            </div>
							                            <!-- <button class=read-more>Read more <span data-icon="&#x33;"></span></button> -->
							                        </div>
							                        <button type="button" class="close close-popup-detail" data-dismiss="modal" aria-label="Close">
							                            <span aria-hidden="true" data-icon="&#x51;"></span>
							                        </button>
							                   </div>
							                </div>
							            </div>
							        </div>
							        <!-- /End Article popup -->
                                  </div>
                              </ul>
                              <div class="see-more" ng-click="showMoreArticle()" ng-show="flagShowMoreArticle"><span>Show more</span></div>
                          </div>
                      </div>
                  </div>
                  <div  id="uploadEsaay" class="college-laststep" ng-show="isShowUploadEssay" ng-include="'src/app/admission/uploadEssay.tpl.html'"></div>
              </div><!-- /EndLeft content -->

              <!-- Right content -->
              <div class="college-admission-content-sidebar col-md-4">
                  <div class="college-admission-content-sidebar-wrapper">
                      <!-- Your essay -->
                      <div class="your-essay" ng-controller="yourEssayController" ng-include="'src/app/admission/yourEssay.tpl.html'"></div>
                     <!-- /End Your essay -->
                      <!-- /End top memtor -->
                      <!-- Top mentor -->
                      <div class="top-mentors" ng-include="'src/app/topMentor/topMentors.tpl.html'"></div><!-- /End top memtor -->
                  </div>                            
              </div><!-- /End Right content -->
          </section><!-- /End content -->
      </div><!-- End container -->   
      </div>