<div class="content ask-a-question no-playlist" id="videos-details">
    <!-- Breadcrum -->
    <div class="breadcrum">
        <div class="container">
            <h5>Siblinks / College Admission / Video <span>/ {{videoInfo.firstName +" " + videoInfo.lastName}}</span></h5>
            <!-- Search form -->
            <div class="search searchbrecrum">
                <!--<form class="navbar-form" role="search">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control form-control-search" placeholder="Search" name="srch-term" id="srch-term" >-->
                        <!--<div class="input-group-btn">-->
                            <!--<button class="btn btn-default btn-search-video" ><span data-icon="&#x55;"></span></button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            </div><!-- /End Search form -->
        </div>

    </div><!-- /End Breadcrum -->
    <!-- Container -->
    <div class="body">
        <!-- Content -->
        <section class="content videos-details-content">

            <!-- Video details playlist -->
            <div class="video-details-playlist">
                <div class="video-details-playlist-wrapper container">
                    <!-- 16:9 aspect ratio -->
                    <div class="video-iframe noplaylist" >
                        <div id="video">
                            <!--<iframe width="100%" height="430px" src="https://www.youtube.com/embed/B7wkzmZ4GBw?enablejsapi=1" frameborder="0"></iframe>-->
                        </div>
                    </div>
                    <!--<div class="control-video">-->
                        <!--<div  class="left" ng-click="nextVideo('back')"><span data-icon="&#x34;"></span></div>-->
                        <!--<div  class="right" ng-click="nextVideo('next')"><span data-icon="&#x35;"></span></div>-->
                    <!--</div>-->

                    <!-- 4:3 aspect ratio -->
                    <!-- <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="embed-responsive-item" src="..."></iframe>
                    </div> -->
                </div>
            </div><!-- /End Video details playlist -->

            <!-- Video details content -->
            <div class="video-details-content container">
                <!-- Left side -->
                <div class="post-comment col-md-8">
                    <div class="post-comment-wrapper">
                        <div class="video-details-description">
                            <h3>{{videoInfo.title}}</h3>
                            <span>from </span>
                            <a href="#/mentorProfile/{{videoInfo.userid}}"><span class="own-video">{{videoInfo.firstName +" " + videoInfo.lastName}}
                            </span></a>
                            <span class="video-time-add"> {{convertTime(videoInfo.creationDate)}} ago</span>
                            <div class="video-mentor-details">
                                <div class="videos-rate">
                                    <div class="video-details-sub">
                                        <a href="#/mentorProfile/{{videoInfo.userid}}"><img ng-src="{{videoInfo.avatar}}"></a>
                                        <!--<div class="video-member-subcriber">-->
                                            <!--<button id="btnsubs" class="subscribers" ng-class="{'unsubcrib':isSubscribe=='1'}"-->
                                                    <!--data-icon="&#x4c;" ng-Mouseover="hoverSubcribe()"-->
                                                    <!--ng-mouseleave="unHoverSubcribe()" ng-click="setSubscribeMentor(videoInfo.userid)">-->
                                                <!--<span id="spansubs" >Subscribe</span>-->
                                                <!--<span class="number-subscribers">{{videoInfo.numsub}}</span></button>-->

                                        <!--</div>-->
                                        &nbsp;
                                        <!--<button ng-if="userId" ng-disabled="isFavorite == '1'" class="favoriteVideo" ng-class="{'btn-warning':isFavorite =='1'}"-->
                                                <!--id="btnFavorite" ng-click="addfavourite(videoInfo.vid)" ><span data-icon="&#xe031;"></span>Favorite</button>-->
                                    </div>
                                    <p class="videos-rate-infor">
                                        <span data-icon="&#x49;">{{videoInfo.numViews}}</span>
                                        &nbsp;&nbsp;
                                        <span ng-if="comments" data-icon="&#xe066;">{{comments.length}} </span>
                                    </p>
                                </div>
                            </div>
                            <div class="videos-start">
                                <span style="float: left;" id="rateSpan">Rate
                                     <div ng-if="loadRate" star-rating stars="5" id="divRate"
                                          outer-star-selection="stars"
                                          ng-click="rateFunction(stars)"
                                          outer-percent="rating"
                                          rating-define="star"
                                          rating-stars="{{rateNum}}"
                                          star-radius="10" sel-color="gold"
                                          back-color="white"></div>
                                </span>

                            </div>
                            <!--<div class="video-detail-script hide-text">-->
                                <!--Show 100 characters-->
                                <p ng-if="videoInfo" read-more ng-model="videoInfo.description" words="false" length="250"></p>
                                <!--<button class="read-more">Read more <span data-icon="&#x33;"></span></button>-->
                            <!--</div>-->
                        </div>
                        <div class="video-comment post">
                            <!--<div class="category">-->
                                <!--<span>Catalogue:</span><span> {{videoInfo.subject}}</span>-->
                            <!--</div>-->
                            <div class="video-comment-sum">
                                <h3 ng-if="comments">{{comments.length}} Comments</h3>
                                <h3 ng-if="!comments">0 Comments</h3>
                            </div>
                            <div class="post-footer">
                                <div class="input-group">
                                    <!--<img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">-->
                                    <!--<input type="text" ng-model="txtComment" class="form-control"-->
                                    <!--placeholder="Add a comment" type="text" id="add-comment"/>-->
                                    <!--<button class="btn btn-primary" ng-disabled="!txtComment" ng-click="addComment()">-->
                                    <!--Add comment-->
                                    <!--</button>-->
                                    <img  ng-if="userId" class="avatar" ng-src="{{avartar}}" alt="avatar">
                                    <textarea ng-click="clickTxtComent()"  ng-if="userId" class="form-control" placeholder="Add a comment" type="text" id="add-comment"></textarea>
                                    <div class="left-border"></div>
                                    <div ng-if="userId" class="comment-action">
                                        <button ng-click="cencelComment()" class="cancel">Cancel</button>
                                        <button ng-click="addComment()" class="add-comment">Add comment</button>
                                    </div>
                                </div>
                                <ul class="comments-list">
                                    <li class="comment" ng-repeat="comment in comments">
                                        <a class="pull-left" href="#">
                                            <img class="avatar" ng-src="{{comment.imageUrl}}" alt="avatar">
                                        </a>
                                        <div class="comment-body">
                                            <div class="comment-heading">
                                                <h4 class="user">{{comment.firstName+" "+ comment.lastName}}</h4>
                                                <h5 class="time">{{convertTime(comment.timestamp)}}</h5>
                                            </div>
                                            <p class="pre-wrap">{{comment.content}}</p>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- /End Left side -->

                <!-- Right side -->
                <div class="related-video col-md-4">
                    <h3>Related videos</h3>
                    <ul class="related-video-list" ng-repeat="videoRelate in videosRelated">
                        <li class="video-list-item">
                            <div class="content-warpper">

                                <div class="thumb-video" >
                                    <a href="#/video_admission/{{videoRelate.vid}}"><img ng-src="{{videoRelate.image}}"></a>
                                </div>
                                <div class="detail-video">
                                    <a href="#/video_admission/{{videoRelate.vid}}"><p class="title-video">
                                        {{videoRelate.title}}
                                    </p></a>
                                    <span class="owner-video">
                                                        from
                                            <a href="#/mentorProfile/{{videoRelate.userid}}"><span class="own-video"> {{videoRelate.firstName +" " + videoRelate.lastName}}</span>
                                                    </a></span><br>
                                    <span class="view-count">
                                                        view: <span>{{videoRelate.numViews}}</span>
                                                    </span>
                                </div>

                            </div>
                        </li>

                    </ul>
                </div>
            </div><!-- /End Video details content -->

        </section><!-- /End content -->
    </div><!-- End container -->

</div>
