    <!-- Your essay header -->
    <div class="your-essay-header">
        <div class="your-essay-header-title">
            <span data-icon="&#x5c;"></span><h3>Your Essays</h3>
        </div>
        <!--<div class="see-more">-->
            <!--<p><a href="#">See more</a></p>-->
        <!--</div>-->
    </div><!-- /End Your essay header -->
    <!-- Your essay Content -->
    <div class="your-essay-content" scroller="scroll-essay" data-on-total-scroll="loadMoreEssay">
        <ul>
            <li class="essay essay-01"  ng-repeat="essay in listEssays  track by $index" ng-click="showModal($index)">
                <div class="number-essay">
                    <p></p>
                </div>
                <div class="detail-essay col-xs-offset-1">
                    <div class="infor-of-essay">
                        <p><span class="essay-time">Uploaded {{convertUnixTimeToTime(essay.docSubmittedDate)}}</span></p>
                        
                        <p class="essay-title">{{ essay.nameOfEssay | limitTo: 100 }}{{essay.nameOfEssay.length > 100 ? '...' : ''}}</p>
                        <p><span star-rating stars="5" class="essayRate"
                                          outer-star-selection="stars"
                                          ng-click="rateFunction(stars)"
                                          outer-percent="rating"
                                          rating-define="star"
                                          rating-stars="{{essay.averageRating}}"
                                          star-radius="6" sel-color="gold"
                                          back-color="white"
                                          readonly="true"></span>
                                          </p>
                        <p ng-if="essay.STATUS =='W'"><span class="essay-wait-review">Waiting for review</span></p>
                        <p ng-if="essay.STATUS !='W'"><span class="essay-{{essay.STATUS=='P'?'reviewing':'answers'}}">{{essay.STATUS=='P'?'Reviewing':'Answered'}}</span>
                            <span>by </span><span style="line-height: 25px;" class="mentor-review"><a href="#/student/mentorProfile/{{essay.mentorID}}">{{displayName(essay.firstName,essay.lastName,essay.userName)}}</a></span></p>
                    </div>
                </div>
                <div ng-if="$last" class="number-essay" style=" margin-top: 10px;">
                    <p></p>
                </div>
            </li>
        </ul>
    </div>
    <!-- Essay popup -->
    <div class="modal fade" id="essay-detail"> 
        <div class="modal-dialog modal-add-video modal-qa modal-article modal-essay">
            <div class="modal-content clearfix">
                <div class="col-md-3 left-question">
                    <h3>Essay detail</h3>
                    <div class="essay-detail-top">
                        <h4 ng-bind="currentEssay.nameOfEssay"></h4>
                        <span class="post-time">Submitted {{convertUnixTimeToTime(currentEssay.docSubmittedDate)}}</span>
                    </div>
                    <div class="essay-thumb"  ng-if="currentEssay.status =='W' ">
                        <p><span class="essay-wait-review">Waiting for review</span></p><br>
                    </div>
                    <div class="essay-thumb"  ng-if="currentEssay.status !='W'">
                        <div class="essay-thumb-left">
                            <p>Mentor:</p>
                            <p class="name-mentor"><a data-dismiss="modal" ng-click="transferPage('/student/mentorProfile/' + currentEssay.mentorId)">{{displayName(currentEssay.mfirstName,currentEssay.mlastName,currentEssay.muserName)}}</a>
                            </p>
                            <p><span class="essay-{{currentEssay.status=='P'?'reviewing':'answers'}}">{{currentEssay.status=='P'?'Reviewing':'Answered'}}</p><br>
                        </div>
                        <div class="essay-thumb-right">
                            <a data-dismiss="modal" ng-click="transferPage('/student/mentorProfile/' + currentEssay.mentorId)"><img ng-src="{{currentEssay.mavatar}}"></a>
                        </div>
                    </div>
                    <div class="essay-infor" ng-if="currentEssay.status =='R'">
                        <p class="rate-video">
                            <span>Rate this reply</span>
                            <span star-rating stars="5"
                                          outer-star-selection="stars"
                                          ng-click="rateFunction(stars)"
                                          outer-percent="rating"
                                          rating-define="star"
                                          rating-stars="{{currentEssay.averageRating}}"
                                          star-radius="8" sel-color="gold"
                                          back-color="white"></span>
                        </p>
                    </div>
                    <!-- <button class="share">Share</button> -->
                    <div class="action-essay">
                        <button ng-click="editEssay()" ng-if="currentEssay.status !='R'" class="edit">Edit</button>
                        <button ng-really-message="Are you sure you want to delete?" ng-really-click ="removeEssay(currentEssay.uploadEssayId)" ng-if="currentEssay.status !='R'" class="delete">Delete</button>
                    </div>
                </div>
                <div class="col-md-9 right-answer clearfix">
                    <h4>Description</h4>
                    <button type="button" class="close close-popup-detail" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" data-icon="&#x51;"></span>
                    </button>
                    <div class="essay-detail-right-content-wrapper" scroller="detailEssay1">
                        <div class="essay-detail-right-content">
                            <p class="pre-wrap" >{{currentEssay.descriptionOfEssay}}</p>
                            <div class=""></div>
                            <!-- <button class=read-more>Read more <span data-icon="&#x33;"></span></button> -->
                            <div class="attrach-file">
                                <a href="{{currentEssay.downloadLinkS}}"><label for="attached"><span data-icon="&#xe092;"> Attached file</span></label></a>
                                <span>{{currentEssay.urlFile}}</span>
                            </div>
                            
                        </div>
                        <div ng-if="currentEssay.status =='R'" class="essay-detail-right-content">
                            <div ng-if="currentEssay.status =='R'" class="answer-by">
                                <span class="mentor-answer">Replied by <a style="cursor:pointer" data-dismiss="modal" ng-click="transferPage('/student/mentorProfile/' + currentEssay.mentorId)">{{displayName(currentEssay.mfirstName,currentEssay.mlastName,currentEssay.muserName)}}</a>
                             </span><br/>
                                <span class="post-time">{{convertUnixTimeToTime(currentEssay.docReviewedDate)}}</span>
                            </div>                            
                            <p class="pre-wrap" ng-if="currentEssay.mentorComment" >{{currentEssay.mentorComment}}</p>
                            <div class=""></div>
                            <!-- <button class=read-more>Read more <span data-icon="&#x33;"></span></button> -->
                            <div class="attrach-file" ng-if="currentEssay.downloadLinkM">
                                <a href="{{currentEssay.downloadLinkM}}"><label for="attached"><span data-icon="&#xe092;"> Attached file</span></label></a>
                                <span>{{currentEssay.urlReview}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /End Essay popup -->