    <!-- Your essay header -->
    <div class="your-essay-header">
        <div class="your-essay-header-title">
            <span data-icon="&#x5c;"></span><h3>Your Essays</h3>
        </div>
        <div class="see-more">
            <p><a href="#">See more</a></p>
        </div>
    </div><!-- /End Your essay header -->
    <!-- Your essay Content -->
    <div class="your-essay-content" >
    <ul>
        <li class="essay essay-01"  ng-repeat="essay in listEssays track by $index" ng-click="showModal($index)">
            <div class="number-essay">
                <p></p>
            </div>
            <div class="detail-essay col-xs-offset-1">
                <div class="infor-of-essay">
                    <p><span class="essay-time">Upload {{convertUnixTimeToTime(essay.docSubmittedDate)}} ago </span></p>
                    <p class="essay-title">{{essay.nameOfEssay}}</p>
                    <p ng-if="essay.STATUS =='W'"><span class="essay-wait-review">Waiting for review</span></p>
                    <p ng-if="essay.STATUS !='W'"><span class="essay-{{essay.STATUS=='R'?'reviewing':'answers'}}">{{essay.STATUS=='R'?'Reviewing':'Answered'}}</span><span>by mentor: </span><span class="mentor-review">{{essay.firstName+' '+essay.lastName}}</span></p>
                </div>
            </div>
        </li>

    </ul>
    </div><!-- /End Your essay Content -->
   <div class="modal fade" id="essay-detail">
    <div scroller="essay-detail" class="modal-dialog modal-add-video modal-qa modal-article modal-essay">
        <div class="modal-content clearfix">
            <div class="col-md-3 left-question">
                <h3>Essay detail</h3>
                <div class="essay-detail-top">
                    <h5>{{currentEssay.nameOfEssay}}</h5>
                    <span class="post-time">add {{convertUnixTimeToTime(currentEssay.docSubmittedDate)}} ago</span>
                </div>
                <div class="essay-thumb">
                    <div class="essay-thumb-left">
                        <!--<p>Mentor:</p>
                        <p class="name-mentor"><a href="#/mentorProfile/{{currentEssay.mentorID}}">
                            {{currentEssay.firstName+' '+currentEssay.lastName}}</a></p>-->
                        <p><span class="essay-reviewing">Reviewing</span></p>
                        <br>
                    </div>
                    <!-- <div class="essay-thumb-right">
                        <a href="#"><img ng-src="{{currentEssay.avatar}}"></a>
                    </div>-->
                    
                </div>
                <!--<div class="essay-infor">
                    <p class="rate-video">
                        <span>Rate this reply</span>
                        <span data-icon="&#xe033;&#xe033;&#xe033;&#xe033;"></span>
                         <button class="share">Share</button> 
                    </p>
                </div>-->
                <button class="share">Share</button>
                <div class="action-essay">
                  <button class="edit">Edit</button>
                  <button class="delete">Delete</button> 
                </div>
            </div>
            <div class="col-md-9 right-answer clearfix">
                <h4>Desciption</h4>
                <button type="button" class="close close-popup-detail" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" data-icon="&#x51;"></span>
                </button>
                <div class="essay-detail-right-content-wrapper">

                    <div class="essay-detail-right-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <button class=read-more>Read more <span data-icon="&#x33;"></span></button>
                        <div class=""></div>
                        <div class="attrach-file">
                            <label for="attached"><span data-icon="&#xe092;"> Attached file</span></label>
                            <input type="file" id="attached" name="attached[]" />
                        </div>
                    </div>
                    <div class="essay-detail-right-content">
                        <h5>Desciption</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <button class=read-more>Read more <span data-icon="&#x33;"></span></button>
                        <div class=""></div>
                        <div class="attrach-file">
                            <label for="attached"><span data-icon="&#xe092;"> Attached file</span></label>
                            <input type="file" id="attached" name="attached[]" />
                        </div>
                    </div>
                    <div class="essay-detail-right-content">
                        <h5>Desciption</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <button class=read-more>Read more <span data-icon="&#x33;"></span></button>
                        <div class=""></div>
                        <div class="attrach-file">
                            <label for="attached"><span data-icon="&#xe092;"> Attached file</span></label>
                            <input type="file" id="attached" name="attached[]" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
