<div class="navigation " ng-controller="SideLeftRightController">
    <nav class="navbar">
        <div class="navbar-collapse">
            <div class="mentor-infor">
                <div class="mentor-infor-img">
                    <img ng-src="{{imageUrl != null ? imageUrl : 'assets/images/noavartar.jpg'}}" err-src="assets/images/noavartar.jpg"/>
                </div>
                <div class="mentor-infor-name">
                    <p>Welcome</p>
                    <p>
                        <strong ng-if="firstName == ' '">&nbsp;</strong>
                        <strong ng-if="firstName != ' '">{{firstName}}</strong>
                    </p>
                </div>
            </div>
            <div class="browse"><p>&nbsp;</p></div>
            <ul class="mobimenu nav sidebar-nav">
                <li ng-class="{active: currentPath=='/mentor/dashboard'}">
                    <a href="javascript:void(0)" ng-click="showFullLeftSideBar('/mentor/dashboard')">
                        <span class="fa fa-tachometer"></span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li ng-class="{active: currentPath=='/mentor/managerQA'}">
                    <a href="javascript:void(0)" ng-click="showFullLeftSideBar('/mentor/managerQA')">
                        <span data-icon="&#x77;"></span>
                        <span class="menu-title">Q&A</span>
                        <!-- <span data-icon="&#x34;" class="sub-menu"></span> -->
                    </a>
                </li>
                <li ng-class="{active: (currentPath =='/mentor/mentorVideo' || currentPath =='/mentor/videoManager' ||  currentPath == '/mentor/playlistManager')}">
                    <a href="javascript:void(0)" ng-click="showSubMenu('/mentor/managerQA','sub-menu-video')">
                        <span data-icon="&#x49;"></span>
                        <span class="menu-title">Tutorials</span>
                        <span data-icon="&#x34;" class="sub-menu" id="menu-video"
                              ng-class="{show : (currentPath =='/mentor/mentorVideo' || currentPath =='/mentor/videoManager' ||  currentPath == '/mentor/playlistManager')}"></span>
                    </a>
                    <ul class="menuSubmenu" id="sub-menu-video"
                        ng-class="{show : (currentPath =='/mentor/mentorVideo' || currentPath =='/mentor/videoManager' ||  currentPath == '/mentor/playlistManager')}">
                        <li ng-class="{active : currentPath == '/mentor/mentorVideo'}">
                            <a href="#/mentor/mentorVideo">
                                <span class="menu-title">General</span>
                            </a>
                        </li>
                        <li ng-class="{active : currentPath == '/mentor/videoManager'}">
                            <a href="#/mentor/videoManager">
                                <span class="menu-title">Videos</span>
                            </a>
                        </li>
                        <li ng-class="{active : currentPath == '/mentor/playlistManager'}">
                            <a href="#/mentor/playlistManager">
                                <span class="menu-title">Playlists</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: currentPath=='/mentor/essay'}">
                    <a href="javascript:void(0)" ng-click="showFullLeftSideBar('/mentor/essay')">
                        <span data-icon="&#xe101;"></span>
                        <span class="menu-title">Essay</span>
                        <!-- <span data-icon="&#x34;" class="sub-menu"></span> -->
                    </a>
                </li>
                <!--  <li ng-class="{active: currentPath=='/mentor/analytics'}">
                     <a href="#/mentor/analytics">
                         <span data-icon="&#x67;"></span>
                         <span class="menu-title">Analytics</span>
                         <span data-icon="&#x34;" class="sub-menu"></span>
                     </a>
                 </li> -->
                <li ng-class="{active: currentPath=='/mentor/mentorProfile' || currentPath.indexOf('/mentor/studentProfile/')>=0}">
                    <a href="#/mentor/mentorProfile" ng-click="showFullLeftSideBar()">
                        <span data-icon="&#xe08a;"></span>
                        <span class="menu-title">Profile</span>
                        <!-- <span data-icon="&#x34;" class="sub-menu"></span> -->
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>