<div class="content ask-a-question">
       <!-- Breadcrum -->
       <div class="breadcrum">
           <div class="container">
               <h5><a href="#">Siblinks</a> <span>/ Contact us</span></h5>
           </div>
       </div><!-- /End Breadcrum -->
       <!-- Container -->
       <div class="container">                
           <!-- Content -->
           <section class="ask-a-question-content" id="contact">
               <!-- Question of user -->                                
               <div class="content-contact">
                   <div class="content-contact-wrapper">
                       <div class="map-contact">
                           <div class="">
                               <iframe  src="https://www.google.com/maps/embed/v1/place?q=3233%20De%20La%20Cruz%20Blvd%20%20Suite%20D%20Santa%20Clara&key=AIzaSyAntngbzsMjywqJkHcnMlhutTX2bQzxy54" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                           </div>
                       </div>
                       <div class="send-contact-form">
                           <h4>Send us an Email</h4>
                           <form action="" method="">
                               <div ng-if="msgError!==undefined && msgError!=''" class="validate_error">
						          <span >{{ msgError }}</span>
						       </div>
						       <div ng-if="msgSuccess" class="succesful">
							          <span>{{msgSuccess}}</span>
							    </div>
                               <div class="contact-form-body">
                                   <p class="contact-subject">
                                   	<input id="txtName" type="text" placeholder="{{contact.name ? contact.name : 'Name'}}" ng-model="contact.name" name="name" ng-enter="btnSubmit(contact)"/>
                                   </p>
                                   <p class="contact-email">
                                   	<input id="txtEmail" type="email" placeholder="Email" ng-model="contact.email" name="email" ng-enter="btnSubmit(contact)"/>
                                   	</p>
                                   <p class="contact-phone">
                                   	<input id="txtPhone" mask="(888) 888-8888" restrict="reject" type="text" placeholder="Ex: (888) 888-8888" ng-model="contact.phone" name="phone" ng-enter="btnSubmit(contact)"/>
                                   	</p>
                                   <p class="contact-subject">
                                   	<input id="txtSubject" type="text" placeholder="Subject" ng-model="contact.subject" name="subject" ng-enter="btnSubmit(contact)"/>
                                   	</p>
	                              <p class="message">
 									<textarea id="txtMessage" type="textarea" ng-model ="contact.message" name="message" placeholder="Message"></textarea>
 								 </p>
                               </div>
                               <div>
                                   <button type="button" id="submit" ng-click="btnSubmit(contact)">Send</button>
                               </div>
                           </form>
                       </div>
                   </div>
               </div>
               <div class="right-sidebar col-lg-4">
                   <div class="contact-infor">
                       <div class="contact-infor-wrapper col-xs-12">
                           <!-- top-mentor-header -->
                           <div class="contact-infor-header">
                               <span data-icon="&#x5c;"></span><h4>Siblinks</h4>
                           </div>
                           <div class="contact-infor-content">
                               <div class="sl-address">
                                   <strong>Address</strong>
                                   <p>3233 De La Cruz Blvd </br>Suite D Santa Clara</br> CA 95054</p>
                               </div>
                               <div class="sl-email">
                                   <strong>Email us</strong>
                                   <p><a href="mailto:help@siblinks.com">help@siblinks.com</a></p>
                               </div>
                               <div class="sl-social">
                                   <a href="#"><span data-icon="&#xe0aa;"></span></a>
                                   <a href="#"><span data-icon="&#xe0ab;"></span></a>
                                   <a href="#"><span data-icon="&#xe0ae;"></span></a>
                                   <a href="#"><span data-icon="&#xe0b8;"></span></a>
                                   <a href="#"><span data-icon="&#xe0ba;"></span></a>
                               </div>
                           </div><!-- /End top-mentor-header -->
                       </div>        
                   </div>
                   <!-- Top mentor -->
                   <div class="top-mentors"  ng-include="'src/app/topMentor/topMentors.tpl.html'"></div>
               </div>
           </section><!-- /End content -->
       </div><!-- End container -->
</div>