
.article-detail-content{    
    height: 60%;
}

.article-detail-top img{
    height: 48px;
}

.show-article-popup {
	left:0;
}

.video-admission-content {
    width: 100%;
}

.videos-admission-description {
    margin: 50px 0px 50px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
}

.admission-author {
    cursor: pointer;
}

.admission-star-rate {
	color: #ffcc00;
}

.article-detail-right-content > p {
    padding-bottom: 40px;
    padding-right: 15px;
    overflow: auto;
    max-height: 500px;
 }

 
 .mCSB_draggerContainer {
 	padding-bottom: 45px;
 }
 
 
 .video-list-content-subscription li {
  height: 300px;
}

.videos-subscription-thumnail {
    position: relative;
    max-width: 100%;
    height: 150px;
}

.videos-subscription-title {
	font-weight: 600;
  	margin: 10px 0px 2px 0;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}

.video-author {
    cursor: pointer;
}

.video-star-rate {
	color: #ffcc00;
}
#student-profile-information .top-mentor-header-title > span {
    margin-top: 11px;
    margin-right: 5px;
}
.video-list .tab-pane {
    width: 100%;
    overflow: hidden;
}
.video-list-content {
    float: left;
    position: relative;
    width: 100%;
}