.article-detail-content {
  height: 60%;
}

.article-detail-top img {
  height: 48px;
}

.show-article-popup {
  left: 0;
}

.video-admission-content {
  width: 100%;
}

.videos-admission-description {
  margin: 50px 0px 50px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
}

.admission-author {
  cursor: pointer;
}

.admission-star-rate {
  color: #ffcc00;
}

.article-detail-right-content > p {
  padding-bottom: 40px;
  padding-right: 15px;
  overflow: auto;
  max-height: 500px;
}

.video-list-content-subscription li {
  height: 300px;
}

.videos-subscription-thumnail {
  position: relative;
  max-width: 100%;
  height: 150px;
}

.videos-subscription-title {
  font-weight: 600;
  margin: 10px 0px 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-author {
  cursor: pointer;
}

.video-star-rate {
  color: #ffcc00;
}

#student-profile-information .top-mentor-header-title > span {
  margin-top: 11px;
  margin-right: 5px;
}

.video-list .tab-pane {
  width: 100%;
  overflow: hidden;
}

.video-list-content {
  float: left;
  position: relative;
  width: 100%;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.pre-wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.btn-search-video {
  padding: 9px 12px;
}

.form-control-search {
  border: 1px solid #ccc;
  padding: 6px 12px;
}

.item-fix-size {
  width: 196px !important;
  height: 110px;
}

.avatar-fix-size {
  width: 48px;
  height: 48px;
  border-radius: 50%
}

.avatar-fix-max-size60 {
  width: 60px !important;
  height: 60px !important;
}

.box-comment-fix {
  height: 567px;
}

.popup-padding {
  padding: 20px;
}

#srch-term_dropdown {
  margin-top: 34px;
}

#starPoint {
  float: left;
  top: 0px;
  margin-left: 0px;
}

#rate-studentMentorProfile {
  float: none;
  top: 3px;
}

.modal-add-video.modal-sm {
  width: 400px !important;
}

.see-more span {
  float: right;
  margin-right: 10px;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  cursor: pointer;
}

.see-more span:hover {
  float: right;
  margin-right: 10px;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #ffcc00;
  cursor: pointer;
}

.detail-pl-inner h5 {
  text-align: left;
}

.disableScroll {
  overflow: hidden;
}

.favoriteVideo {
  border: 1px solid #cececd;
  border-radius: 4px;
  padding: 8px 10px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 5px;
  height: 38px;
}

#divRateTopMentop {
  width: 100%;
  float: right;
  position: relative;
  margin-left: 5px;
}

#mCSB_1_container {
  margin-right: 10px;
}

/*
  HoaiNT edit css for image preview in popup edit playlist
*/

.modal-preview {
  position: fixed;
  z-index: 1;
}

.modal-preview .imgThumb {
  margin-top: -7px;
  width: 100%;
  height: 208px;
  padding-right: 20px
}

/*
  HoaiNT fix css Video general
*/

.manager-box-video .box-video-inner .detail-vd h5 {
  font-size: 18px;
  color: #fff;
}

.manager-box-video .box-video-inner .detail-vd h4 {
  margin-left: 5px;
}

.manager-box-video .box-video-inner .detail-vd h5 {
  margin-left: 5px;
}

.list-star-mentor-video {
  margin-top: 10px;
}

/*
  Dashboard
*/

.dashboard-top {
  margin-top: 25px;
}

.star-align {
  margin-left: -3px !important;
}

/*
* Tavv : fix height avatar in student profile
*/

.student-img img {
  height: 120px;
}

.imp-carousel {
  border-radius: 50% !important;
  width: 48px !important;
  height: 48px !important;
}

.favorite-field p {
  font-weight: 600;
}

.subject-field p {
  font-weight: 600;
  margin-top: 5px;
}

.show-less {
  overflow: hidden;
  height: 2em;
}

.show-more {
  overflow: visible;
  height: auto;
}

.box-duration {
  width: 21%;
}

.playlist-detail-fix-img {
  width: 292px;
  height: 165px;
}

.recently-activity-content {
  position: absolute;
  height: 70%;
}

.step-apply p {
  margin-left: -51px;
  width: 100%;
}

/*Student. ModalImage*/
div#modalImage #myCarousel {
  margin-top: 41px;
}

div#modalImage .carousel-indicators {
  bottom: -35px;
}

div#modalImage .carousel-indicators li {
  margin: 0 5px;
}

div#modalImage a.right.carousel-control {
  right: 0px;
  top: 35%;
}

div#modalImage a.left.carousel-control {
  left: 0px;
  top: 35%;
}
div#modalImage a.right.carousel-control span:before,
div#modalImage a.left.carousel-control span:before {
  color: #ffcc00;
  font-size: 100px;
}
div#modalImage #myCarousel {
    margin-top: 134px;
    background: #fff;
    padding-bottom: 50px;
    border-radius: 8px;
    -webkit-box-shadow: -2px 2px 26px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 26px 3px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 26px 3px rgba(0,0,0,0.75);
    width: 50%;
    padding-top: 15px;
}
div#modalImage #myCarousel ul.thumbnails-carousel {
    margin-top: 25px;
}
div#modalImage #myCarousel #ulthumbnails-carouselli {
    margin-right: 15px;
}

/**** HongTTT *****/
/*======studentProfile======== */

.subject-field {
  width: ~"calc(100% + 100% + 30px)";
  margin-top: 15px;
}

#videos-details .search {
  /*search on bredcrum*/

  width: 50%;
  float: right;
  margin-top: 17px;
}

/*=====firstAsk==========*/

.first-ask-content .video-thumnail {
  margin-right: 15px;
}

.first-ask-content .top-mentors-info {
  margin-left: 60px;
}

.create-ask {
  height: ~"calc(100vh - 190px)";
}

/* ==========VideoPage video subcription========== */

#videos #video-mentor .top-mentors-info .subjects {
  font-size: 11px;
  width: auto;
  float: left;
  margin-right: 7px;
  position: relative;
}

#videos #video-mentor .top-mentors-info .subjects:before {
  content: ",";
  position: absolute;
  top: 0;
  left: 3px;
  width: 100%;
  height: 100%;
  z-index: 12;
  text-align: right;
  top: 0px;
}

#videos #video-mentor .top-mentors-info .subjects:last-of-type:before {
  content: "";
}

#videos #video-mentor .top-mentors-info .subjects {
  font-size: 11px;
  width: auto;
  float: left;
  margin-right: 7px;
  position: relative;
}

#videos #video-mentor .top-mentors-info .subjects:before {
  content: ",";
  position: absolute;
  top: 0;
  left: 3px;
  width: 100%;
  height: 100%;
  z-index: 12;
  text-align: right;
  top: 0px;
}

#videos .top-mentors-info .subjects {
  font-size: 12px;
}

#videos .top-mentors-list li {
  margin-bottom: 15px;
  overflow: hidden;
}

#videos .video-member-subcriber {
  right: 10px;
}

.comment-action {
  margin-right: 0px;
  margin-bottom: 10px;
}

#videos #history .videos-thumnail,
#videos #favourite .videos-thumnail {
  overflow: hidden;
  height: 147px;
}

#videos .top-mentors-list li {
  padding-bottom: 10px;
}

#videos .top-mentors-list li:last-of-type {
  border: none;
}

.top-mentor-header-title img,
.top-videos-header-title img {
  width: 24px;
}

.article-detail-right-content:before {
  box-shadow: none;
  height: 0px;
}

.top-mentor-header .see-more,
.top-videos-header .see-more {
  margin-top: 17px;
}

#ask-a-question .edit-details-question {
    right: 1px;
    top: 5px;
}

#divRate {
  top: -5px;
}

.subscribers:before {
  top: -3px;
  position: relative;
}

.setting-profile {
  margin-top: 7px;
}

#rate-studentMentorProfile {
  float: none;
  top: 3px;
  position: relative;
}

.mentors-profile-headers .stars-selected {
  width: 100%;
}

/*========== College ==========*/

.college-admission-content .article .videos-rate {
  width: auto;
  position: relative;
}

.college-admission-content .article .video-description {
  margin-top: 30px;
}

.college-admission-content .article .videos-time-add span {
  width: 100%;
  float: left;
}

.college-admission-content .article .videos-time-add span:nth-child(2) {
  width: 60%;
}

#videos-details textarea#add-comment {
  margin-left: 7px;
}

#college-admission .video-list-content li {
  height: 400px;
  overflow: hidden;
}

#college-admission .video-list-content li.article-detail-popup {
  display: none;
}

#college-admission .video-list-content li img {
  width: 100%;
}

#college-admission .video-list-content .see-more span {
  margin-right: 15px;
}

#college-admission .video-list-content li {
  height: auto;
}

#college-admission .video-list-content .article li {
  height: 400px;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 30px;
}

.college-video .video-description {
  position: absolute;
  bottom: 0;
  padding-right: 15px;
}

.college-form-body .form-group select {
  height: 42px;
  border-color: #ececed;
}

.college-form-body input,
.college-form-body label {
  width: ~"calc(50% - 5px)";
}

/*==========Student video==========*/

#videos #favourite .videos-title.ng-binding {
  height: auto;
}

#history .video-list-content li:before,
#favourite .video-list-content li:before {
  margin-left: 46px;
}

/*========== mentor-video ==========*/

.manager-detail-video {
  max-height: 460px;
}

.mentor-manage-video .sl-newwest span {
  margin-right: 0px;
  top: 6px;
}

#autocompleteSubsQA_dropdown {
  position: fixed;
  width: ~"calc(100% - 90px)";
}

.sl-newwest {
  overflow: hidden;
  height: 40px;
  margin-bottom: 20px;
}

.manager-detail-video .ctn-main .top-cm h3 {
  margin-top: 25px;
}

.manager-detail-video .ctn-main .form-commnent form .box-chat-onl .texta:before {
  position: absolute;
  left: 14px;
  top: 0%;
  content: url(images/br-left-box.png);
  width: 12px;
  height: 70px;
  background: #fff;
}

/*======= mentor-videoplaylist ==========*/

.modal-add-video form input.input-custom-link {
  background: url(images/icon-play.png) right center no-repeat;
  background-origin: content-box;
}

.manager-video .top-mag .search .input-group .input-search {
  border-color: #ccc;
}

.manager-playlist-detail .top-vd-dt .list-view span > img {
  top: -2px;
  position: relative;
}

.manager-playlist-detail .top-vd-dt .list-view {
  margin-top: 12px;
}

.manager-playlist .form-add-newplay form .form-group .input-custom {
  border-radius: 0;
  height: 46px;
  font-size: inherit;
}

.manager-playlist .form-add-newplay {
  padding-top: 19px;
}

.manager-playlist .form-add-newplay h4 {
  margin-bottom: 27px;
}

.manager-playlist .form-add-newplay form .form-group select#addSubject {
  height: 46px;
}

.manager-playlist .form-add-newplay form .btn-custom {
  color: #fff;
  background-color: #2b2b2b;
  font-size: inherit;
  padding: 12px 30px;
  border-color: #2b2b2b;
  font-weight: 600;
}

.manager-box-video .box-rate ul li .text-rate {
  width: ~"calc(100% - 50px)";
}

.newest-qa .student-rate {
  margin-top: 12px;
}

.newest-sub-esay-status {
  margin-top: 12px;
}

.total-subcribers-wrapper .number-total {
  margin-top: 0px;
}

.total-subcribers-wrapper .number-total p {
  margin-bottom: 0;
}

.number-total {
  width: 50%;
}

a.left.carousel-control {
  left: -76px;
}

a.right.carousel-control {
  right: -76px;
}

.box-main-replied .slider-rpl .box-btn-sl .btn-next,
.box-main-replied .slider-rpl .box-btn-sl .btn-prev {
  margin-top: 3px;
}

.box-main-replied .slider-rpl .group-item-sl .item-sl-rpl p.text-rpl {
  padding: 8px 0;
  border: 1px solid #edf1f5;
}

.mentor-manage-qa-content .group-item-qa .item-qa .bx-dt-qa p.list-view {
  text-align: inherit;
}

.mentor-center-header {
  padding: 12px 15px 12px 15px;
}

.manager-box-video .box-video-inner .list-star.pull-left {
  margin-left: 6px;
}

.pull-right-mod {
  margin-right: -7px;
}

.manager-playlist .main-list-video .btn-mg {
  padding: 15px;
}

.manager-video.manager-playlist .top-mag .search {
  padding: 0;
  margin-left: 15%;
}

.manager-playlist-detail .bx-btn {
  position: absolute;
  bottom: 0;
}
.modal-add-video .filters .check-all {
  width: 28px;
}
.modal-add-video .group-item .item .check-box,{
  top: 35px;
  width: 60px;
}
.modal-add-video .filters .text-play {
    padding-left: 42px;
}

.mentor-infor-img {
  width: 90px;
  float: left;
}

#sidebar-menu .mentor-infor-name {
  width: ~"calc(100% - 90px)";
  float: left;
  margin-top: 10px;
}

/*======== Student Essay modal =========*/

#essay-detail .modal-add-video .left-question {
  background-color: #fff;
  padding-top: 20px;
}

#essay-detail button.share {
  clear: both;
  margin-top: 10px;
}

#essay-detail .action-essay {
  width: 100%;
  float: left;
  position: absolute;
  bottom: 20px;
}

#essay-detail .action-essay button {
  padding: 10px 30px;
  background: #edf1f2;
  border-radius: 4px;
  margin-right: 10px;
  font-weight: 600;
}

.essay-detail-right-content p:before {
  height: 0;
}

#essay-detail .attrach-file label {
  float: right;
}

.essay-detail-right-header {
  width: 100%;
  float: left;
  border-bottom: 1px solid #ffcc00;
  position: relative;
  margin-top: 15px;
}

.essay-detail-right-content {
  border-bottom: 1px solid #cecece;
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

.essay-detail-right-header p {
  width: auto;
  padding: 10px 20px;
  position: absolute;
  background: #ffcc00;
  top: -20px;
  font-weight: 600;
  border-radius: 4px;
}

.essay-thumb-right {
  margin-top: 25px;
  margin-left: 5px;
}

.essay-thumb-left {
  max-width: 170px;
  width: auto;
}

.essay-thumb-right {
  width: 30%;
}

.manager-profile-std .browser-mentors-infor-wrapper .col-md-4 {
  padding-left: 0;
  height: 350px;
  float: left;
}

/*======== Student College =========*/

#essay-detail .action-essay button:hover {
  background: #ffcc00;
}

.box-main-replied .slider-rpl .group-item-sl .item-sl-rpl .bx-detail-rpl .right .images-question {
  width: 100%;
}

.box-main-replied .slider-rpl .group-item-sl .item-sl-rpl .bx-detail-rpl .right .images-question li {
  margin-right: 0;
  margin-left: 10px;
}

#answer-detail .modal-add-video .left-question {
  padding-top: 20px;
  width: ~"calc(50% - 20px)";
}

#answer-detail .modal-add-video .right-answer,
#answer-detail .modal-add-video .left-question {
  padding-bottom: 50px;

}
#answer-detail .modal-add-video .right-answer {
    margin-left: 20px;
}
#answer-detail .modal-add-video .right-answer #mCSB_2_container {
    padding-right: 10px;
}

.modal-add-video .bottom-ctg {
  padding-top: 20px;
  position: absolute;
  bottom: 30px;
  width: 70%;
}

.modal-add-video .right-answer .pgt-right-ans {
  position: absolute;
  padding-top: 20px;
  bottom: 20px;
  width: ~"calc(100% - 40px)";
}

.manager-detail-video .ctn-main .top-cm {
  padding-left: 0px;
}

.manager-detail-video .ctn-main .form-commnent {
  padding-left: 0px;
}

.mentors-infor-details a {
  display: initial;
}

.mentors-edu {
  height: 20px;
  overflow: hidden;
  position: relative;
  display: inline;
}

.right-form .sex {
  margin-top: 10px;
  margin-bottom: 19px;
}

.hover-video {
  cursor: auto;
}

.modal-add-video .bottom-ctg span {
  font-size: 16px;
}

.edit-details-question.edit-question li:nth-child(1) > a > span:before {
  margin-right: 5px;
}

.modal-preview .remove-image {
  position: absolute;
  right: 10px;
}

.videos-rate-infor {
  margin-top: 5px;
}

.chat li span.time {
  padding: 0 0 0 10px;
}

.mentor-manage-qa-content .group-item-qa .item-qa .bx-dt-qa .col-md-6 .list-view {
  text-align: right;
}

.manager-video {
  min-height: 90vh;
}

.box-l-comment .detail-cm {
  width: 80%;
}

.pull-right-mod {
  margin-top: 8px;
}

.pull-right-mod img {
  margin-top: -3px;
}

.manager-box-video .box-video-inner .video-detail a > img {
  height: 234px;
}

.manager-box-video .box-video-inner .video-detail a > img.nodata {
  height: 233px;
}

.manager-box-video .box-l-comment .clearfix.ng-scope {
  margin-bottom: 10px;
}

.box-comment-fix {
  height: 413px;
}

.box-l-comment {
  min-height: 180px;
}

.box-rate:before {
  height: 0;
}

.box-rate ul li {
  position: relative;
}

.box-rate ul li:before {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 24px;
  width: 1px;
  margin-left: -1.5px;
  background-color: #eef0f0;
  height: 65px;
  z-index: 1;
}

.box-rate ul li:nth-last-child(1):before {
  height: 0;
}

.modal-add-video #lib .check-all.col-md-1 {
  width: 43px;
}

/*.modal-add-video #lib .filters .text-trf {
  width: 52%;
  padding:  0 7px;
}*/
.modal-add-video #lib .item .box-playlist {
    padding-left: 15px;
}

iframe#detailPlayer {
  padding-right: 25px;
}

.info-video {
  padding-left: 0;
}

.bx-detail-rpl .pre-wrap {
  padding-right: 20px;
  word-break: break-word;
}

.bx-detail-rpl .right .pre-wrap {
  padding-right: 0px;
}

.mentor-manage-qa-content .col-md-4.bt-item {
  padding-right: 0;
}

.box-main-replied .slider-rpl .group-item-sl .item-sl-rpl .bt-item p.list-view a {
  padding-right: 6px;
}

.manager-video .top-mag .sl-newwest {
  width: 100%;
}

/*#list > div {
    margin-top: 7px;
}*/
.form-commnent form .detail-commnet .chat-body .header .txt-dlt {
  margin-top: 5px;
}

.manager-detail-video .ctn-main .top-cm .btn-count .list-view span,
.manager-detail-video .ctn-main .top-cm .btn-count .list-view a,
.manager-detail-video .ctn-main .top-cm .btn-count .list-view i {
  font-size: 16px;
  color: #909090;
}

.manager-video .group-item .item .box-description {
  word-wrap: break-word;
  padding-right: 15px;
  margin-right: 4px;
}

/*======== Table manage tutorial ==========*/

.manage-tutorial .main-manager-video .filters .text-trf,
.manage-tutorial .group-item .item .box-detail-play {
  width: 41%;
}

.manage-tutorial .main-manager-video .filters .text-play,
.manage-tutorial .group-item .item .box-playlist {
  width: 7%;
}

.manage-tutorial .main-manager-video .filters .text-des,
.manage-tutorial .group-item .item .box-description {
  width: 25%;
  padding-right: 20px;
  word-break: break-all;
}

.manage-tutorial .main-manager-video .filters .text-ac,
.manage-tutorial .group-item .item .box-ac {
  display: inline-block;
  width: 20%;
}

.manage-tutorial .group-item .item .box-ac {
  margin-top: 8px;
}

.manage-tutorial .group-item .item .box-detail-play {
  margin-right: 0px;
}

.manage-tutorial .group-item .item .box-description {
  margin-right: 0px;
}

.manage-tutorial .group-item .item .box-detail-play .detail-pl-inner h5 {
  margin-top: 6px;
  word-wrap: break-word;
}

.manage-tutorial .group-item .item .box-playlist {
  margin-right: 0px;
}

/*======== Table modal ==========*/

.modal-add-video .group-item .item .box-detail-play .detail-pl-inner h5 {
  margin-top: 12px;
}

.modal-add-video .group-item .item .box-playlist {
  padding-left: 28px;
}

/*.edit-tutorial .bx-btn.pull-right {
  position: relative;
}*/

.modal-add-video .list-add-video .group-item .item .col-md-4 {
  word-wrap: break-word;
}
.modal-add-video .list-add-video .group-item .item .list-ac li {
    width: 100%;
}

/*======== Table manage videoplaylist ==========*/

.manager-playlist .main-manager-video .filters .text-trf,
.manager-playlist .group-item .item .box-detail-play {
  width: 50%;
}

/*.manager-playlist .group-item .item .box-detail-play {
  margin-right: 14px;
}*/

.manager-playlist .main-list-video .filters .text-play,
.manager-playlist .group-item .item .box-playlist {
  width: 17.4%;
}

.manager-playlist .main-list-video .filters .text-ac,
.manager-playlist .group-item .item .box-ac {
  width: 195px;
}

.manager-playlist .group-item .item .box-detail-play .detail-pl-inner h5 {
  margin-top: 13px;
}

.manager-playlist .group-item .item .box-playlist {
  padding-top: 16px;
  padding-right: 10px;
  /*margin-right: 5px;*/
}

.main-list-video .group-item .item .box-ac {
  padding-top: 14px;
}

/* Table manage Videoplay List Detail*/

.manager-playlist-detail .main-manager-video .filters .text-trf,
.manager-playlist-detail .group-item .item .box-detail-play {
  width: 400px;
}

.manager-playlist-detail .main-manager-video .filters .text-des,
.manager-playlist-detail .group-item .item .box-description {
  width: 30%;
}

.manager-playlist-detail .main-manager-video .filters .text-ac,
.manager-playlist-detail .group-item .item .box-ac {
  width: 107px !important;
}

.manager-playlist-detail .main-manager-video .filters .text-play,
.manager-playlist-detail .group-item .item .box-playlist {
  width: 10%;
  margin-right: 10px;
}

.manager-playlist-detail .group-item .item .box-detail-play {
  margin-right: 0px;
}

.manager-playlist-detail .top-vd-dt .box-detail-play .detail-pl-inner .add-time {
  color: #505050;
  font-size: 12px;
  float: left;
  width: 100%;
}

/*.manager-playlist-detail .group-item .item .box-description {
  margin-right: 4px;
}*/

.manager-playlist-detail .group-item .item .box-detail-play .detail-pl-inner h5 {
  margin-top: 6px;
  word-wrap: break-word;
}

.manager-playlist-detail .group-item .item .box-ac {
  margin-top: 8px;
}

/*========Mentor.Manage-QA========*/

.number-total span:before {
  margin-right: -6px;
}

.modal-add-video .left-question .dt-txt-question img {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.mentor-manage-qa-content .left-qa .tab-answered .tab-content .tab-answered-tab {
  height: ~"calc(100vh - 365px)";
}

.mentor-manage-essay .left-qa .tab-content .tab-pane {
  height: ~"calc(100vh - 318px)";
}

.box-main-replied button.reply {
  position: relative;
  bottom: 35px;
  right: 0;
  margin-top: 0px;
  top: 0;
  padding: 5px 0px 0 15px;
  margin-right: 0;
}

.box-main-replied button.reply {
  margin-top: 0px;
  padding: 5px 25px;
  bottom: 0;
}

.mentor-manage-qa-content .left-qa .tab-content .mCSB_scrollTools {
  height: 98%;
  margin-top: 2%;
  width: 5px;
}

/*========Mentor.MentorProfile========*/

#setting-broswer {
  min-height: 595px;
  padding-bottom: 15px;
  overflow: hidden;
  height: auto;
}

.sub-right:before,
.sub-right li:nth-last-child(1):before {
  height: 0;
}

.sub-right li:before {
  content: "";
  position: absolute;
  top: 44px;
  bottom: 0;
  left: 26px;
  width: 1px;
  margin-left: -1.5px;
  background-color: #eef0f0;
  height: 48px;
  z-index: 2;
}

.mentorProfile .sub-right .list-std li {
  position: relative;
}

/*Register, Login, page*/

footer#footer {
  width: 100%;
  position: relative;
  float: left;
  z-index: 2;
}

/*Student. Home*/

.ask-mentors-form-question #list > div,
.ask-mentors-form-question #list button > img {
  width: 58px;
  height: 58px;
}

.ask-mentors-form-question #list > p {
  float: left;
  width: 100%;
}

.ask-mentors-form-question form {
  height: auto;
  overflow: hidden;
}

.ask-mentors-form-question .upload-image {
  min-height: 150px;
  max-height: none;
}

.validate_error {
  margin-bottom: 10px;
}

.browser-mentors-infor-wrapper > div {
  height: 350px;
  overflow: hidden;
}

.modal-add-video .top-user > .col-md-10 {
  padding-left: 0;
}

.modal-add-video .right-answer .dt-txt-question img {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

/*Essay Form*/

.essay-popup .left-question {
  padding-top: 30px;
}

.essay-popup .left-question h5 {
  font-size: 20px;
  color: #505050;
}

.essay-popup .left-question h5 span:before {
  color: #505050;
  margin-right: 5px
}

.essay-popup .mentors-rate {
  width: 330px;
  margin: auto;
}

.essay-popup .essay-status {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 29px;
  position: relative;
}

.essay-popup .essay-status span:before {
  font-size: 48px;
  color: #bdc1c4;
}

.essay-popup .essay-status-title {
  font-size: 26px;
  color: #bdc1c4;
}

.essay-popup .modal-add-video .right-answer .dt-txt-essay {
  height: auto;
}

.essay-popup .attrach-file input {
  left: 41px;
}
div.essay-detail-right-content:last-child {
  border: none;
}
div.essay-detail-right-content .attrach-file {
  margin-bottom:  20px;
}

.modal-add-video .right-answer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #edf1f2;
  border-top-right-radius: 6PX;
  border-bottom-right-radius: 6px;
}

.answered .modal-add-video .right-answer .pgt-right-ans span {
  font-size: 14px;
  cursor: pointer;
  color: #fff;
}

button.close {
  margin-top: 0;
  font-size: 24px;
}

/*mentor.Video*/
.manager-detail-video .play-video .box-btn-sl .btn-prev:hover {
  color: #ffcc00;
}

.manager-detail-video .play-video .box-btn-sl .btn-next:hover {
  color: #ffcc00;
}

.manager-detail-video .play-video .box-btn-sl .btn-prev {
  left: -35px;
  top: 27%;
  font-size: 180px;
  color: #3F3A26;
}

.manager-detail-video .play-video .box-btn-sl .btn-next {
  right: -35px;
  top: 27%;
  font-size: 180px;
  color: #3F3A26;
}

.mentors-skill span {
  height: 50px;
}

.searchbrecrum.search .input-group .input-group-btn button {
    height: 34px;
    border-color: #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.pull-left,
.stars {
  border: none;
}

.chat li.right .chat-body {
  margin-right: 70px;
  padding-left: 78px;
}

/*mentor.view.mentor*/
.center-content.mentor-view-mentor .content {
  background: #fff;
}

/*Student.video*/
.subscribers-button {
  text-align: center;
}

.mentors-profile-headers .subscribers {
  margin: 20px 0;
}

.video-mentor-details .favoriteVideo {
  margin-left: 10px;
}

.top-videos-wrapper .top-videos-list {
  padding: 15px 0px;
}

.detail-commnet .chat-body {
  padding-right: 0;
  padding-left: 25px;
}

/*popup img*/
.popup-images-wrapper {
  top: 80px;
}

.popup-images-wrapper img {
  width: 100%;
  height: auto;
}

/*Ask a question*/
#ask-a-question .detail-question {
  overflow: inherit;
  border: none;
}

#ask-a-question .detail-question .answer-question.col-xs-12 .number-answer {
  border-bottom: 1px solid #ECeced;
  margin-bottom: 10px;
}

#question-details .detail-question .answer-question.col-xs-12 .number-answer {
  border: none;
}

#ask-a-question .detail-question .answer-question {
  padding: 0 0 0 15px;
}

.modal-add-video .right-answer:after {
  position: absolute;
  top: 48%;
  left: -12px;
  width: 30px;
  height: 30px;
  background: #edf1f2;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
#my-questions .infor-of-question {
    padding-top: 0px;
}

/*Fix Firefox*/
.gecko #videos-details textarea#add-comment {
  width: ~"calc(100% - 61px)";
  margin-left: 12px;
}

.gecko .left-border {
  background: #fff url("images/br-left-box.png") left top no-repeat !important;
  height: 27px;
  left: 48px;
}

.modal-add-video .right-answer {
  background-color: #edf1f2;
}

/*Mentor.menu*/
#sidebar-menu .navigation .nav > li > a span.sub-menu {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#sidebar-menu .navigation .nav > .active > a span.sub-menu {
  -webkit-transform: rotate(360deg) !important;
  -moz-transform: rotate(360deg) !important;
  -ms-transform: rotate(360deg) !important;
  -o-transform: rotate(360deg) !important;
  transform: rotate(360deg) !important;
}

#sidebar-menu .navigation .nav > .active > a span.sub-menu.show {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/*Mentor.QA*/
.mentor-manage-qa-content .group-item-qa .item-qa > div.col-md-9 .time {
  font-size: 12px;
  color: #909090;
  top: -3px;
  position: relative;
}

.mentor-manage-qa-content .group-item-qa .item-qa > div.col-md-9 .in-subj {
  padding-top: 0;
}

.mentor-manage-qa-content .group-item-qa .item-qa > div.col-md-9 .q-cont {
  padding-top: 20px;
  word-wrap: break-word;
}

.mentor-manage-qa-content .group-item-qa .item-qa > div.col-md-9 .lis-view .list-view-un {
  position: absolute;
  top: 24px;
  right: 0px;
  color: #909090;
}

.mentor-manage-qa-content .group-item-qa .item-qa > div.col-md-9 .lis-view .list-view-un span:before,
.mentor-manage-qa-content .group-item-qa .item-qa > div.col-md-9 .lis-view .list-view-un i {
  color: #909090;
}

.mentor-manage-qa-content .group-item-qa .item-qa > div.col-md-9 .lis-view {
  width: 80px;
  float: right;
  text-align: right;
}

.mentor-manage-qa-content .group-item-qa .item-qa > div.col-md-9 .col-md-8 {
  padding-left: 0;
}

#sidebar-right {
  height: calc(100vh - 70px);
  overflow: hidden;
}

.mentor-manage-qa-content .left-qa .tab-answered .tab-content {
  height: auto;
}

.box-main-replied .bx-detail-rpl .bt-item-r {
    text-align: right;
    padding: 0px 0 0;
    width: 150px;
    float: right;
    position: absolute;
    top: 10px;
    right: 0;
}

.bx-dt-qa .txt-essay b {
  font-size: 16px;
}
.video-recently .top-videos-header {
  padding:  10px 0;
}
#college-admission .video-list-content .tutorial li img {
    height: 100%;
}
.list-sub-video li span.pull-left {
    position: relative;
    width: 150px;
    height: 84px;
}
#videos-in-list li span.pull-left {
    position: relative;
    border: 2px solid #2f2f2f;
    margin-right: 10px;
}
#videos-in-list li span.pull-left img {
  width: 150px;
  height: 85px;
}
#videos-in-list li:hover .pull-left,
#videos-in-list li.active .pull-left {
    border: 2px solid #ffcc00;
}
#videos-in-list li:hover .pull-left span,
#videos-in-list li.active .pull-left span{
    border: none;
}


/*Student.Video*/
iframe#video {
  padding: 0;
}

.related-video.col-md-4 {
  padding-left: 35px;
}

#videos-details .search .input-group .input-group-btn button {
  height: 34px;
}

#sidebar-menu .navigation ul li:hover {
  background: none;
}

.modal-add-video .right-answer .pgt-right-ans span.num-pgt {
  padding-left: 5px;
  padding-right: 0;
  cursor: default;
}

.question:last-child .detail-question .answer-question .number-answer {
  border-bottom: none !important;
}

.modal-add-video form input.input-custom-link {
  background: url(images/icon-play.png) 98% center no-repeat;
  padding-right: 30px;
}

/*Mentor.menu*/
#sidebar-menu .navigation .nav > li a:hover {
  border-left: 4px solid #ffcc00;
  color: #ffcc00 !important;
}

#sidebar-menu .navigation .nav > .active > a span.sub-menu:before,
#sidebar-menu .navigation .nav > li a:hover span {
  color: #ffcc00;
}

#sidebar-menu .navigation .nav > li .menuSubmenu li a:hover {
  border-left: none;
}

/*Essay Detail*/
.modal-essay .action-essay {
  width: 100%;
  float: left;
  position: absolute;
  bottom: 30px;
}

.modal-essay .action-essay button {
  background: #edf1f2;
  padding: 7px 25px;
  margin-right: 5px;
  border-radius: 4px;
}

.modal-essay .action-essay button:hover {
  background: #ffcc00;
}

.modal-essay .essay-thumb span.essay-wait-review {
  padding: 3px 12px;
  display: inline;
  top: 5px;
}
.modal-essay .essay-thumb-left p {
  cursor: pointer;
}

.modal-essay .modal-content {
  height: 55vh;
}

.modal-essay .left-question {
  padding-top: 15px;
}

.modal-article.modal-essay.modal-add-video .right-answer {
  padding-top: 35px;
}
.modal-essay .left-question h4,
.modal-article.modal-essay.modal-add-video .right-answer h4 {
  font-weight: 600;
  font-size: 18px;
  max-height: 77px;
  overflow: hidden;
}

.modal-article.modal-essay.modal-add-video .right-answer h3 {
  font-weight: 400;
}

.modal-article.modal-essay.modal-add-video .right-answer .post-time {
  color: #909090;
}

#essay-detail .attrach-file label {
  float: none;
}

.modal-article.modal-essay.modal-add-video .right-answer .attrach-file.q-answered {
  float: right;
}
.modal-article.modal-essay.modal-add-video .right-answer .answer-by {
  margin-bottom: 10px;
}
.modal-article.modal-essay.modal-add-video .right-answer .answer-by  .mentor-answer {
    width: auto;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

#essay-detail .modal-add-video .right-answer .dt-txt-question {
  max-height: 103px;
  height: auto;
}

#terms-of-use .top-videos-header-title span {
  margin-right: 12px;
}

#videos-details ul#series-video-list {
  height: 285px;
}

.manager-detail-video .play-video .group-video-pl .item-pl-video .list-videp-w li {
  padding-top: 5px;
}

.box-main-replied .form-chat .box-chat-onl .texta textarea {
  margin-right: 0;
  width: ~"calc(100% - 55px)";
}

#favourite .videos-rate-infor {
  margin-top: 10px;
}

/*Detail Video tab*/
.tab-video-detail {
  position: relative;
  top: -42px;
}

.tab-video-detail .t-panel {
  width: 351px;
  float: right;
}

.tab-video-detail .t-panel li {
  width: auto;
  float: left;
}

.tab-video-detail .t-panel li.active button {
  background: #ffcc00;
}

.tab-video-detail .tab-content {
  width: 100%;
  float: left;
}
.tab-video-detail .t-panel ul li:last-child button {
    margin-right: 0;
}

/*Notification*/
.notification-content {
  width: 380px;
}
.nft-info {
    width: ~"calc(100% - 120px)";
    padding-right: 5px;
}
.nft-time {
    float: right;
}
.nft-type {
    width: 25px;
    float: left;
    margin-right: 5px;
    height: 25px;
    border-radius: 50%;
    background: #ffcc00;
}
.nft-body {
  max-height: 460px;
  overflow: hidden;
}
.nft-type i {
  color: #fff;
  padding: 5px 6px;
}
.nft-type.nft-answered-qt i {
  padding: 5px 8px;
}

.head-question ul.nav.nav-tabs > li:hover {
    border-bottom: 6px solid #ffcc00;
}
.total-subcribers-wrapper {
    margin-bottom: 20px;
}
#dashboard .box-rate {
    padding: 20px 0 0px 26px;
    min-height: 180px;
}
#dashboard .box-comment-fix {
    height: 461px;
}
#videos-details .thumb-video {
    position: relative;
}
.modal-header .close {
    margin-top: 0px;
}
.mentors-edu span {
    height: 25px;
}
.manager-playlist .top-mag .col-md-6 {
    padding-right: 5px;
}
/**** End HongTTT *****/

.pad-left-0 {
  padding-left: 0px;
  float: left;
}

.box-duration {
  width: 115px;
}

/*HoaiNT star rating*/

.pull-right-mod {
  margin-top: 10px;
}

.rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.rating li {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  margin-top: 2px;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.average-rating-container .foreground li i {
  color: gold;
}

.rating li i {
  color: #ddd;
}

.rating li.filled {
  color: #fd0;
}

.rating.readonly li.filled {
  color: #666;
}

.average-rating-container {
  position: relative;
  height: 31px;
  width: 103px;
  overflow: hidden;
}

.average-rating-container .background,
.average-rating-container .foreground {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}

.validate_success span {
  color: #25ff0d;
  width: 100%;
}

.validate_success {
  margin-bottom: 30px;
  background: #fcdede;
  padding: 10px;
}

.ignore {
  padding: 5px 10px;
  background-color: #d5d8dd;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  width: 85px;
  float: left;
  margin-left: 10px;
}

.ignore span:before {
  margin-right: 5px;
  color: #fff;
}

#loadingScreen {
  background: url(images/bx_loader.gif) no-repeat 5px 0px;
  padding-left: 25px;
}

.loading-disable-header {
  z-index: 10;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.loadingScreenWindow {
  background: transparent;
  border: none;
}

#uploadTutorial input[type="text"],
#uploadTutorial select {
  height: 42px;
}

span.add-img label {
  width: 64px;
}

#videos .videos-rate p.videos-start span .stars {
  margin-top: 0px;
  top: 6px;
}
#videos .videos-rate {
  height: 30px;
}

.modal-header .close {
  color: #000;
  font-size: 25px;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 50%;
  text-align: left;
  padding: 40px 10px;
}

output.up-thumb.up-thumb-sec img {
  top: 0px;
}

.w-88 {
  width: 88%
}

.school-profile {
  height: 42px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  padding-left: 15px;
}

/*Student.Contact*/
.content-contact-wrapper {
  width: ~"calc(100% - 380px)";
  float: left;
  padding-left: 15px;
}

.content-contact-wrapper form {
  padding: 0;
}

.contact-form-body p {
  width: 50%;
  float: left;
}

.send-contact-form {
    margin-top: 25px;
}

.map-contact {
    padding-right: 15px;
}

.contact-form-body p > textarea {
  width: ~"calc(100% - 15px)";
  height: 150px;
  resize: none;
  border: 1px solid #cccccc;
  margin-right: 10px;
  padding: 5px 10px;
}

.contact-form-body p > input {
  width: ~"calc(100% - 15px)";
  height: 36px;
  border: 1px solid #cccccc;
  margin-right: 10px;
  padding: 5px 10px;
}

.contact-form-body p.contact-name,
.contact-form-body p.message {
  width: 100%;
  float: left;
}

.contact-form-body p.contact-name > input,
.contact-form-body .choose-services {
  width: ~"calc(50% - 15px)";
  float: left;
}


.content-contact-wrapper button[type="button"] {
  background: #909090;
}

.content-contact-wrapper button[type="button"]:hover {
  background: #ffcc00;
}

.contact-form-body .choose-services select {
  border-radius: 0;
}

.contact-infor {
  border: 1px solid #ececed;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.contact-infor-wrapper {
  padding: 20px;
}

.contact-infor-header h4 {
  width: auto;
  float: left;
  margin: 0;
}

.contact-infor-header span {
  width: auto;
  float: left;
}

.contact-infor-header {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.contact-infor-content {
  margin-left: 35px;
}

.contact-infor-content p,
.contact-infor-content a,
.contact-infor-content .sl-social span {
  color: #909090;
}

.contact-infor-content .sl-social span {
  font-size: 27px;
  margin-right: 15px;
}

.top-videos-header-title span {
  margin-right: 0;
}

.top-mentor-header-title span:before,
.contact-infor-header span:before,
.top-videos-header-title span:before {
  font-size: 30px;
  color: #ffcc00;
  margin-right: 5px;
}

.contact-infor-header span:before {
  position: relative;
  top: -5px;
}

.top-mentor-header-title span, .top-videos-header-title span {
  margin-top: 4px;
}

#contact {
  margin-bottom: 30px;
}
.contact-infor-content .sl-social .fb span:hover {
  color: #3a589b;
}
.contact-infor-content .sl-social .tt span:hover {
  color: #00acec;
}
.contact-infor-content .sl-social .gg span:hover {
  color: #d52020;
}

/*Student.Terms of use*/
.bx-dt-qa .txt-essay {
  margin-bottom: 16px;
}

.content-terms-of-use {
  width: 66.666666%;
  float: left;
  padding: 0 15px;
}

.content-terms-of-use-wrapper .term {
  margin-bottom: 20px;
}

.content-terms-of-use-wrapper .term .term-header {
  font-weight: 600;
  margin-bottom: 5px;
}

.ask-a-question-content {
  padding-bottom: 30px;
}

#essay-term_dropdown {
  top: 48px;
}

p.star-admission.videos-start {
  padding-top: 3px;
}
.videos-start.star-admission span:last-child,
.videos-start.star-artical span:last-child {
    font-size: 12px;
    position: relative;
    top: -1px;
    margin-left: 2px;
}

#keyword_dropdown {
  position: fixed;
  width: 390px;
  margin-top: 44px;
}

/* Hien thi playlist video*/

.videos-thumnail .box-all-vd {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  opacity: .7;
  width: 50%;
  text-align: center;
  padding-top: 10%;
  cursor: pointer;
}

.videos-thumnail .box-all-vd p b {
  font-size: 18px;
  color: #505050;
  display: block;
}

.videos-thumnail .box-all-vd p span {
  color: #505050;
  font-size: 14px;
  display: block;
}

.videos-thumnail .box-all-vd p img {
  width: 17px;
  height: 17px;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}

/*** Mentor Template - QuanDinh Edited***/

.mentor-left-header .logo-full img {
  width: 143px;
}

.mentor-left-header .main-logo {
  padding: 16px 23px 16px 23px;
}

.mentor-left-header.in .main-logo {
  padding: 16px 23px 16px 23px;
}

.mentor-center-header button {
  margin-top: 4px;
  font-weight: 400;
}

.mentor-center-header button[type="button"]#upImg {
  margin: 4px 15px 0 14px;
  padding: 10px 15px 8px 15px;
  font-size: 12px;
  font-weight: 500;
}

.mentor-center-header {
  height: 71px;
}

/*** Mentor - Essay Details - QuanDinh Edited ***/

.mentor-manage-qa-content .left-qa .t-panel p span.sup1 {
  background-color: #ff494b;
}

.mentor-manage-qa-content .left-qa .t-panel p span.sup2 {
  background-color: #3e97d1;
}

.mentor-manage-qa-content .left-qa .t-panel p span.sup3 {
  background-color: #bebebe;
}

.mentor-manage-qa-content .left-qa .t-panel p span.sup4 {
  background-color: #f3c402;
}

.mentor-manage-qa-content .left-qa .t-panel p span {
  border-radius: 50%;
  font-size: 9px;
  padding: 5px;
  top: -10px;
  left: 3px;
  color: #fff;
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 8px;
  font-weight: 500;
}

.mentor-manage-qa-content .left-qa .t-panel p {
  color: #a6a6a6
}

.mentor-manage-qa-content .left-qa .t-panel p.active {
  color: #505050
}

.mentor-manage-qa-content .left-qa .t-panel {
  margin-bottom: 12px;
}

.main-qa {
  padding-top: 15px;
}

.mentor-manage-qa-content .group-item-qa .item-qa > div > a > img {
  width: 48px;
  height: 48px;
}

.mentor-manage-essay .mCSB_inside > .mCSB_container,
.mentor-manage-essay #mCSB_1_container {
  margin-right: 0px;
}

.mentor-manage-essay .studentAvt {
  float: left;
}

.mentor-manage-essay .studentDetails {
  margin-left: 64px;
}

.mentor-manage-essay .box-main-replied .studentDetails {
  margin-left: 100px;
}

.mentor-manage-essay .studentDetails > h5 {
  margin-top: 0px
}

.mentor-manage-qa-content .left-qa {
  width: 425px;
  height: auto;
}

.mentor-manage-qa-content .left-essay .t-panel p {
  padding: 10px 11px 7px;
}

.mentor-manage-qa-content .box-main-replied {
  margin-left: 450px;
}

.box-main-replied .slider-rpl .group-item-sl .item-sl-rpl .bx-detail-rpl {
  padding: 27px 47px 0 47px;
}

.bx-dt-qa .txt-essay {
  margin-bottom: 25px;
}

.btnreply {
  padding-right: 0;
}

.mentor-manage-essay span.essay-reviewing {
  margin-right: 0;
}

span.essay-reviewing,
span.essay-wait-review,
span.essay-answers {
  padding: 2px 10px;
  display: inline;
}

span.essay-answers {
  background: #ffcc00;
  color: #505050;
}

.btnreply button.cancel {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

.essay-cancel {
  background: #e0e0e0;
  padding: 2px 10px;
  border-radius: 4px;
}

.fa.white {
  color: #FFF
}

.fa.gray {
  color: #909090;
}

.search .input-group .input-search {
  border-color: #ccc;
}

.search .input-group .input-search {
  width: 100%;
  border-radius: 0;
  height: 42px;
  outline: none;
}

.search .input-group .input-group-btn button {
  width: 100%;
  border-radius: 0;
  height: 42px;
}

.box-main-replied .form-chat .box-chat-onl .icon-upload {
  right: 0px;
  bottom: 6px;
}

.disabledNextPrev {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}

.mentors-profile-content-nodata {
  height: 100%;
}

.modal-edit-video .right-modal .modal-preview {
  width: 455px;
}

.hover-video.recently span {
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#footer a.active {
  color: #ffcc00;
  font-weight: 600;
  background: none;
}

#sidebar-menu .nav > li > a {
  background-color: #2b2b2b;
}

.manager-profile-std .slide-broswer.subject {
  margin-right: 0px;
  position: absolute;
  right: 0px;
}

.slide-broswer.subject a span {
  margin-right: 5px;
}

.slide-broswer.subject a span:before {
  font-size: 14px;
}

ul.thumbnails-carousel {
  padding: 5px 0 0 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

#ulthumbnails-carouselcenter {
  display: inline-block;
}

#ulthumbnails-carouselli {
  margin-right: 5px;
  float: left;
  cursor: pointer;
}

.controls-background-reset {
  background: none !important;
}

.active-thumbnail {
  opacity: 0.4;
}

.indicators-fix {
  bottom: 70px;
}

#sidebar-right {
  position: fixed;
  right: 0;
  display: block;
  height: 600px;
}

.text-under-line {
  text-decoration: underline !important;
}

.star-artical {
  padding-top: 2px;
}

.num-subs {
  text-align: center;
}

.video-thumnail img {
  height: 90px;
}

.recently-activity-content .mCSB_container {
  margin-right: 30px !important;
}

.recently-activity-content li {
  padding-left: 18px;
}

.recently-activity-content li:before {
  left: 4px;
}

.number-content {
  left: 0px;
}

.recently-activity-content {
  margin-left: 0;
}

.video-time {
  margin-top: 0;
  margin-right: 0;
  padding: 0 4px;
  font-weight: 500;
  font-size: 11px;
  background-color: #000;
  color: #fff !important;
  height: 14px;
  line-height: 14px;
  opacity: .75;
  filter: alpha(opacity=75);
  display: -moz-inline-stack;
  vertical-align: top;
  display: inline-block;
}

.video-time, .video-time-overlay {
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.bottom-16 {
  bottom: 16px;
}

.bottom-4 {
  bottom: 4px;
}

.profile-recent-video {
  float: left;
  width: 28%;
}

.pad-l65 {
  padding-left: 65px;
}

.sort-video.subject li {
  padding-right: 15px;
}
.video-time {
  position: absolute;
  right: 0;
  bottom: 0px;
}

/*.searchbrecrum.video{
  margin-right: 0px;
}*/
.manager-profile .box-avatar h4{
  word-wrap: break-word;
}
.mentor-infor-name p {
  word-wrap: break-word;
  padding-right: 10px;
  display: block;
}
.nft-body #mCSB_1_scrollbar_vertical {
 right:-7px;
}

.your-essay-content{
  height: 447px;
}

/*Popup Image*/
.chat li.left .chat-body .header span.ng-isolate-scope {
  position: relative;
  top: 2px;
}

.mentor-right-header .user-nofitication {
    position: fixed;
    right: 0px;
}
.mentor-manage-essay .box-main-replied .studentDetails>a {
    width: 100%;
    float: left; 
}
.manager-video .group-item .item .box-detail-play .item-thumbnail {
  width: 196px;
}
.manager-video .group-item .item .box-detail-play .detail-pl-inner {
  width: ~"calc(100% - 200px)";
  padding-left: 10px; 
}
.article-detail-top {
    overflow: hidden;
}
span.article-detail-title p {
    margin-left: 48px;
    width: ~"calc(100% - 63px)";
    overflow: hidden;
}
#videos-details .video-details-sub img{
  height: 48px;
}

#videos-details .video-member-subcriber{
  margin-top : 8px;
}

.video-mentor-details .favoriteVideo{
  margin-top : 8px;
}

.video-list-content > div,
.video-list-content > div > div {
  overflow: hidden;
  border-bottom: 1px solid #ececed;
}
.video-list-content > div > div:last-child {
    border: none;
}

.video-list-content ul{
  margin-bottom : 0px;
}

.video-list-content > div{
  padding-top : 0px;
}

.infor-of-question a:hover, 
.infor-of-question a:focus {
    color: #ffcc00;
    font-weight: 700;
}

.desc-wrap{
  word-break: break-all;
  white-space: pre-wrap;
}
.modal-add-video .group-item .item .box-detail-play .item-thumbnail {
  position: relative; 
}
.mentor-right-header {
    height: 71px;
}
.questions {
    padding-bottom: 45px;
    overflow: hidden;
}

.user-info {
    height: 83px;
}
.tutorial .videos-time-add {
    height: 75px;
}
.article .video-header-infor {
    height: 67px;
}
.video-member-subcriber.student-view-mentor{
  width: 100%;
  position: relative;
  text-align: center;
}

#videos-details img.avatar{
  height: 38px;
}
#divRate.essayRate {
    top: -5px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
}
/*.video-list-content div.article >div,
.video-list-content > div {
    border: none;
}*/
.module-navigation .navigation ul {
    top: 0;
}
.module-navigation .navigation ul.mobimenuStu {
    top: 10px;
}
/*.notification span {
    padding: 2px 6px;
    font-size: 11px;
}*/
.icon-pb {
    position: absolute;
    bottom: 0;
    right: 88px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.upload-image button img {
    width: 58px;
    height: 58px;
}
#list > div {
    width: 58px;
    height: 58px; 
}
#article-detail .modal-add-video .left-question #divRate {
    width: 100%;
    top: 0;
}
p, h3 {
    word-wrap: break-word;
}
.modal-article.modal-essay.modal-add-video .right-answer .post-time {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
#videos .video-member-subcriber {
    margin: 5px 0 10px 0;
}
.videos-start span:last-child {
    font-size: 12px;
    position: relative;
    top: 3px;
}
.mentorRate span:last-child {
    font-size: 12px;
    position: relative;
    top: -4px;
}
.edit-details-question {
    position: absolute;
}
.mentor-manage-qa-content .left-qa .t-panel p span {
    padding: 5px 2px;
}
#videos-details p.videos-rate-infor span {
    float: right;
}
#videos-details p.videos-rate-infor span.videoRate {
    font-size: 14px;
    top: 2px;
    position: relative;
}
.admissionRate {
    font-size: 12px;
    top: -3px;
    position: relative;
}
ul.list-star span:last-child {
    font-size: 12px;
    margin-left: 4px;
}
.manager-detail-video .ctn-main .top-cm .btn-count .list-view span:nth-child(2) {
    font-size: 12px;
    margin-right: 10px;
    margin-left: 3px
}
.manager-detail-video .ctn-main .top-cm .btn-count .list-view .stars {
    margin-top: 5px;
}
/*#divTotalRate .stars {
    top: 3px;
}*/
#question-details .edit-details-question {
    right: 3px;
}
.chat li .chat-body p {
    margin: 5px 0;
}
.manager-playlist-detail .top-vd-dt .box-detail-play .detail-pl-inner {
    width: 50%;
    padding-left: 10px; 
}
#sidebar-menu.menuMobile .navigation ul.menuSubmenu li {
    padding: 10px 52px;
}
#main {
    min-height: ~"calc(100% - 70px)";
}
#srch-term_dropdown {
    z-index: 99;
}
span.number-media {
    padding-top: 2px;
}
.post .post-footer .comments-list .comment .comment-body {
    margin-left: 54px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 0px;
}
.mCSB_scrollTools {
    width: 5px;
}
.modal .modal-dialog {
     margin-top: 100px; 
}
.top-mentor-header, 
.top-mentors-list, 
.top-videos-header, 
.top-videos-list {
    padding: 10px 0;
    position: relative;
}
#video-mentor-header .top-mentor-header-title > span {
    margin-right: 0;
    margin-top: 5px;
}
.top-mentor-header .see-more, .top-videos-header .see-more {
    margin-top: 14px;
    width: 57px;
}
.top-mentor-header .see-more p, 
.top-videos-header .see-more p {
    font-size: 11px;
}
.top-mentor-header-title, .top-videos-header-title {
    width: ~"calc(100% - 57px)";
}
p.subcribe {
    right: 10px;
}

.modal-add-video .right-answer .top-title {
    margin-bottom: 2px;
}
.manager-video .stars {
    margin-top: 0;
}
.angucomplete-dropdown {
    z-index: 99;
}
.manager-profile .box-avatar .img-avt {
    position: relative;
    top: 25%;
}
.manager-profile .box-avatar h4 {
    top: 25%;
    position: relative;
}
.questions-wrapper {
    min-height: 165px;
    overflow: hidden;
}
.student-edu, .student-info, .student-sex, .student-bio, .student-since {
    padding-right:  15px;
}
#rateSpan {
    font-size: 13px;
}
.average span, .average i {
    color: #909090;
}
.total-question.col-xs-7 {
    padding: 0;
}
canvas.star,
canvas,
canvas:focus, canvas:hover {
    outline: none;
}
.manager-detail-video .play-video .group-video-pl .item-pl-video .video-wait .top-w span {
    padding-top: 0px;
}
.manager-detail-video .play-video .group-video-pl .item-pl-video .video-wait .top-nav-w span:last-child {
    margin-top: 2;
}
.ui-widget.ui-widget-content {
    width: 342px;
}

/*ChangePassword page*/
#changePass form button {
    width: ~"calc(50% - 10px)";
    float: left;
}
#changePass form button.reset,
#changePass .resetpass {
    margin-right: 20px;
}
#changePass .form-action {
    overflow: hidden;
    margin-top: 30px;
}
#changePass .resetpass,
#changePass .updatepass {
    font-size: 18px;
    background: #909090;
    padding: 10px 0px;
    border-radius: 4px;
    font-weight: 500;
    color: #fff;
}

#changePass .resetpass:hover,
#changePass .updatepass:hover {
    background: #ffcc00;
}
.rateView {
    width: auto;
    float: right;
}
.manager-detail-video .ctn-main .top-cm .btn-count .list-view span:nth-child(2) {
    position: relative;
    top: 2px;
}
.manager-detail-video .ctn-main .top-cm .btn-count .list-view .rateView span:nth-child(2){
    top: 0;
}