/****Responsive for each screen*****/
/***For max screen 2400***/

@media screen and (max-width: 1600px) { 
    .information-content>div,
    .about-content>div {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}
/***For max screen 2400***/
@media screen and (max-width: 1441px) { 
    .information-content>div,
    .about-content>div {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}
/***For max screen 1281***/
@media screen and (max-width: 1281px) { 

    /***Menu***/
    .background-color {
        width: ~"calc((100% - 970px)/2 + 107px)";
    }
    .module-navigation .navigation .navbar-default {
        margin-left: 0%;
    }
    .ask-mentors-download-images img {
        height: 55px;
    }
    
    .navigation .nav>li>a {
        padding: 10px 9px;
    }
    /*information & content*/
    .information-content>div,
    .about-content>div {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .user-nofitication {
        margin-right: 12%;
    }
    /*First ask quesiton*/
    .first-ask-content .top-mentors, 
    .first-ask-content .top-videos {
        margin: 30px 0 15px 15px;
    }

    /*login page*/
    .account-user-form form {
        margin-top: 0;
    }
    .account-header-title {
        margin-bottom: 20px;
    }
    
}
@media screen and (max-width: 1200px) { 
    .user-nofitication {
        margin-right: 0%;
    }
    .top-mentors.col-md-4 {
        position: absolute;
        right: -33%;
    }
    /*Ask a question*/
    .ask-a-question-content .top-mentors-videos {
        width: 820px;
        float: right;
        float: none;
        margin: auto;
        overflow: hidden;
    }
    .ask-a-question-content .top-mentors, 
    .ask-a-question-content .top-videos {
        height: auto;
        overflow: hidden;
        width: 365px;
        float: left;
        margin: 30px 15px;
    } 
    /*First ask question*/   
    .create-ask {
        width: 100%;
        height: auto;
    }

    .create-ask-title {
        text-align: center;
    }

    p.create-ask-content>a {
        float: none;
        padding: 5px 30px;
    }

    p.create-ask-content {
        margin-top: 30px;
    }
    p.first-ask-img {
        width: 47%;
        text-align: left;
        margin: auto;
    }

    p.first-ask-img img {
        margin-top: 20px;
    }
    .top-mentors-videos {
        width: 760px;
        margin: auto;
        overflow: hidden;
        float: none;   
    }

    /*Browser mentors*/
    .mentors-infor-details {
        width: 70%;
        float: left;
    }
    .mentors-infor-img {
        width: 30%;
        float: left;
    }

    /*Mentors Profile*/
    .mentors-video-recently.col-md-6.col-md-offset-3 {
        width: 70%;
        padding-left: 5%;
    }

    .newest-answer.col-md-3 {
        width: 63%;
        margin-left: 30%;
    }

    /*Student Profile*/
    .student-header-detail {
        width: 360px;
        float: left;
    }

    .student-info-detail {
        width: ~"calc(100% - 360px)";
        float: left;
    }

    .student-profile {
        float: left;
    }
    #student-profile-information {
        width: 100%;
    }

    #subcribles {
        width: 100%;
        margin-bottom: 30px;
    }
    #subcribles .top-mentors-img {
        width: 48px;
        margin-right: 15px;
    }
    #subcribles .top-mentors-info {
        margin-left: 0;
    }

    /*Videos page*/
    .video-list-content li {
        width: 50%;
    }
    .videos-thumnail img {
        width: 100%;
    }
    .video-details {
        padding-left: 20px;
    }
    #history .video-list-content li:first-child:before, #favourite .video-list-content li:first-child:before {
        left: 81.5%;
    }
    .number-video>h4 {
        font-size: 24px;
    }
    #history .video-list-content li:first-child:before, 
    #favourite .video-list-content li:first-child:before {
        left: 83%;
        top: 70px;
    }


}

/***For max screen 991***/
@media screen and (max-width: 991px) {
    section h1 {
        font-size: 30px;
    }
    section h2 {
        font-size: 22.5px;
    }
    section h4 {
        font-size: 15px;
    }
    section h5 {
        font-size: 14px;
    }

    /***Menu***/
    .mobimenu {
        position: absolute;
        width: 200px;
        background: #2f2f2f;
        z-index: 2;
        top: 78px;
        right: 0;
        display: none;
    }
    .smobitrigger {
        display: block;
        text-align: right;
        margin-top: 22px;
    }
    .fa-bars {
        color: #fff;
    }
    .module-navigation .navigation ul li {
        width: 100%;
        border-top: 1px solid;
    }
    .module-navigation .navigation .navbar-toggle {
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
        border: 1px solid #ddd;
        padding: 10px;
    }
    .module-navigation .navigation ul {
        margin: -8px;
    }
    .module-navigation .navigation .navbar-default .navbar-collapse, 
    .module-navigation .navigation .navbar-default .navbar-form {
        border: none;
    }
    .module-navigation .navigation .navbar-default .navbar-toggle:focus, 
    .module-navigation .navigation .navbar-default .navbar-toggle:hover {
        background: none;
        border-color: #ffcc00;
    }
    .module-navigation .navigation .navbar-default .navbar-toggle:focus .icon-bar, 
    .module-navigation .navigation .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #ffcc00;
    }
    .background-color {
        width: ~"calc((100% - 750px)/2 + 107px)";
    }
    .module-navigation .navigation .navbar-default {
        width: 68%;
    }
    ul.mobimenu.nav.navbar-nav {
        position: absolute;
        top: 77px;
        right: ~"calc((100% - 750px)/2 + 123px)";
    }

    /*Banner*/
    .form-question {
        margin: 20px 0 15px 0;
    }
    /*download section*/
    .ask-mentors-download-content,
    .ask-mentors-download-images {
        text-align: center;
    }
    
    /*Information*/
    .information {
        height: auto;
    }
    .information .infor-img {
        position: relative;
        margin: auto;
        padding: 15px;
        top: 20px;
        overflow: hidden;
    }

    /*About*/
    .about {
        height: auto;
        padding-bottom: 0;
    }
    .about .infor-img {
        top: 20px;
        position: relative;
        margin: auto;
    }
    /*Footer*/
    #footer {
        float: none;
        text-align: center;
    }
    .footer-menu.col-md-6 {
        padding: 0 0 27px 0;
        text-align: center;
    }

    /*Media manager*/
    .media-uploaded img {
        width: 60px;
    }
    .add-img img {
        width: 50px;
    }
    #list>div {
        width: 50px;
        height: 50px;
    }
    .media-manager-wrapper.col-lg-5 {
        width: 80%;
    }

    /*First Ask*/
    .top-mentors-videos {
        width: 100%;
        margin: auto;
        overflow: hidden;
        float: none;
    }
    .first-ask-content .top-mentors, .first-ask-content .top-videos {
        width: 356px;
        float: none;
        clear: both;
        margin: 30px auto;
        overflow: hidden;
    }
    /*Ask a question*/
    .ask-a-question-content .top-mentors{
        width: 335px;
        margin: 0 15px 30px 0; 
    }
    .ask-a-question-content .top-videos {
        width: 347px;
        margin: 0px 0 30px;
    }

    /*Browser Mentor*/
    li.mentors-infor {
        width: 100%;
        clear: both;
    }
    .mentors-infor:nth-child(odd),
    .mentors-infor:nth-child(even) {
        margin: 15px 0;
    }
    .mentors-infor-wrapper {
        overflow: hidden;
    }

    /*Mentor Profile*/
    .mentors-video-recently.col-md-6.col-md-offset-3 {
        width: 67%;
        padding-left: 5%;
        margin-left: 35%;
    }
    .newest-answer.col-md-3 {
        width: 60%;
        margin-left: 40%;
    }
    .summary-rate.col-md-7 {
        overflow: hidden;
        width: 100%;
        padding-top: 0;
    }

    .mentor-profile.col-md-5 {
        width: 58%;
        text-align: center;
        margin: auto;
    }

    .mentor-profile .top-mentors-img {
        width: auto;
    }

    .top-mentors-info {
        width: auto;
        text-align: left;
        padding-left: 65px;
        margin: 0
    }
    .mentor-profile .top-mentors-info {
        margin-top: 48px;
    }
    .top-mentors-info-detail {
        top: 306px;
        left: -34%;
        text-align: left;
    }
    
    /*Videos page*/
    .videos-content .top-mentors-img span.offline, 
    .videos-content .top-mentors-img span.online {
        right: 0;
        left: 35px;
    }
    .video-list>div {
        margin-top: 30px;
    }
    #history .video-list-content li:first-child:before, 
    #favourite .video-list-content li:first-child:before {
        left: 84%;
        top: 70px;
    }
    .unlogin .video-list-content li {
        width: 33.3333%;
    }

   /* Login*/
    .account-user-img img {
        width: 100%;
        height: auto;
        max-height: 50%;
    }
    

}


/***For max screen 767***/
@media screen and (max-width: 767px) { 
    
    /*Menu*/
    .module-navigation .navigation .navbar-default {
        width: 65%;
    }
    .background-color {
        width: 107px;
    }
    
    ul.mobimenu.nav.navbar-nav {
        position: absolute;
        top: 77px;
        right: 0;
        margin-right: -77.5px;
    }

    /*Tutorial*/
    .tutorials .nav-tabs>li {
        float: none;
        border-bottom: 1px solid #f1f1f1;
    }
    .tutorials .nav-tabs>li:first-child {
        border-top: 1px solid #f1f1f1;
    }

    .nav-tabs>li.active>a, 
    .nav-tabs>li.active>a:focus, 
    .nav-tabs>li.active>a:hover, 
    ul.nav.nav-tabs li a:hover, 
    ul.nav.nav-tabs li.active>a {
        margin: 0;
    }
    ul.nav.nav-tabs {
        margin-bottom: 20px;
        padding: 0 15px;
    }
    ul.nav.nav-tabs li a {
        font-size:  16px;
    }

    /*about*/
    .information, .about {
        padding: 30px 0 0;
    }
    .ask-mentors-download {
        padding: 10px 0 30px;
    }

    /*Media manager*/
    .add-selected {
        width: 100%;
        text-align: center;
    }
    .media-uploaded ul {
        overflow: hidden; 
        height: 100%;
    }
    .media-uploaded img {
        width: 50px;
    }
    .choose-uploaded {
        width: 50px;
        height: 50px;
    }
    .choose-uploaded img {
        width: auto;
        top: 27%;
        left: 32%;
    }
    .media-uploaded li {
        width: 20%;
        padding: 10px 13.5px;
    }
    /*Ask a question*/
    .ask-a-question-content .top-mentors-videos {
        width: 400px;
    }
    .ask-a-question-content .top-mentors, 
    .ask-a-question-content .top-videos {
        width: 357px;
        float: left;
    }

    /*Student Profile*/
    .personal-information, .change-password {
        width: 100%;
        float: left;
    }
    .submit,
    .user-profile-setting form button#reset,
    .user-profile-setting form button#update,
    .user-profile-setting form input[type="button"],
    .user-profile-setting form input,
    .user-profile-setting form textarea {
        width: 100%;
    } 
    .user-profile-setting form button#reset {
        margin: 10px 0;
    }
    .submit {
        padding: 0;
    }

    /*Video page*/
    #history .video-details, 
    #favourite .video-details,
    #history .video-details, 
    #favourite .video-details  {
        width: 100%;
        float: left;
        padding: 0;
    }
    #history .video-list-content li .video-wrapper, 
    #favourite .video-list-content li .video-wrapper {
        width: 85%;
        float: left;
    }
    #history .video-list-content li:first-child:before, 
    #favourite .video-list-content li:first-child:before {
        left: 77%;
    }
    .unlogin .video-list-content li {
        width: 50%;
    }


}

/***For max screen 680***/
@media screen and (max-width: 680px) { 

    /*Menu*/
    .module-navigation .navigation .navbar-default {
        width: 56%;
    }
    .idea-images img, .ask-mentors-download-images img {
        height: 40px;
    }
    .idea-images img,
    .ask-mentors-download-images img {
        height: 50px;
        width: auto;
    }
    .video-list-content li {
        width: 100%;
    }
    .module-navigation .navigation .navbar-toggle {
        right: 0px;
    }

}
/***For max screen 540***/
@media screen and (max-width: 560px) { 

    /*Menu*/
    .module-navigation .navigation .navbar-default,
    .user-nofitication {
        width: auto;
        float: left;
        text-align: center;
    }
    .main-logo.col-xs-3,
    .module-navigation .navigation.col-xs-9 {
        width: 100%;
        text-align: center;
    }
    .module-navigation .navigation.col-xs-9 {
        padding-left: 38%;
    }
    ul.mobimenu.nav.navbar-nav {
        margin-right: 0;
        width: ~"calc(100vw - 6px)";
        left: -38vw;
        text-align: left;
    }
    ul.mobimenu li>a {
        padding: 10px 30px;
    }
    .background-color {
        display: none;
    }
    .login>a {
        border: 1px solid #fff;
    }
    .login {
        padding-left: 10px;
    }
    .register {
        margin-left: -5px;
    }
    /*footer*/
    .footer-logo span {
        width: 100%;
        float: left;
        padding-bottom: 20px;
    }

    /*Student Profile*/
    .student-info-detail,
    .student-header-detail {
        width: 100%;
    }



}
/***For max screen 480***/
@media screen and (max-width: 480px) { 
    section h1 {
        font-size: 24px;
    }
    section h2 {
        font-size: 18px;
    }
    section h4 {
        font-size: 14px;
    }
    section h5,
    ul.nav.nav-tabs li a  {
        font-size: 12px;
    }
    section p {
        font-size: 10px;
    }
    .module-navigation .navigation.col-xs-9 {
        padding-left: 30%;
    }
    .media-uploaded li {
        width: 25%;
    }
    ul.mobimenu.nav.navbar-nav {
        margin-right: 0;
        width: ~"calc(100vw - 5px)";
        left: -31vw;
    }
    .unlogin .video-list-content li {
        width: 100%;
    }

}

/***For max screen 350***/
@media screen and (max-width: 350px) { 

}