<!-- Sidebar right -->
<div class="right-content" ng-controller="SideBarRightController">
    <div sticky-kit="right-content" class="right-content-tab">
        <div class="right-content-wrapper">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab"
                                      href="{{currentPath}}#group1" ng-click="toggleSideRightBar()"><span data-icon="&#xe050;"></span></a></li>
                <li><a data-toggle="tab" href="{{currentPath}}#group2"><span
                        data-icon="&#xe066;"></span></a></li>
                <li><a data-toggle="tab" href="{{currentPath}}#group3"><span
                        data-icon="&#xe033;"></span></a></li>
            </ul>
            <!-- Content of each tab -->
            <div class="tab-content">
                <!-- Content of tab All -->
                <div id="group1" class="tab-pane active">
                    <div class="recently-activity">
                        <div class="recently-activity-title">
                            <p><h4>Recent Activity</h4></p>
                        </div>
                        <div ng-show="!listActivitiesLog">No recent activity</div>
                        <div class="recently-activity-content" scroller="scroll-activity-log" data-on-total-scroll="loadMoreActivity">
                            <ul class="activity-log">
                                <li ng-repeat="activity in listActivitiesLog track by $index">
                                    <div class="number-content">
                                        <p></p>
                                    </div>
                                    <div class="recently-activity-info">
                                        <p class="recently-activity-time">
											<span>{{convertUnixTimeToTime(activity.logDate)}}</span>
                                        </p>
                                        <div class="recently-activity-status">
											<span class="recently-activity-name">
												<span data-ng-bind-html="validateLogContent(activity.log, activity.action, activity.type, activity.linkToId)"></span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!--<div class="load-more">-->
                            <!--<button>Show more</button>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div id="group2" class="tab-pane"></div>
                <div id="group3" class="tab-pane"></div>
            </div>
        </div>
    </div>
</div>
<!-- /End Sidebar right-->