<main id="main">
    <!-- Content -->
    <form>           
        <h4>Update Playlist</h4>
        <div class="form-group">
            <label>Title</label>
            <input type="text" id="title" name="title" class="form-control" placeholder="Playlist Tilte">
        </div>
        <!-- <div>
            Youtube Link
            <input type="text" name="url" ng-model="video_url" class="form-control" placeholder="Youtube Link">
        </div> -->
        <div class="form-group">
            <label>Image</label>
            <input type="text" id="image" name="image" class="form-control" placeholder="Image Playlist" ng-blur="check()">
        </div>
        <div id="image_preview">
            <label>Image Preview</label>
            <p>
                <img class="preview" ng-src="">
            </p>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea id="description" name="description" class="form-control" placeholder="Description"></textarea>
        </div>
        
        <div>
            <button class="btn btn-default" ng-click="save()">Save</button>
        </div>  
    </form>
    <script type="text/javascript">
        $(function(){
            $('#image_preview').hide();
        });
    </script>
</main>
