<div ng-if="links" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="studentCarousel">
    <div class="carousel-inner" ng-repeat="link in links">
        <div class="item" ng-repeat="link in links">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#/mentor/studentProfile/{{link.userid}}">
                    <img ng-src="{{link.imageUrl}}" err-src="assets/images/noavartar.jpg" class="img-responsive imp-carousel">
                    <p class="student-name">{{link.name}}</p>
                </a>
            </div>
        </div>
  </div>
  <a class="left carousel-control" href="{{currentPath}}#studentCarousel" data-slide="prev" ng-non-bindable><span data-icon="&#x34;"></span></a>
  <a class="right carousel-control" href="{{currentPath}}#studentCarousel" data-slide="next" ng-non-bindable><span data-icon="&#x35;"></span></a>
</div>