<div class="content account-user">
	<div class="signup" ng-if="notFound != 1">
	  <div class="header">Change Password</div>
	  <hr style="margin-top: 10px; margin-bottom: 15px;" >
	  <div class="infor">
	  </div>
	  <div class="field">
	    The link does not exist, please retrieve your password !
	  </div>
	</div>
    <div ng-if="msgSuccess" class="succesful">
          <span>{{msgSuccess}}</span>
          <a href="" ng-click="goHomePage()">Go to homepage</a>
    </div>
    <div ng-if="msgError" class="validate_error">
             <span>{{msgError}}</span>
    </div>
	<div class="change-password" ng-if="show != 1 && notFound != 0" style="padding: 100px;">
	    <h5>Change password</h5>
	    <p><input id="newPassword1" type="password" ng-model="newPassword1"  placeholder="New password" name="newPassword1"></p>
	    <p><input id="newPassword2" type="password" ng-model="newPassword2"  placeholder="Confirm password" name="newPassword2"></p>
	    <button type="button" ng-click="changePassword(newPassword1, newPassword2)">Change</button>
	</div>
</div>
