<div class="content account-user" id="changePass">
  <!-- Container -->
  <div class="account-content">
          <!-- Left side -->
          <div class="account-user-img col-md-8">
              <img src="assets/images/account-user.jpg">
          </div><!-- End Left side -->

          <!-- Right side -->
          <div class="account-user-form col-md-4">
   		    	<div class="signup validate_error" ng-if="notFound != 1"><br>
		     		 <span>The link does not exist, please retrieve your password!</span>
		    	</div>
              <!-- Form Sign in -->
              <form action="" method="" ng-if="notFound == 1">
                  <div class="account-header-title">
                      <h3>Student change password </h3>
                  </div>
                  <div ng-if="msgSuccess" class="succesful">
				          <span>{{msgSuccess}}</span>
				          <a href="javascript:void(0)" ng-click="goHomePage(1)">Go to Login</a>
				    </div>
				    <div ng-if="msgError" class="validate_error">
				             <span>{{msgError}}</span>
				    </div>
                  <div class="account-info">
                      <div class="form-group">
                          <input id="newPassword1" type="password" ng-model="newPassword1"  placeholder="New password" name="newPassword1" class="form-control">
                      </div>
                      <div class="form-group">
                          <input id="newPassword2" type="password" ng-model="newPassword2"  placeholder="Confirm password" name="newPassword2" class="form-control" ng-enter="changePassword(newPassword1, newPassword2)">
                      </div>
                      <div class="form-group form-action">
                          <button type="reset" name="login" value="RESET" class="resetpass">RESET</button>
                          <button type="submit" name="login" value="UPDATE" class="updatepass" ng-click="changePassword(newPassword1, newPassword2)">UPDATE</button>
                      </div>
                  </div>
                  
              </form><!-- /End Form Sign in -->
          </div><!-- /End Right side -->
  </div><!-- End container -->
</div>