<div class="content">
    <!-- Ask mentor section -->
    <section class="ask-mentors signin-mentor">
        <div class="ask-mentors-wrapper container">
            <!-- Ask mentor content -->
            <div class="ask-mentors-content">
                <div class="ask-mentors-description signin-mentor-descript col-lg-7 col-md-6">
                    <h2>Become a Mentor, you can change the world for someone</h2>
                    <h3>It's not about the money, you are helping build a better, more stable society.</h3>
                </div>
                <div class="ask-mentors-form-question col-lg-4 col-md-5 col-md-offset-1">
                    <div class="form-login-home">
                        <div class="top-login">
                            <h3>Mentor Sign in</h3>
                            <p class="txt-about">Answer questions, manage tutorials, review essays and more.</p>
                            <div ng-if="loginMess" class="validate_error">
					           <span>{{loginMess}}</span>
					        </div>
                            <div class="form-login">
                                <form action="">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="" value="" placeholder="Your email" ng-enter="nextFocus()" id="userName"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="" value="" placeholder="Password" ng-enter="loginMentor()" id="passWord"/>
                                    </div>
                                    <div class="group-rmb clearfix">
                                        <div class="form-group pull-left">
                                            <input type="checkbox" name="" value="">
                                            <label for="">Remember me</label>
                                        </div>
                                        <p class="pull-right"><span data-icon="&#x7e;"></span><a href="javascript:void(0)" ng-click="showForgotPassword()">Forgot password?</a></p>
                                    </div>
                                    <button type="submit" name="login" value="LOG IN"  ng-click="loginMentor()">LOG IN</button>
                                </form>
                            </div>
                        </div>
                        <div class="box-bttom">
                            <h2><span>or</span> APPLY NOW</h2>
                            <p>Through our mentoring program you will help students worldwide learn and succeed.</p>
                            <!-- <div class="bx-social">
                            	<span><a href="javascript:void(0)" ng-click="loginFacebook()" class="facebook-account"><img src="assets/images/icon-fb-lg.png" alt=""/></a></span>
                      			<span><a href="javascript:void(0)" ng-click="loginGoogle()" class="google-account"><img src="assets/images/icon-gg-lg.png" alt=""/></a></span>                                
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Ask mentor section -->
    <!-- Information Section  -->
    <section class="information-home">
        <div class="container">
            <div class="col-md-6 left-if">
                <h3>HOW SibLinks WORKS</h3>
                <p>You can work from everywhere. Connect to SibLinks and answer student's questions, manage tutorials, help students prepare their essays.</p>
            </div>
        </div>
        <div class="col-md-6 right-if">
            <img src="assets/images/img-if-home.png" alt="">
        </div>
    </section>
    <!-- /Information-->

    <!-- About Section -->
    <section class="about-home">
        <div class="container">
            <div class="col-md-6">
                <img src="assets/images/img-left-about.png" alt="">
            </div>
            <!-- Content right -->
            <div class="col-md-6 right-about">
                <h2>Upload your lecture videos</h2>
                <p>It takes only few seconds to upload your tutorials to SibLinks and then you can see how your tutorials is helping their younger peers.</p>
                <a>Become a mentor</a>
            </div>
        </div>
    </section>
    <!-- /About Section -->
	<!-- Idea section -->
	<section class="testimonial">
		<div class="container">
			<h2>Testimonials</h2>
			<div id="sliderwrapper">
				<div slideit="bestDeals" click="bestDealClicked"></div>
			</div>
		</div>
	</section>
	<!-- /Idea section -->
</div>