<html>
	<body >
		<table cellspacing=5>
			<tr>
				<td colspan=2 style="font-size: 20px;"> FORGOT PASSWORD Notification Email</td>
			</tr>
			
		</table>
		<br/>		

	
	---------------------------------------------------------------------------------------------------------------------------------
<br>
	


<br> <br>

Click the link below to reset you account password:
<br>
${FORGOT}

<br> <br>



 
 
 

 


 
 <br>
 



<br><br>



<br>
	---------------------------------------------------------------------------------------------------------------------------------
	

	</body>
</html>