<html>
	<body >
		<table cellspacing=5>
			<tr>
				<td colspan=2 style="font-size: 20px;"> Contact us</td>
			</tr>
			
		</table>
		<br/>		

	
	---------------------------------------------------------------------------------------------------------------------------------
<br>
	


<br> <br>
<div style="white-space: pre-wrap;word-wrap:break-word">
${BODY}
</div>
<br> <br>

Phone: ${PHONE}

<br> <br>
 

 


 
 <br>
 



<br><br>

Regards 
<br>
${Name}

<br>
	---------------------------------------------------------------------------------------------------------------------------------
	

	</body>
</html>