<div class="ask-a-question content">
    <!-- Breadcrum -->
    <div class="breadcrum">
        <div class="container">
            <h5><a href="#/">SibLinks </a><span>/ Ask a Question</span></h5>
        </div>
    </div><!-- /End Breadcrum -->
    <!-- Container -->
    <div class="container">
        <!-- Content -->
        <div >
            <section class="ask-a-question-content" id="ask-a-question">
                <!-- Question of user -->
                <div class="questions col-lg-8">
                    <div class="questions-wrapper col-md-12">
                        <!-- head of question -->
                        <div class="head-question">
                            <!-- Questions user have -->
                            <div dropdown  class="total-question col-xs-6">
                                <h4> You have <strong>{{totalQuestion}}</strong> {{totalQuestion > 1 ? 'questions':'question'}}
                                    <i  class="fa fa-angle-down"
                                       aria-hidden="true" dropdown-toggle></i></h4>
                                <div class="sort">{{displayOrder}}</div>
                                <div class="sort-answer">
                                    <ul>
                                        <li class="newest" ng-click="orderQuestions('newest');displayOrder ='Newest'">Newest</li>
                                        <li class="answered" ng-click="orderQuestions('answered');displayOrder ='Answered'">Answered</li>
                                        <li class="unanswer" ng-click="orderQuestions('unanswered');displayOrder ='Unanswered'">Unanswered</li>
                                    </ul>
                                </div>
                            </div><!-- /End questions user have -->
                            <!-- New ask question -->
                            <div class="new-ask">
                                <p ng-click="showFormAdd()" class="new-ask-button">New Ask</p>
                            </div><!-- /End new ask question -->
                        </div><!-- /End head of question -->

                        <!-- Content of question -->
                        <div ng-if="askQuestion" class="content-question" >
                            <!--<div class="content-question-wrapper" infinite-scroll="loadMorePost()"-->
                            <!--infinite-scroll-disabled="isLoadMore" infinite-scroll-container='".content-question"'-->
                            <!--infinite-scroll-parent="true" >-->
                            <div  class="content-question-wrapper" infinite-scroll-disabled='isDisplayMore' infinite-scroll-distance='1' infinite-scroll="loadMorePost()">
                                <!-- Question 01 -->
                                <div  ng-if="askQuestion" ng-repeat="question in askQuestion track by $index" class="question question_{{$index+1}}" >
                                    <div ng-click="detailQuestion(question.id)" class="number-question col-xs-1" ng-class="{'answered':question.count_answer > 0}">
                                        <!--<h4>{{$index+1}}</h4>-->
                                        <img src="assets/images/icon-comment-ask.png">
                                    </div>
                                    <div class="detail-question col-xs-offset-1">
                                        <div class="infor-of-question col-xs-12">
                                            <span >asked {{question.time}}</span><br>
                                            <p>in <a href="#/ask_a_question/{{question.subjectid}}">{{question.subject}}</a></p>
                                        </div>
                                        <div  class="edit-details-question" data-icon="&#xe037;" dropdown dropdown-toggle ng-if="question.authorId == userId">
                                            <div class="edit-question" id="qid{{question.id}}" >
                                                <ul>
                                                    <li class="edit" ng-click="editQuestion(question.id,question.image,question.imagepath,question.content,question.subjectid,question.subject)">
                                                        <a href="javascript:void(0)"><span data-icon="&#xe08a;"></span>Edit</a></li>
                                                    <li class="delete" ng-show="question.count_answer == 0 || !question.count_answer" ng-really-message="Are you sure you want to delete?" ng-really-click ="deleteQuestion(question.id)">
                                                        <a href="javascript:void(0)"><span data-icon="&#x51;"></span>Delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Detail Content of Question -->
                                        <div class="detail-content-question col-xs-12">
                                            <p ng-click="detailQuestion(question.id)" class="pre-wrap">{{question.content}}</p>
                                        </div>
                                        <!-- /End Detail Content of Question -->
                                        <!-- Images of question -->
                                        <div class="images-question"  ng-if="question.image">
                                            <ul>
                                             <li class="item" ng-repeat="image in question.image track by $index">
                                               <div class="item-img" ng-if="image" ng-mouseover="imageHoverIn(question.id +''+$index)" ng-mouseleave="imageHoverOut(question.id +''+$index)" ng-click="zoomImage(question.image,$index)">
                                                   <img ng-src="{{image}}">
                                                   <div class="item-hover" id="{{question.id}}{{$index}}">
                                                     <img src="assets/images/ask question/look-img.png">
                                                   </div>
                                               </div>
                                           </li>
                                            </ul>
                                        </div>
                                         <!-- /End Images of question -->
                                        <!-- Answer of question -->
                                        <div class="answer-question col-xs-12">
                                            <div class="number-answer">
                                                <div class="total-number-answer">
                                                	<div ng-if="question.count_answer > 0 && question.count_answer" class="total-answer" ng-click="viewAnswer(question.id)">{{question.count_answer > 1 ? (question.count_answer + " answers") : (question.count_answer + " answer")}}</div>
                                                    <div ng-if="question.count_answer == 0 || !question.count_answer" class="total-answer">No answer</div>
                                                    <div class="total-view">&nbsp;<span data-icon=""></span>&nbsp;&nbsp;&nbsp; {{question.numviews > 1 ? (question.numviews + " views") : (question.numviews + " view")}}</div>
                                                </div>
                                                <!-- Detail-answer-question -->
                                                <div class="detail-answer-question hide detail-answer-question_{{question.id}}" ng-if="question.answers"
                                                     ng-repeat="answer in question.answers track by $index ">
                                                    <div class="mentor-answer">
                                                        <div class="image-mentor">
                                                            <img ng-src="{{answer.avatar}}">
                                                        </div>
                                                        <div class="detail-mentor-answer">
                                                            <div class="mentor-name">
                                                                <a href="#/student/mentorProfile/{{answer.authorID}}"><strong>{{answer.name}}</strong></a>&nbsp;&nbsp;&nbsp;<span>answered {{answer.time}}
                                                                </span>&nbsp;&nbsp;&nbsp;<span>{{answer.countLike }} <span
                                                                    data-icon="&#xe089;" id="{{answer.like=='1'?'heart':''}}" class="heart{{question.id +''+ answer.aid}}"
                                                                    ng-click="likeAnswer(answer.aid,question.id)"></span></span>
                                                            </div>
                                                            <div class="mentor-answer">
                                                                <p class="pre-wrap ">{{answer.content}}</p>
                                                                <div class="images-question">
                                                                    <ul>
                                                                        <li class="item" ng-repeat="aimage in answer.imageAnswer track by $index">
                                                                            <div ng-click="zoomImage(answer.imageAnswer,$index)" ng-mouseover="imageHoverIn('aimg_'+answer.aid +''+$index)"
                                                                                 ng-mouseleave="imageHoverOut('aimg_'+answer.aid +''+$index)" class="item-img">
                                                                                <img  ng-src="{{aimage}}">
                                                                                <div id="aimg_{{+answer.aid +''+$index}}" class="item-hover">
                                                                                    <img src="assets/images/ask question/look-img.png">
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div><!-- /End Images of question -->

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /End Detail-answer-question -->
                                                <!--<div class="load-more"-->
                                                <!--ng-show="question.count_answer > limitAnswes"-->
                                                <!--ng-click="limitAnswes = question.count_answer">-->
                                                <!--<p>Load more answers</p>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                        <!-- /End answer of question -->
                                     </div>

                              </div>

                            </div><!-- /End content of question -->
                            <!--<div class="load-more">-->
                                <!--<p ng-show="isDisplayMore">End</p>-->
                            <!--</div>-->
                        </div>
                    </div><!-- /End question of user -->
                </div>
                <!-- POPUP of images's question -->
                <!--<div class="popup-images">-->
                    <!--<div class="popup-images-wrapper">-->
                        <!--&lt;!&ndash;<img ng-src="{{currentImage}}" width="800px" height="600px">&ndash;&gt;-->
                        <!--<ul class="bxslider">-->
                            <!--<li ng-repeat="img in currentImage"><img ng-src="{{img}}" /></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="close-popup-images" ng-click="closeImage()">-->
                    <!--</div>-->
                <!--</div>-->
                <div id="modalImage" class="modal face">
                    
                    <div id="myCarousel" class="carousel slide container"  data-interval="false" >
                        <!--&lt;!&ndash; Indicators &ndash;&gt;-->
                        <!--<ol class="carousel-indicators">-->
                            <!--<li ng-class="{'active':currentIndexImage == $index}" ng-repeat="img in currentImage track by $index" data-target="#myCarousel">-->
                                <!--<img  data-slide-to="{{$index}}" ng-src="{{img}}" class="thumb">-->
                            <!--</li>-->

                        <!--</ol>-->

                        <!-- Wrapper for slides -->
                        <!-- The Close Button -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" data-icon="&#x51;"></span>
                        </button>
                        <div class="carousel-inner" role="listbox">
                            <div class="item" ng-class="{'active':currentIndexImage == $index}" ng-repeat="img in currentImage track by $index">
                                <img  ng-src="{{img}}" style="margin: auto; width:600px ;height:400px" >
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a   ng-click="nextImageSlide('prev')" class="left carousel-control" role="button" >
                            <span aria-hidden="true" data-icon="&#x34;"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a  ng-click="nextImageSlide('next')" class="right carousel-control" role="button" >
                            <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                            <span aria-hidden="true" data-icon="&#x35;"></span>
                            <span class="sr-only">Next</span>
                        </a>

                        <!-- Thumbnails -->
                        <ul class="thumbnails-carousel clearfix">
                            <div id="ulthumbnails-carouselcenter" class="center clearfix">
                                <li id="ulthumbnails-carouselli" ng-click="setCurrentIndex($index)" ng-repeat="imgThumb in currentImage track by $index">
                                    <!-- {{currentIndexImage +'=='+ $index}} -->
                                    <img data-target="#myCarousel" style="height: 80px;width: 80px" class="{{currentIndexImage == $index ? 'active-thumbnail':''}}" data-slide-to="{{$index}}"  ng-src="{{imgThumb}}">
                                </li>
                            </div>
                        </ul>

                    </div>

                </div>
                <!-- /End POPUP of images's question -->
                <div sticky-kit="stickyOptions1"  class="top-mentors-videos col-lg-4">
                    <!-- Top mentor -->
                    <div  class="top-mentors" ng-include="'src/app/topMentor/topMentors.tpl.html'">
                    </div><!-- /End top memtor -->
                    <!-- Top videos -->
                    <div  class="top-videos"  ng-include="'src/app/topVideo/topVideos.tpl.html'" >
                    </div><!-- /End top memtor -->
                </div>
            </section><!-- /End content -->
        </div>
    </div><!-- End container -->

    <!-- Form add new ask -->
    <div class="form-ask-question">
        <div class="form-ask-question-wrapper">
            <form action="" method=""
                  class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                <h3>{{titlePopupAsk}}</h3>
                <div ng-if="askErrorMsg" class="validate_error">
                    <span>{{askErrorMsg}}</span>
                </div>
                <p>
                <div angucomplete-alt id="autocompleteCate"  placeholder="Search category.." pause="300"
                     selected-object="selectedSubject"
                     local-data="subjects" search-fields="subject" title-field="subject"
                     image-field="image" minlength="0" input-class="form-control form-control-small"
                     match-class="highlight" />
                </p>
                <p><textarea id="autocompleteQuest_value" placeholder="{{questionIndex}}"></textarea></p>
                <output style="width: auto;float: left;" class="upload-image " id="list">

                    <div ng-repeat="image in imagePathOld track by $index" ng-if="image">
                        <img class="thumb" ng-src="{{image}}"/>
                        <div class="remove-image"><img src="assets/images/remove-img.png"
                                                       ng-click="removeImgOld($index)"></div>
                    </div>
                    <div ng-repeat="step in filesArray track by $index">
                        <img class="thumb" ngf-thumbnail="step" />
                        <div class="remove-image"><img src="assets/images/remove-img.png"
                                                       ng-click="removeImg($index)"></div>
                    </div>
                    <button ngf-select="onFileSelect($files,$invalidFiles)" multiple ngf-pattern="'image/*'"
                            accept="image/*" ngf-max-size="5MB" >
                        <img src="assets/images/add-img.png"></button>
                </output>
                <!--<span class="add-img">-->
                                <!--<input type="file" multiple id="files" ng-file-select="onFileSelect($files)"-->
                                       <!--accept='image/*'/>-->
                                <!--<label style="margin-top: 11px;" for="files"><img src="assets/images/add-img.png"></label></span>-->
                <p style="width: 100%;float: left;">
                    <button ng-if="!isEdit" type="button" ng-click="redirectForum()" class="ask-question-now">Ask Now</button>
                    <button ng-if="isEdit" type="button" ng-click="updateQuestion()" class="ask-question-now">Update</button>
                </p>
                <p class="close-form close" ng-click="closePopupAskQuestion()"><span data-icon="&#xe051;"></span></p>
            </form>
        </div>
        <div class="close-popup-images" ng-click="closePopupAskQuestion()">
        </div>
    </div>
    <!-- /End Form add new ask-->
</div>
