<div class="modal-choose-playlist" ng-cloak>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span data-icon="&#x51;"></span></button>
        <h4 class="modal-title">Choose playlist</h4>
    </div>
    <div class="modal-body clearfix">
        <form action="">
            <h5 for="">Choose a playlist alrealy exitsts<span>&nbsp;&nbsp;or&nbsp;&nbsp;</span></h5>
            <div class="addnew">
                <a href="" ng-click="addNewPlaylist()">Add new</a>
            </div>
            <div class="form-group col-md-10">
                <select class="form-control" ng-model="playlist" ng-change="selectPlaylist(playlist)" class="form-control" ng-options='playlist.plid as playlist.name for playlist in playlists'>
                </select>
                <div ng-if="error" class="validate_error">
                   <span>{{error}}</span>
                </div>
            </div>
            <div class="btn-modal col-md-2">
                <button type="button" class="btn btn-default btn-app" ng-click="apply()">Apply</button> 
            </div>
        </form>
    </div>
</div>

