<div id="sidebar-menu" class="sidebar-left" ng-include="sidebarLeft"></div>
<div class="content">
    <div class="center-content">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-header">   
                    <h4><a href="#/"> SibLinks</a> / Manage Tutorial</h4> 
                    </div>
                    <div class="manager-video manage-tutorial">
                        <div class="row top-mag">
                            <div class="col-md-8">
                                <div class="col-md-5 search">
                                    <form class="navbar-form" role="search">
                                        <div class="input-group">                                                        
                                            <div id="srch-term" angucomplete-alt id="srch-term" ng-enter="search()" placeholder="Search" pause="50" selected-object="onSelect" local-data="listAllVideos" search-fields="title" title-field="title"
                                                minlength="1" input-class="form-control input-search" text-no-results="Tutorial Not Found" match-class="highlight" ></div>
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="submit" ng-click="search()"><img src="assets/images/icon-search.png" alt=""></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3 sl-sbj">
                                    <select class="select-sbj" ng-model="subject" ng-change="loadVideosBySubject(subject)" class="form-control" ng-options='subject.subjectId as subject.subject for subject in videoMgrSubjects'>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="btn-mg">
                            <button class="btn-delete" ng-click ="deleteMultiple()">Delete</button>
                            <button class="add-play" ng-click="addMultipleToPlaylist()">Add to playlist</button>
                        </div>
                        <div class="main-manager-video">
                            <div class="filters clearfix">
                                <div class="check-all"><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></div>
                                <div class="text-trf">Tutorial Information</div>
                                <div class="text-play">Playlist</div>
                                <div class="text-des">Description</div>
                                <div class="text-ac">Action</div>
                            </div>
                            <div class="group-item">
                                <div ng-if="videos.length <= 3">
                                    <div class="item" ng-repeat="v in videos track by $index">
                                        <div class="check-box"><input ng-model="v.selected" type="checkbox" class="check-input" name="checkall" ng-click="optionSelected()"/></div>
                                        <div class="box-detail-play clearfix">
                                            <span class="item-thumbnail">
                                                <a href="" ng-click="goToDetail(v)"><img class="item-fix-size" src="{{v.image}}" alt=""></a>
                                            </span>
                                            <div class="detail-pl-inner">
                                                <a href="" ng-click="goToDetail(v)"><h5>{{v.title | limitTo : 25}}{{v.title.length > 25 ? '...' : ''}}</h5></a>
                                                <span class="add-time">{{v.timeStamp}} ago</span>
                                                <ul class="list-star">
                                                    <div ng-if="v" class="pull-left" star-rating stars="5"
                                                      outer-star-selection="stars"
                                                      readonly="true"
                                                      outer-percent="rating"
                                                      rating-define="star"
                                                      rating-stars="{{v.averageRating}}"
                                                      star-radius="7" sel-color="gold"
                                                      back-color="white"></div>
                                                </ul></br>
                                                
                                                <p class="list-view">
                                                    <span><img src="assets/images/icon-play.png" alt=""> {{v.numViews}}</span>&nbsp;&nbsp;
                                                    <span><img src="assets/images/icon-comment.png" alt=""> {{v.numComments}}</span>&nbsp;&nbsp;
                                                </p>
                                            </div>
                                        </div>
                                        <p class="box-playlist">
                                            {{v.playlistname | limitTo: 15}}{{v.playlistname.length > 15 ? '...' : ''}}
                                        </p>
                                        <p class="box-description pre-wrap">{{v.description | limitTo : 150}}{{v.description.length > 150 ? '...' : ''}}</p>
                                        <div class="box-ac">
                                            <ul class="list-ac">
                                                <li><a href="" ng-click="edit(v.vid)">Edit</a></li>
                                                <li><a href="" ng-click="addToPlaylist(v)">Add to playlist</a></li>
                                                <li><a href="" ng-really-message="Are you sure you want to delete?" ng-really-click ="deleteVideo(v.vid)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="videos.length > 3" scroller="videoScrl" data-on-total-scroll="loadMoreVideos">
                                    <div class="item" ng-repeat="v in videos track by $index">
                                        <div class="check-box"><input ng-model="v.selected" type="checkbox" class="check-input" name="checkall" ng-click="optionSelected()"/></div>
                                        <div class="box-detail-play clearfix">
                                            <span class="item-thumbnail">
                                                <a href="" ng-click="goToDetail(v)"><img class="item-fix-size" src="{{v.image}}" alt=""></a>
                                            </span>
                                            <div class="detail-pl-inner">
                                                <a href="" ng-click="goToDetail(v)"><h5>{{v.title | limitTo : 25}}{{v.title.length > 25 ? '...' : ''}}</h5></a>
                                                <span class="add-time">{{v.timeStamp}} ago</span>
                                                <ul class="list-star">
                                                    <div ng-if="v" class="pull-left" star-rating stars="5"
                                                      outer-star-selection="stars"
                                                      readonly="true"
                                                      outer-percent="rating"
                                                      rating-define="star"
                                                      rating-stars="{{v.averageRating}}"
                                                      star-radius="7" sel-color="gold"
                                                      back-color="white"></div>
                                                </ul></br>
                                                
                                                <p class="list-view">
                                                    <span><img src="assets/images/icon-play.png" alt=""> {{v.numViews}}</span>&nbsp;&nbsp;
                                                    <span><img src="assets/images/icon-comment.png" alt=""> {{v.numComments}}</span>&nbsp;&nbsp;
                                                </p>
                                            </div>
                                        </div>
                                        <p class="box-playlist">
                                            {{v.playlistname | limitTo: 15}}{{v.playlistname.length > 15 ? '...' : ''}}
                                        </p>
                                        <p class="box-description pre-wrap">{{v.description | limitTo : 150}}{{v.description.length > 150 ? '...' : ''}}</p>
                                        <div class="box-ac">
                                            <ul class="list-ac">
                                                <li><a href="" ng-click="edit(v.vid)">Edit</a></li>
                                                <li><a href="" ng-click="addToPlaylist(v)">Add to playlist</a></li>
                                                <li><a href="" ng-really-message="Are you sure you want to delete?" ng-really-click ="deleteVideo(v.vid)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="!videos" style="margin-top: 15px; margin-left: 58px;"><h5>No Tutorial here</h5></div>
                            </div>
                            <div class="row clearfix">
                            </div>
                            <div class="filters clearfix">
                                <div class="check-all"><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></div>
                                <div class="text-trf">Tutorial Information</div>
                                <div class="text-play">Playlist</div>
                                <div class="text-des">Description</div>
                                <div class="text-ac">Action</div>
                            </div>
                            <div class="btn-mg">
                                <button class="btn-delete" ng-click ="deleteMultiple()">Delete</button>
                                <button class="add-play" ng-click="addMultipleToPlaylist()">Add to playlist</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>                
</div>
<div id="sidebar-right" ng-include="sidebarRight"></div>