<div id="sidebar-menu" class="sidebar-left" ng-include="sidebarLeft"></div>
<!-- main start -->
<div class="content">
    <div class="center-content">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-header">    
                    <h4>Manage Video</h4>
                    </div>
                    <div class="manager-detail-video">
                        <div class="play-video">
                            <div class="box-btn-sl clearfix" ng-if="plid">
                                <a href="#" class="btn-prev"><img src="assets/images/icon-left-sl-vd.png" alt=""></a>
                                <a href="#" class="btn-next"><img src="assets/images/icon-right-sl-vd.png" alt=""></a>
                            </div>
                            <div class="group-video-pl">
                                <div class="item-pl-video clearfix">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2" ng-if="vid"></div>
                                    <div class="video-play col-md-6" id="detailPlayer">
                                        <!-- <img src="assets/images/img-video-l.png" alt=""> -->
                                    </div>                                    
                                    <div class="video-wait col-md-3" ng-if="plid" style="margin-left: 45px;">
                                        <div class="top-w clearfix">
                                            <h5 class="pull-left">Learn Algebra Series</h5>
                                            <span class="pull-right" data-icon="&#xe037;"></span>
                                        </div>
                                        <div class="top-nav-w clearfix">
                                            <span class="pull-left">Brian Scott</span>
                                            <span class="pull-right">4 of 16 videos</span>
                                        </div>
                                        <ul class="list-videp-w">
                                            <li>
                                                <a class="clearfix" href="#">
                                                    <span class="pull-left"><img src="assets/images/img-video-sm.png" alt=""></span>
                                                    <h6 class="pull-left">Chapter 1: Commutative and<br/> Associative Properties</h6>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="clearfix" href="#">
                                                    <span class="pull-left"><img src="assets/images/img-video-sm.png" alt=""></span>
                                                    <h6 class="pull-left">Chapter 1: Commutative and<br/> Associative Properties</h6>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="clearfix" href="#">
                                                    <span class="pull-left"><img src="assets/images/img-video-sm.png" alt=""></span>
                                                    <h6 class="pull-left">Chapter 1: Commutative and<br/> Associative Properties</h6>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="clearfix" href="#">
                                                    <span class="pull-left"><img src="assets/images/img-video-sm.png" alt=""></span>
                                                    <h6 class="pull-left">Chapter 1: Commutative and<br/> Associative Properties</h6>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="clearfix" href="#">
                                                    <span class="pull-left"><img src="assets/images/img-video-sm.png" alt=""></span>
                                                    <h6 class="pull-left">Chapter 1: Commutative and<br/> Associative Properties</h6>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="clearfix" href="#">
                                                    <span class="pull-left"><img src="assets/images/img-video-sm.png" alt=""></span>
                                                    <h6 class="pull-left">Chapter 1: Commutative and<br/> Associative Properties</h6>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="clearfix" href="#">
                                                    <span class="pull-left"><img src="assets/images/img-video-sm.png" alt=""></span>
                                                    <h6 class="pull-left">Chapter 1: Commutative and<br/> Associative Properties</h6>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ctn-main col-md-12">
                            <div class="col-md-8">
                                <div class="main-cm-detail">
                                    <div class="top-cm">
                                        <h3>How to learn Physics effectively</h3>
                                        <span class="time">9 months ago</span>
                                        <div class="btn-count clearfix">
                                            <div class="bx-btn pull-left">
                                                <button class="btn-add active" data-toggle="modal" href='#modal-id'>Add to playlist</button>
                                                <button class="btn-edit">Edit</button>
                                                <button class="btn-remove">Delete</button>
                                            </div>
                                            <p class="list-view pull-right">
                                                <span><i class="fa fa-play-circle-o" aria-hidden="true"></i> 324</span>&nbsp;&nbsp;
                                                <a href="#"><span class="like-h" data-icon="&#xe089;"></span> 12</a>&nbsp;&nbsp;
                                                <span><i class="fa fa-comments" aria-hidden="true"></i> 16</span>&nbsp;&nbsp;
                                            </p>
                                        </div>
                                        <div class="txt-dg clearfix">
                                            <p class="pull-left">Rate <span>5.0 (4 votes)</span></p>&nbsp;&nbsp;
                                            <ul class="list-star pull-left">
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="show-about">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a risus mollis, scelerisque nunc at, viverra nisi. Donec ornare fringilla turpis id lobortis. Nullam eu turpis elit. Donec a feugiat metus. Aliquam interdum nibh eu efficitur pellentesque. Nullam commodo ac dolor ac aliquet. Curabitur quis maximus justo, ac rutrum est. Sed arcu risus, posuere sit amet velit ut, rutrum consequat nunc.</p>
                                        <a href="#">Readmore<span data-icon="&#x33;"></span></a>
                                    </div>
                                    <div class="catego clearfix">
                                        <p class="pull-right"><span>Catalogue</span>&nbsp;&nbsp;<b>Chemistry, Biology</b></p>
                                    </div>
                                    <div class="form-commnent">
                                        <h3>16 Comments</h3>
                                        <form action="">
                                            <div class="box-chat-onl clearfix">
                                                <a href="#" class="col-md-1"><img src="assets/images/user.jpg" alt=""></a>
                                                <div class="texta col-md-11">
                                                    <textarea name="" placeholder="add your reply here"></textarea>
                                                </div>
                                            </div>
                                            <div class="detail-commnet">
                                                <ul>
                                                    <li class="clearfix">
                                                        <span class="chat-img col-md-1">
                                                            <img src="assets/images/user.jpg" alt="User Avatar">
                                                        </span>
                                                        <div class="chat-body col-md-11">
                                                            <div class="header">
                                                                <strong class="primary-font">You</strong><a href="#">8 <span class="like-h" data-icon="&#xe089;"></span></a><span class="time">asked 1 mins ago</span>
                                                                <a href="#" class="txt-dlt pull-right">Delete</a>
                                                            </div>
                                                            <p>
                                                                Donec volutpat turpis risus, ac aliquet ligula varius ut. Cras lacus orci, scelerisque quis sem sed, condimentum cursus quam
                                                            </p>
                                                        </div>
                                                        <ul class="sub-cm">
                                                            <li class="clearfix">
                                                                <span class="chat-img col-md-1">
                                                                    <img src="assets/images/user.jpg" alt="User Avatar">
                                                                </span>
                                                                <div class="chat-body col-md-11">
                                                                    <div class="header">
                                                                        <strong class="primary-font">You</strong><a href="#">8 <span class="like-h" data-icon="&#xe089;"></span></a><span class="time">asked 1 mins ago</span>
                                                                        <a href="#" class="txt-dlt pull-right">Delete</a>
                                                                    </div>
                                                                    <p>
                                                                        Donec volutpat turpis risus, ac aliquet ligula varius ut. Cras lacus orci, scelerisque quis sem sed, condimentum cursus quam
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="clearfix">
                                                        <span class="chat-img col-md-1">
                                                            <img src="assets/images/user.jpg" alt="User Avatar">
                                                        </span>
                                                        <div class="chat-body col-md-11">
                                                            <div class="header">
                                                                <strong class="primary-font">You</strong><a href="#">8 <span class="like-h" data-icon="&#xe089;"></span></a><span class="time">asked 1 mins ago</span>
                                                                <a href="#" class="txt-dlt pull-right">Delete</a>
                                                            </div>
                                                            <p>
                                                                Donec volutpat turpis risus, ac aliquet ligula varius ut. Cras lacus orci, scelerisque quis sem sed, condimentum cursus quam
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                    <p class="btn-load"><a href="#">load more comments</a></p>
                                </div>
                            </div>
                            <div class="col-md-4 right-sub-video">
                                <h4>Related Videos</h4>
                                <ul class="list-sub-video">
                                    <li class="clearfix">
                                        <span class="pull-left"><img src="assets/images/img-sub-video.png" alt=""></span>
                                        <div class="sub-vd-right pull-left">
                                            <h5>Trigonometric Tutorial 1</h5>
                                            <p>from <b>Brian Scott</b></p>
                                            <p>View: <span>5564</span></p>
                                        </div> 
                                    </li>
                                    <li class="clearfix">
                                        <span class="pull-left"><img src="assets/images/img-sub-video.png" alt=""></span>
                                        <div class="sub-vd-right pull-left">
                                            <h5>Trigonometric Tutorial 1</h5>
                                            <p>from <b>Brian Scott</b></p>
                                            <p>View: <span>5564</span></p>
                                        </div> 
                                    </li>
                                    <li class="clearfix">
                                        <span class="pull-left"><img src="assets/images/img-sub-video.png" alt=""></span>
                                        <div class="sub-vd-right pull-left">
                                            <h5>Trigonometric Tutorial 1</h5>
                                            <p>from <b>Brian Scott</b></p>
                                            <p>View: <span>5564</span></p>
                                        </div> 
                                    </li>
                                    <li class="clearfix">
                                        <span class="pull-left"><img src="assets/images/img-sub-video.png" alt=""></span>
                                        <div class="sub-vd-right pull-left">
                                            <h5>Trigonometric Tutorial 1</h5>
                                            <p>from <b>Brian Scott</b></p>
                                            <p>View: <span>5564</span></p>
                                        </div> 
                                    </li>
                                    <li class="clearfix">
                                        <span class="pull-left"><img src="assets/images/img-sub-video.png" alt=""></span>
                                        <div class="sub-vd-right pull-left">
                                            <h5>Trigonometric Tutorial 1</h5>
                                            <p>from <b>Brian Scott</b></p>
                                            <p>View: <span>5564</span></p>
                                        </div> 
                                    </li>
                                    <li class="clearfix">
                                        <span class="pull-left"><img src="assets/images/img-sub-video.png" alt=""></span>
                                        <div class="sub-vd-right pull-left">
                                            <h5>Trigonometric Tutorial 1</h5>
                                            <p>from <b>Brian Scott</b></p>
                                            <p>View: <span>5564</span></p>
                                        </div> 
                                    </li>
                                    <p class="btn-load"><a href="#">load more videos</a></p>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>                
</div>
<!--  end main -->
<div id="sidebar-right" ng-include="sidebarRight"></div>
        