<!-- Sidebar left menu -->
<div id="sidebar-menu" class="sidebar-left" ng-include="sidebarLeft"></div>
<!-- /End Sidebar left menu -->
    <div class="content">
        <div class="center-content">
            <div class="center-content-wrapper">
                <section id="dashboard">
                    <div class="dashboard-wrapper">
                        <div class="dashboard-header">    
                        <h4>Manage Video</h4>
                        <p>Ut a porttitor leo. Aliquam fermentum nec elit lobortis tristique </p>
                        </div>
                        <div class="manager-box-video">
                            <div class="row">
                                <div class="col-md-3 box-over">
                                    <div class="top-over clearfix">
                                        <span class="pull-left">overview</span>
                                        <span class="pull-right" data-icon="&#xe037;"></span>
                                        <div class="bx-video-play">
                                            <span><img src="assets/images/icon-play-box.png" alt=""></span>
                                            <span><b>{{dashboard.count_videos}}</b>&nbsp;videos</span><br/>
                                            <span><b>{{dashboard.count_playlist}}</b>&nbsp;playlist</span>
                                        </div>
                                    </div>
                                    <ul class="list-review">
                                        <li><img src="assets/images/icon-l-review.png" alt="">&nbsp;&nbsp;<b>{{dashboard.count_views}}</b>&nbsp;&nbsp;views</li>
                                        <li><img src="assets/images/icon-l-comments.png" alt="">&nbsp;&nbsp;<b>{{dashboard.count_comments}}</b>&nbsp;&nbsp;comments</li>
                                        <li class="clearfix">
                                            <span class="pull-left"><img src="assets/images/icon-l-star.png" alt="">&nbsp;&nbsp;<b>{{dashboard.avg_rating}}</b>&nbsp;&nbsp;rate
                                            </span>    
                                            <div ng-if="dashboard" class="list-star pull-left" star-rating stars="5"
                                                  outer-star-selection="stars"
                                                  outer-percent="rating"
                                                  rating-define="star"
                                                  rating-stars="{{dashboard.avg_rating}}"
                                                  star-radius="12" sel-color="gold"
                                                  back-color="white"></div>                                        
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 box-video-inner" ng-if="videos">
                                    <div class="video-detail active">
                                        <img src="{{v.image}}" alt="">
                                        <span class="icon-play-video"><img src="assets/images/icon-play-video.png" alt=""></span>
                                    </div>
                                    <div class="detail-vd">
                                        <!-- <h5>Ut at sem quis urna fringilla congue a <br/>in ex. Aliquam sed imperdiet elit</h5> -->
                                        <h5>{{v.description}}</h5>
                                        <div class="clearfix">
                                            <!-- <ul class="list-star pull-left">
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            </ul> -->
                                            <p class="list-view pull-right">
                                                <span><img src="assets/images/icon-pl.png" alt=""> {{v.numViews}}</span>&nbsp;&nbsp;
                                                <span><img src="assets/images/icon-like.png" alt=""> {{v.numFavourite}}</span>&nbsp;&nbsp;
                                                <span><img src="assets/images/icon-cm.png" alt=""> {{v.numComments}}</span>&nbsp;&nbsp;
                                            </p>
                                        </div>     
                                        <div class="clearfix">
                                            <h4 class="pull-left">newest</h4>
                                            <ul class="pull-right icon-sl">
                                                <li><a ng-click="newestPrev(newestPos)"><img src="assets/images/icon-left.png" alt="" ></a></li>
                                                <li><a ng-click="newestNext(newestPos)"><img src="assets/images/icon-right.png" alt="" ></a></li>
                                            </ul>
                                        </div>                                   
                                    </div>                                   
                                </div>
                                <div class="col-md-3 box-video-inner" ng-if="videosTopRated">
                                    <div class="video-detail">
                                        <img src="{{vTopRated.image}}" alt="">
                                        <span class="icon-play-video"><img src="assets/images/icon-play-video.png" alt=""></span>
                                    </div>
                                    <div class="detail-vd detail-vd-2">
                                        <h5>{{vTopRated.description}}</h5>
                                        <div class="clearfix">
                                            <!-- <ul class="list-star pull-left">
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            </ul> -->
                                            <p class="list-view pull-right">
                                                <span><img src="assets/images/icon-pl.png" alt=""> {{vTopRated.numViews}}</span>&nbsp;&nbsp;
                                                <span><img src="assets/images/icon-like.png" alt=""> {{vTopRated.numFavourite}}</span>&nbsp;&nbsp;
                                                <span><img src="assets/images/icon-cm.png" alt=""> {{vTopRated.numComments}}</span>&nbsp;&nbsp;
                                            </p>
                                        </div>
                                        <div class="clearfix">
                                            <h4 class="pull-left">top rated</h4>
                                            <ul class="pull-right icon-sl">
                                                <li><a ng-click="topRatedPre(topRatedPos)"><img src="assets/images/icon-left.png" alt=""></a></li>
                                                <li><a ng-click="topRatedNext(topRatedPos)"><img src="assets/images/icon-right.png" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 box-video-inner" ng-if="videosTopViewed">
                                    <div class="video-detail">
                                        <img src="{{vTopViewed.image}}" alt="">
                                        <span class="icon-play-video"><img src="assets/images/icon-play-video.png" alt=""></span>
                                    </div>
                                    <div class="detail-vd detail-vd-3">
                                        <h5>{{vTopViewed.description}}</h5>
                                        <div class="clearfix">
                                           <!--  <ul class="list-star pull-left">
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            </ul> -->
                                            <p class="list-view pull-right">
                                                <span><img src="assets/images/icon-pl.png" alt=""> {{vTopViewed.numViews}}</span>&nbsp;&nbsp;
                                                <span><img src="assets/images/icon-like.png" alt=""> {{vTopViewed.numFavourite}}</span>&nbsp;&nbsp;
                                                <span><img src="assets/images/icon-cm.png" alt=""> {{vTopViewed.numComments}}</span>&nbsp;&nbsp;
                                            </p>
                                        </div>
                                        <div class="clearfix">
                                            <h4 class="pull-left">top viewed</h4>
                                            <ul class="pull-right icon-sl">
                                                <li><a ng-click="topViewedPre(topViewedPos)"><img src="assets/images/icon-left.png" alt=""></a></li>
                                                <li><a ng-click="topViewedNext(topViewedPos)"><img src="assets/images/icon-right.png" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row main-rate">
                                <div class="col-md-4">
                                    <div class="box-rate" >
                                        <h4>Latest Rating</h4>
                                        <ul ng-if="ratings">
                                            <li class="clearfix" ng-repeat="r in ratings track by $index">
                                                <span class="img-tb pull-left"><img src="{{r.imageUrl}}" alt=""></span>
                                                <div class="text-rate pull-left">
                                                    <h5>{{r.fullName}}</h5>
                                                    <div class="rate-star clearfix">
                                                        <span class="pull-left">
                                                            <div ng-if="comments" star-rating stars="5"
                                                              outer-star-selection="stars"
                                                              outer-percent="rating"
                                                              rating-define="star"
                                                              rating-stars="{{r.rating}}"
                                                              star-radius="12" sel-color="gold"
                                                              back-color="white"></div>
                                                         </span>
                                                    </div>
                                                    <p>video<span>{{r.title}}</span></p>
                                                </div>
                                            </li>                                           
                                        </ul>
                                        <div ng-if="ratingNodata">No data</div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-8">
                                    <div class="box-l-comment" >
                                        <h4>latest comments</h4>
                                        <div ng-if="comments" class="item-cm clearfix" ng-repeat="c in comments track by $index">
                                            <span class="img-tb pull-left"><img src="{{c.imageUrl}}" alt=""></span>
                                            <div class="pull-left detail-cm">
                                                <ul class="top-name">
                                                    <li><a href="#">{{c.fullName}}</a></li>
                                                    <li><span class="time">{{c.timestamp}} ago on</span></li>
                                                    <li><span class="question">How to learn Algebra effectively </span></li>
                                                </ul>
                                                <p>Sed neque ipsum, placerat quis pellentesque quis, aliquet non eros. Morbi at laoreet justo. Ut sodales egestas augue a tincidunt. Nullam nec nisi porta, vestibulum tellus sit amet, luctus ex</p>
                                            </div>
                                            <a class="pull-right btn-reply" href="#">reply</a>
                                        </div>                                       
                                        <div ng-if="commentNodata">No data</div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>                
    </div>
<!-- Sidebar right -->
<div id="sidebar-right" ng-include="sidebarRight"></div>
<!-- End Sidebar right -->