<div id="sidebar-menu" ng-class="{in: isMiniMenu}" class="sidebar-left" ng-include="sidebarLeft"></div>
<div class="content" ng-cloak>
    <div id="center-content" class="center-content" ng-class="{in: isMiniMenu}">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-header">    
                    <h4><a href="#/"> SibLinks</a> / General</h4> 
                    </div>
                    <div class="manager-box-video">
                        <div class="row">
                            <div class="col-md-3 box-over">
                                <div class="top-over clearfix">
                                    <span class="pull-left">Overview</span>
                                    <span class="pull-right" data-icon="&#xe037;"></span>
                                    <div class="bx-video-play">
                                        <span><img src="assets/images/icon-play-box.png" alt=""></span>
                                        <span><b>{{dashboard.count_videos}}</b>&nbsp;videos</span><br/>
                                        <span style="margin-left: 10px;"><b>{{dashboard.count_playlist}}</b>&nbsp;playlists</span>
                                    </div>
                                </div>
                                <ul class="list-review">
                                    <li><img src="assets/images/icon-l-review.png" alt="">&nbsp;&nbsp;<b>{{dashboard.count_views ? dashboard.count_views : 0}}</b>&nbsp;&nbsp;views</li>
                                    <li><img src="assets/images/icon-l-comments.png" alt="">&nbsp;&nbsp;<b>{{dashboard.count_comments}}</b>&nbsp;&nbsp;comments</li>
                                    <li class="clearfix">
                                        <span class="pull-left" ><img src="assets/images/icon-l-star.png" alt="">&nbsp;&nbsp;<b>{{dashboard.avg_rating}}</b>&nbsp;&nbsp;
                                        </span>    
                                          <div class="average">
                                            <average-star-rating ng-model="averageRating" max="5"><average-star-rating>    
                                          </div>                                    
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3 box-video-inner">
                                <div class="video-detail active">
                                    <a href="" ng-click="goToDetail(v)"><img ng-show="videos" src="{{v.image}}" alt=""><img ng-show="!videos" src="assets/images/img-video.png" alt="" class="nodata"></a>                                
                                    <span class="icon-play-video"><img src="assets/images/icon-play-video.png" alt="" ng-click="goToDetail(v)"></span>
                                </div>
                                <div class="detail-vd">
                                    <a href="" ng-click="goToDetail(v)"><h5 ng-show="videos">{{v.title | limitTo : 15}}{{v.title.length > 15 ? '...' : ''}}</h5></a>
                                    <h5 ng-show="!videos">No video</h5>
                                    <div class="clearfix">
                                        <div class="average">
                                            <average-star-rating ng-model="newestAverageRating" max="5"><average-star-rating>    
                                        </div> 
                                        <p class="list-view pull-right pull-right-mod">
                                            <span><img src="assets/images/icon-pl.png" alt=""> {{v.numViews}}</span>&nbsp;&nbsp;
                                            <span><img src="assets/images/icon-cm.png" alt=""> {{v.numComments}}</span>&nbsp;&nbsp;
                                        </p>
                                    </div>     
                                    <div class="clearfix">
                                        <h4 class="pull-left">Newest</h4>
                                        <ul class="pull-right icon-sl">
                                            <li><a ng-click="newestPrev(newestPos)"><img src="assets/images/icon-left.png" alt="" ></a></li>
                                            <li><a ng-click="newestNext(newestPos)"><img src="assets/images/icon-right.png" alt="" ></a></li>
                                        </ul>
                                    </div>                                   
                                </div>                                   
                            </div>
                            <div class="col-md-3 box-video-inner">
                                <div class="video-detail">
                                    <a href="" ng-click="goToDetail(vTopRated)"><img ng-show="videosTopRated" src="{{vTopRated.image}}" alt=""><img ng-show="!videosTopRated" src="assets/images/img-video-2.png" alt="" class="nodata"></a>                                    
                                    <span class="icon-play-video"><img src="assets/images/icon-play-video.png" alt="" ng-click="goToDetail(vTopRated)"></span>
                                </div>
                                <div class="detail-vd detail-vd-2">
                                    <a href="" ng-click="goToDetail(vTopRated)"><h5 ng-show="videosTopRated">{{vTopRated.title | limitTo : 15}}{{vTopRated.title.length > 15 ? '...' : ''}}</h5></a>
                                    <h5 ng-show="!videosTopRated">No video</h5>
                                    <div class="clearfix">
                                        <div class="average">
                                            <average-star-rating ng-model="topRatedAverageRating" max="5"><average-star-rating>    
                                        </div>
                                        <p class="list-view pull-right pull-right-mod">
                                            <span><img src="assets/images/icon-pl.png" alt=""> {{vTopRated.numViews}}</span>&nbsp;&nbsp;
                                            <span><img src="assets/images/icon-cm.png" alt=""> {{vTopRated.numComments}}</span>&nbsp;&nbsp;
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                        <h4 class="pull-left">Top Rated</h4>
                                        <ul class="pull-right icon-sl">
                                            <li><a ng-click="topRatedPre(topRatedPos)"><img src="assets/images/icon-left.png" alt=""></a></li>
                                            <li><a ng-click="topRatedNext(topRatedPos)"><img src="assets/images/icon-right.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 box-video-inner">
                                <div class="video-detail">
                                    <a href="" ng-click="goToDetail(vTopViewed)"><img ng-show="videosTopViewed" src="{{vTopViewed.image}}" alt="" ><img ng-show="!videosTopViewed" src="assets/images/img-video-3.png" alt="" class="nodata"></a>
                                    
                                    <span class="icon-play-video"><img src="assets/images/icon-play-video.png" alt="" ng-click="goToDetail(vTopViewed)"></span>
                                </div>
                                <div class="detail-vd detail-vd-3">
                                    <a href="" ng-click="goToDetail(vTopRated)"><h5 ng-show="videosTopViewed">{{vTopViewed.title | limitTo : 15}}{{vTopViewed.title.length > 15 ? '...' : ''}}</h5></a>
                                    <h5 ng-show="!videosTopViewed">No video</h5>
                                    <div class="clearfix">
                                        <div class="average">
                                            <average-star-rating ng-model="topViewedAverageRating" max="5"><average-star-rating>    
                                        </div> 
                                        <p class="list-view pull-right pull-right-mod">
                                            <span><img src="assets/images/icon-pl.png" alt=""> {{vTopViewed.numViews}}</span>&nbsp;&nbsp;
                                            <span><img src="assets/images/icon-cm.png" alt=""> {{vTopViewed.numComments}}</span>&nbsp;&nbsp;
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                        <h4 class="pull-left">Top Viewed</h4>
                                        <ul class="pull-right icon-sl">
                                            <li><a ng-click="topViewedPre(topViewedPos)"><img src="assets/images/icon-left.png" alt=""></a></li>
                                            <li><a ng-click="topViewedNext(topViewedPos)"><img src="assets/images/icon-right.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row main-rate">
                            <div class="col-md-4">
                                <div class="box-rate" >
                                    <h4>Recent Rates</h4>
                                    <ul ng-show="ratings">
                                        <li class="clearfix" ng-repeat="r in ratings track by $index">
                                            <span class="img-tb pull-left"><a href="#/mentor/studentProfile/{{r.userid}}"><img class="avatar-fix-size" src="{{r.imageUrl}}" alt=""></a></span>
                                            <div class="text-rate pull-left">
                                                <h5><a href="#/mentor/studentProfile/{{r.userid}}"">{{r.fullName}}</a></h5>
                                                <div class="rate-star clearfix">
                                                    <span class="pull-left">
                                                        <div star-rating stars="5"
                                                          outer-star-selection="stars"
                                                          outer-percent="rating"
                                                          rating-define="star"
                                                          rating-stars="{{r.rating ? r.rating : 0}}"
                                                          star-radius="7" sel-color="gold"
                                                          back-color="white"></div>
                                                     </span>
                                                </div>
                                                <p>video <a href="#/mentor/video/detail/{{r.vid}}"><span>{{r.title}}</span></a></p>
                                            </div>
                                        </li>                                           
                                    </ul>
                                    <div ng-show="!ratings">No data</div>
                                </div>
                                
                            </div>
                            <div class="col-md-8">
                                <div class="box-l-comment" >
                                    <h4>Latest Comments</h4>
                                    <div class="box-comment-fix" ng-if="comments" scroller="commentScrl" data-on-total-scroll="loadMoreComments">
                                        <div class="clearfix" ng-repeat="c in comments track by $index">
                                            <span class="img-tb pull-left"><a href="" ng-click="goToProfile(c.authorid)"><img class="avatar-fix-size" src="{{c.imageUrl}}" alt=""></a></span>
                                            <div class="pull-left detail-cm">
                                                <ul class="top-name">
                                                    <li><a href="" ng-click="goToProfile(c.authorid)">{{c.fullName}}</a></li>
                                                    <li><span class="time">{{c.timestamp}} ago on</span></li>
                                                    <li><span class="">{{c.title | limitTo : 25}} {{c.title.length > 25 ? '...' : ''}}</span></li>
                                                </ul>
                                                <p>{{c.content}}</p>
                                            </div>
                                            <a class="pull-right btn-reply" href="" ng-click="goVideoDetail(c.vid, c.plid)">reply</a>
                                        </div>   
                                    </div>
                                                                        
                                    <div ng-show="!comments">No data</div>
                                </div>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>                
</div>
<!-- Sidebar right -->
<div id="sidebar-right" ng-include="sidebarRight"></div>
<!-- End Sidebar right -->