<!-- Sidebar left menu -->
<div id="sidebar-menu" class="sidebar-left" ng-include="sidebarLeft"></div>
<!-- /End Sidebar left menu -->
<div class="content">
    <div class="center-content">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-header">    
                    <h4>Manage Video</h4>
                    </div>
                    <div class="manager-box-video">
                        <div class="row">
                            <div class="col-md-3 box-over">
                                <div class="top-over clearfix">
                                    <span class="pull-left">overview</span>
                                    <span class="pull-right" data-icon="&#xe037;"></span>
                                    <div class="bx-video-play">
                                        <span><img src="assets/images/icon-play-box.png" alt=""></span>
                                        <span><b>{{dashboard.count_videos}}</b>&nbsp;videos</span><br/>
                                        <span><b>{{dashboard.count_playlist}}</b>&nbsp;playlist</span>
                                    </div>
                                </div>
                                <ul class="list-review">
                                    <li><img src="assets/images/icon-l-review.png" alt="">&nbsp;&nbsp;<b>{{dashboard.count_views}}</b>&nbsp;&nbsp;views</li>
                                    <li><img src="assets/images/icon-l-comments.png" alt="">&nbsp;&nbsp;<b>{{dashboard.count_comments}}</b>&nbsp;&nbsp;comments</li>
                                    <li class="clearfix">
                                        <span class="pull-left"><img src="assets/images/icon-l-star.png" alt="">&nbsp;&nbsp;<b>{{dashboard.avg_rating}}</b>&nbsp;&nbsp;rate
                                        </span>    
                                        <div ng-if="dashboard" class="list-star pull-left" star-rating stars="5"
                                              outer-star-selection="stars"
                                              outer-percent="rating"
                                              rating-define="star"
                                              rating-stars="{{dashboard.avg_rating}}"
                                              star-radius="9" sel-color="gold"
                                              back-color="white" style="margin-top: 5px;"></div>                                        
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3 box-video-inner">
                                <div class="video-detail active">
                                    <img ng-show="videos" src="{{v.image}}" alt="">
                                    <img ng-show="!videos" src="assets/images/img-video.png" alt="">
                                    <span class="icon-play-video"><img src="assets/images/icon-play-video.png" alt=""></span>
                                </div>
                                <div class="detail-vd">
                                    <!-- <h5>Ut at sem quis urna fringilla congue a <br/>in ex. Aliquam sed imperdiet elit</h5> -->
                                    <h5 ng-show="videos">{{v.description | limitTo : 70}}{{v.description.length > 70 ? '...' : ''}}</h5>
                                    <h5 ng-show="!videos">No video</h5>
                                    <div class="clearfix">
                                        <!-- <ul class="list-star pull-left">
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                        </ul> -->
                                        <p class="list-view pull-right">
                                            <span><img src="assets/images/icon-pl.png" alt=""> {{v.numViews}}</span>&nbsp;&nbsp;
                                            <span><img src="assets/images/icon-cm.png" alt=""> {{v.numComments}}</span>&nbsp;&nbsp;
                                        </p>
                                    </div>     
                                    <div class="clearfix">
                                        <h4 class="pull-left">Newest</h4>
                                        <ul class="pull-right icon-sl">
                                            <li><a ng-click="newestPrev(newestPos)"><img src="assets/images/icon-left.png" alt="" ></a></li>
                                            <li><a ng-click="newestNext(newestPos)"><img src="assets/images/icon-right.png" alt="" ></a></li>
                                        </ul>
                                    </div>                                   
                                </div>                                   
                            </div>
                            <div class="col-md-3 box-video-inner">
                                <div class="video-detail">
                                    <img ng-show="videosTopRated" src="{{vTopRated.image}}" alt="">
                                    <img ng-show="!videosTopRated" src="assets/images/img-video-2.png" alt="">
                                    <span class="icon-play-video"><img src="assets/images/icon-play-video.png" alt=""></span>
                                </div>
                                <div class="detail-vd detail-vd-2">
                                    <h5 ng-show="!videosTopRated">{{vTopRated.description | limitTo : 70}}{{vTopRated.description.length > 70 ? '...' : ''}}</h5>
                                    <h5 ng-show="!videosTopRated">No video</h5>
                                    <div class="clearfix">
                                        <!-- <ul class="list-star pull-left">
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                        </ul> -->
                                        <p class="list-view pull-right">
                                            <span><img src="assets/images/icon-pl.png" alt=""> {{vTopRated.numViews}}</span>&nbsp;&nbsp;
                                            <span><img src="assets/images/icon-like.png" alt=""> {{vTopRated.numFavourite}}</span>&nbsp;&nbsp;
                                            <span><img src="assets/images/icon-cm.png" alt=""> {{vTopRated.numComments}}</span>&nbsp;&nbsp;
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                        <h4 class="pull-left">Top Rated</h4>
                                        <ul class="pull-right icon-sl">
                                            <li><a ng-click="topRatedPre(topRatedPos)"><img src="assets/images/icon-left.png" alt=""></a></li>
                                            <li><a ng-click="topRatedNext(topRatedPos)"><img src="assets/images/icon-right.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 box-video-inner">
                                <div class="video-detail">
                                    <img ng-show="videosTopViewed" src="{{vTopViewed.image}}" alt="">
                                    <img ng-show="!videosTopViewed" src="assets/images/img-video-3.png" alt="">
                                    <span class="icon-play-video"><img src="assets/images/icon-play-video.png" alt=""></span>
                                </div>
                                <div class="detail-vd detail-vd-3">
                                    <h5 ng-show="!videosTopViewed">{{vTopViewed.description | limitTo : 70}}{{vTopViewed.description.length > 70 ? '...' : ''}}</h5>
                                    <h5 ng-show="!videosTopViewed">No video</h5>
                                    <div class="clearfix">
                                       <!--  <ul class="list-star pull-left">
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                            <li><a href="#"><img src="assets/images/icon-s.png" alt=""></a></li>
                                        </ul> -->
                                        <p class="list-view pull-right">
                                            <span><img src="assets/images/icon-pl.png" alt=""> {{vTopViewed.numViews}}</span>&nbsp;&nbsp;
                                            <span><img src="assets/images/icon-like.png" alt=""> {{vTopViewed.numFavourite}}</span>&nbsp;&nbsp;
                                            <span><img src="assets/images/icon-cm.png" alt=""> {{vTopViewed.numComments}}</span>&nbsp;&nbsp;
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                        <h4 class="pull-left">Top Viewed</h4>
                                        <ul class="pull-right icon-sl">
                                            <li><a ng-click="topViewedPre(topViewedPos)"><img src="assets/images/icon-left.png" alt=""></a></li>
                                            <li><a ng-click="topViewedNext(topViewedPos)"><img src="assets/images/icon-right.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row main-rate">
                            <div class="col-md-4">
                                <div class="box-rate" >
                                    <h4>Latest Rating</h4>
                                    <ul ng-show="ratings">
                                        <li class="clearfix" ng-repeat="r in ratings track by $index">
                                            <span class="img-tb pull-left"><a href="#/mentor/mentorProfile/{{r.userid}}"><img class="avatar-fix-size" src="{{r.imageUrl}}" alt=""></a></span>
                                            <div class="text-rate pull-left">
                                                <h5><a href="#/mentor/mentorProfile/{{r.userid}}">{{r.fullName}}</a></h5>
                                                <div class="rate-star clearfix">
                                                    <span class="pull-left">
                                                        <div ng-if="comments" star-rating stars="5"
                                                          outer-star-selection="stars"
                                                          outer-percent="rating"
                                                          rating-define="star"
                                                          rating-stars="{{r.rating}}"
                                                          star-radius="7" sel-color="gold"
                                                          back-color="white"></div>
                                                     </span>
                                                </div>
                                                <p>video<span>{{r.title}}</span></p>
                                            </div>
                                        </li>                                           
                                    </ul>
                                    <div ng-show="!ratings">No data</div>
                                </div>
                                
                            </div>
                            <div class="col-md-8">
                                <div class="box-l-comment" >
                                    <h4>Latest Comments</h4>
                                    <div class="box-comment-fix" ng-if="comments" scroller="commentScrl" data-on-total-scroll="loadMoreComments">
                                        <div class="item-cm clearfix" ng-repeat="c in comments track by $index">
                                            <span class="img-tb pull-left"><a href="#/mentor/mentorProfile/{{c.authorid}}"><img class="avatar-fix-size" src="{{c.imageUrl}}" alt=""></a></span>
                                            <div class="pull-left detail-cm">
                                                <ul class="top-name">
                                                    <li><a href="/mentor/mentorProfile/{{c.authorid}}">{{c.fullName}}</a></li>
                                                    <li><span class="time">{{c.timestamp}} ago on</span></li>
                                                    <li><span class="question">{{c.title}}</span></li>
                                                </ul>
                                                <p>{{c.content}}</p>
                                            </div>
                                            <a class="pull-right btn-reply" href="#">reply</a>
                                        </div>   
                                    </div>
                                                                        
                                    <div ng-show="!comments">No data</div>
                                </div>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>                
</div>
<!-- Sidebar right -->
<div id="sidebar-right" ng-include="sidebarRight"></div>
<!-- End Sidebar right -->