<!-- Sidebar left menu -->
<div id="sidebar-menu" class="sidebar-left" ng-include="sidebarLeft"></div>
<!-- /End Sidebar left menu -->
<div class="content">
    <div class="center-content">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-header">    
                    <h4>Manage Video</h4>
                    <p>Ut a porttitor leo. Aliquam fermentum nec elit lobortis tristique </p>
                    </div>
                    <div class="manager-video">
                        <div class="row top-mag">
                            <div class="col-md-8">
                                <div class="col-md-5 search">
                                    <form class="navbar-form" role="search">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="submit"><img src="assest/images/icon-search.png" alt=""></button>
                                            </div>
                                            <input type="text" class="form-control input-search" placeholder="Type your search" name="srch-term" id="srch-term">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3 sl-sbj">
                                    <select class="select-sbj">
                                        <option value="0">Option 1</option>
                                        <option value="1">Option 2</option>
                                        <option value="2">Option 3</option>
                                        <option value="3">Option 4</option>
                                        <option value="4">Option 5</option>
                                    </select>
                                </div>
                                <div class="col-md-2 sl-newwest">
                                    <select class="select-newwest">
                                        <option value="0">Option 1</option>
                                        <option value="1">Option 2</option>
                                        <option value="2">Option 3</option>
                                        <option value="3">Option 4</option>
                                        <option value="4">Option 5</option>
                                    </select>
                                </div>
                                <div class="col-md-2 btn-filter"><button>Filter</button></div>
                            </div>
                        </div>
                        <div class="btn-mg">
                            <button class="btn-delete">Delete</button>
                            <button class="add-play">Add to playlist</button>
                        </div>
                        <div class="main-manager-video">
                            <div class="filters clearfix">
                                <div class="check-all"><input id="check-all" type="checkbox" name="checkall" /></div>
                                <div class="text-trf">video informations</div>
                                <div class="text-play">playlist</div>
                                <div class="text-des">description</div>
                                <div class="text-ac">action</div>
                            </div>
                            <div class="group-item" ng-if="videos" ng-repeat="v in videos track by $index">
                                <div class="item">
                                    <div class="check-box"><input type="checkbox" class="check-input" name="checkall" /></div>
                                    <div class="box-detail-play clearfix">
                                        <span class="item-thumbnail">
                                            <img src="{{v.image}}" alt="">
                                        </span>
                                        <div class="detail-pl-inner">
                                            <h5>{{v.title}}</h5>
                                            <span class="add-time">{{v.timeStamp}}</span>
                                            <ul class="list-star">
                                                <li><a href="#"><img src="assest/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assest/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assest/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assest/images/icon-s.png" alt=""></a></li>
                                                <li><a href="#"><img src="assest/images/icon-s.png" alt=""></a></li>
                                            </ul>
                                            <p class="list-view">
                                                <span><img src="assest/images/icon-play.png" alt="">{{v.numPlayed}}</span>&nbsp;&nbsp;
                                                <span><img src="assest/images/icon-view.png" alt="">{{v.numViews}}</span>&nbsp;&nbsp;
                                                <span><img src="assest/images/icon-comment.png" alt="">{{v.numComments}}</span>&nbsp;&nbsp;
                                            </p>
                                        </div>
                                    </div>
                                    <p class="box-playlist">
                                        Chemistry
                                    </p>
                                    <p class="box-description">
                                        {{v.description}}
                                    </p>
                                    <div class="box-ac">
                                        <ul class="list-ac">
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Add playlist</a></li>
                                            <li><a href="#" ng-click="delete(v.vid)">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>                                    
                            </div>
                            <div class="row clearfix">
                                <p class="btn-load-more"><a class="load-more-mng" href="#" ng-click="loadMoreVideos()">load more</a></p>
                            </div>
                            <div class="filters clearfix">
                                <div class="check-all"><input id="check-all" type="checkbox" name="checkall" /></div>
                                <div class="text-trf">video informations</div>
                                <div class="text-play">playlist</div>
                                <div class="text-des">description</div>
                                <div class="text-ac">action</div>
                            </div>
                            <div class="btn-mg">
                                <button class="btn-delete">Delete</button>
                                <button class="add-play">Add to playlist</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>                
</div>
<!-- Sidebar right -->
<div id="sidebar-right" ng-include="sidebarRight"></div>
<!-- End Sidebar right -->
       