<div id="sidebar-menu" class="sidebar-left" ng-include="sidebarLeft"></div>
<div class="content">
    <div class="center-content">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-header">    
                        <h4>Dashboard</h4>
                    </div>
                    <div class="dashboard-content">
                        <div class="dashboard-content-top-left">
                            <div class="dashboard-content-top-left-wrapper">
                                <div class="total-likes">
                                    <div class="total-likes-wrapper">
                                        <div class="title">
                                            <h4>Likes</h4>
                                            <span data-icon="&#xe030;"></span>
                                        </div>
                                        <div class="number-total">
                                            <p>Total {{dashboard.count_likes}}</p>
                                            <span>{{dashboard.count_likes_today}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="total-rating">
                                    <div class="total-rating-wrapper">
                                        <div class="title">
                                            <h4>Rates</h4>
                                            <span data-icon="&#xe031;"></span>
                                        </div>
                                        <div class="number-total">
                                            <p>Total {{dashboard.count_ratings}}</p>
                                            <span>{{dashboard.count_ratings_today}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="total-answers">
                                    <div class="total-answers-wrapper">
                                        <div class="title">
                                            <h4>Answers</h4>
                                            <span data-icon="&#x77;"></span>
                                        </div>
                                        <div class="number-total">
                                            <p>Total {{dashboard.count_answers}}</p>
                                            <span>{{dashboard.count_answers_today}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="total-videos">
                                    <div class="total-videos-wrapper">
                                        <div class="title">
                                            <h4>Tutorials</h4>
                                            <span data-icon="&#x49;"></span>
                                        </div>
                                        <div class="number-total">
                                            <p>Total {{dashboard.count_videos}}</p>
                                            <span>{{dashboard.count_videos_today}}</span>
                                        </div>
                                    </div>
                                </div>                                            
                            </div>
                        </div>
                        <div class="dashboard-content-bottom-left">
                            <div class="dashboard-content-bottom-left-wrapper">
                                <h4>Newest Questions</h4><a href="#/mentor/managerQA"><span data-icon="&#xe037;" class="setting"></span></a>
                                <div class="newest-qa" ng-show="questions">
                                    <ul ng-repeat="q in questions track by $index">
                                        <li>
                                          <div class="newest-qa-student-img online">
                                              <a href="#/mentor/studentProfile/{{q.userId}}"><img src="{{q.imageUrl}}"></a>
                                          </div>
                                          <div class="newest-qa-student-info">
                                              <p class="newest-qa-student-name">
                                                  <a href="#/mentor/studentProfile/{{q.userId}}"><strong>{{q.fullName}}</strong></a>
                                                  <span class="time-post">{{q.timeStamp}} ago</span>
                                              </p>
                                              <p class="newest-qa-in">
                                                  In {{q.subject}}
                                              </p>
                                              <p class="newest-qa-detail">
                                                  {{q.content | limitTo : 30}}{{q.content.length > 30 ? '...' : ''}}
                                              </p>
                                          </div>
                                          <div class="student-rate ">
                                            <a href="#/mentor/managerQA?pid={{q.pid}}"><span data-icon="&#x35;"></span></a>
                                          </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-show="!questions">Found no question</div>
                        </div>
                        <div class="dashboard-content-bottom-right">
                            <div class="dashboard-content-bottom-right-wrapper">
                                <div class="total-subcribers-wrapper">
                                    <div class="total-subcribers">
                                        <div class="title">
                                            <h4>Subscribers</h4>
                                            <span data-icon="&#x50;"></span>
                                        </div>
                                        <div class="number-total">
                                            <p>Total <span>{{dashboard.count_subscribers}}</span></p>
                                            <span data-icon="&#x42;">{{dashboard.count_subscribers_today}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-10 col-xs-offset-1">
                                      <btfcarousel links="data"></btfcarousel>
									                  </div>
                                </div>                                            
                                <div class="newest-sub-esay">
                                   <div class="newest-sub-esay-wrapper">
                                       <div class="newest-sub-esay-title">
                                           <h4>Newest Essays</h4>
                                           <a href="#/mentor/essay"><span data-icon="&#xe037;" class="setting"></span></a>
                                       </div>
                                       <div class="newest-sub-esay-content" ng-if="newestEssays">
                                           <ul>
                                               <li ng-repeat="e in newestEssays track by $index">
                                                   <div class="newest-sub-esay-img">
                                                       <a href="#/mentor/studentProfile/{{e.userId}}"><img src="{{e.imageUrl}}" alt=""></a>
                                                   </div>
                                                   <div class="newest-sub-esay-info">
                                                       <p class="newest-sub-esay-name">
                                                           <a href="#/mentor/studentProfile/{{e.userId}}"><strong>{{e.fullName}}</strong><br></a>
                                                           <span>{{e.nameOfEssay}}</span>
                                                           <span class="essay-wait-review">Waiting</span>
                                                       </p>
                                                       <!-- <p class="newest-sub-esay-status ">
                                                           <span class="essay-wait-review"><span data-icon="&#xe02d;"></span>Waiting</span>
                                                       </p> -->
                                                       <p class="newest-sub-esay-status ">
                                                          <a href="" ng-click="changeStatus(e.uploadEssayId,'P')"><span class="processing"><span data-icon="&#xe02d;"></span>Process</span></a>
                                                          <a href="" ng-click="changeStatus(e.uploadEssayId,'I')"><span class="fa fa-font-awesome"></span></a>
                                                        </p>
                                                   </div>
                                               </li>
                                           </ul>
                                       </div>
                                       <div ng-if="!newestEssays"><h5>Found no data</h5></div>
                                   </div>
                               </div>
                           </div>
                            <div class="dashboard-video" ng-show="videosTopViewed">
                                <div class="video-detail" id="player">
                                </div>
                                <div class="video-wrapper dashboard-top">
                                    <div class="videos-title">
                                        <h5>{{vTopViewed.title | limitTo : 15}}{{vTopViewed.title.length > 15 ? '...' : ''}}</h5>
                                    </div>
                                    <div class="videos-rate">
                                        <div ng-if="vTopViewed" class="list-star pull-left star-align" star-rating stars="5"
                                              outer-star-selection="stars"
                                              outer-percent="rating"
                                              readonly="true"
                                              rating-define="star"
                                              rating-stars="{{vTopViewed.averageRating}}"
                                              star-radius="9" sel-color="gold"
                                              back-color="#505050" ></div>
                                              
                                        <p class="videos-rate-infor">
                                            <span data-icon="&#x49;">{{vTopViewed.numViews}}</span>
                                            <span data-icon="&#xe066;">{{vTopViewed.numComments}}</span>
                                        </p>
                                    </div>
                                    <div class="recent-view">
                                        <h4>Most Viewed</h4>
                                        <div class="recent-view-button">
                                            <a ng-click="topViewedPre(topViewedPos)"><span data-icon="&#x34;"></span></a>
                                            <a ng-click="topViewedNext(topViewedPos)"><span data-icon="&#x35;"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>      
</div>
<div id="sidebar-right" ng-include="sidebarRight"></div>