  <div class="content ask-a-question" id="question-details">
    <!-- Breadcrum -->
    <div class="breadcrum">
      <div class="container">
        <h5>Siblinks <span>/ Ask a Question</span></h5>
      </div>
    </div><!-- /End Breadcrum -->
    <!-- Container -->
    <div class="container">
      <!-- Content -->
      <section class="ask-a-question-content">
        <!-- Question of user -->
        <div class="questions col-lg-8">
          <div class="questions-wrapper col-md-12">
            <!-- head of question -->
            <div class="head-question">
              <!-- Questions user have -->
              <div class="total-question col-xs-6">
                <h4> View a question</h4>
              </div><!-- /End questions user have -->
              <!-- New ask question -->
              <div class="new-ask col-xs-6">
                <p class="new-ask-button" ng-click="showFormAdd()">New Ask</p>
              </div><!-- /End new ask question -->
            </div><!-- /End head of question -->

            <!-- Content of question -->
            <div class="content-question col-md-12">
              <div class="content-question-wrapper">
                <!-- Question Details-->
                <div class="question question_01">
                  <div class="number-question col-xs-1">
                    <h4><span> <img ng-src="{{question.avatar}}"></span></h4>
                  </div>
                  <div class="detail-question col-xs-offset-1">
                    <div class="infor-of-question col-xs-12">
                      <div class="details-question-title">
                        <span> <strong>{{question.firstName+""+ question.lastName}}</strong>&nbsp;&nbsp; asked &nbsp;{{question.timeStamp}} ago </span><br>
                        <p> <a href="#/viewQuestionBySubject/{{question.subjectId}}">{{question.subject}}</a></p>
                      </div>
                      <div class="edit-details-question" data-icon="&#xe037;" ng-click="showEditQuestion()" ng-if="question.authorId == userId || countAnswer == 0">
                        <div class="edit-question inactive" >
                          <ul>
                            <li class="edit" ng-click="editQuestion(question.question_id)"><span data-icon="&#xe08a;">&nbsp;&nbsp;</span>Edit</li>
                            <li class="delete" ng-really-message="Are you sure  delete?" ng-really-click ="deleteQuestion(question.question_id)"><span data-icon="&#x51;">&nbsp;&nbsp;</span>Delete</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- Detail Content of Question -->
                    <div class="detail-content-question col-xs-12">
                      <div >
                        <pre>{{question.question_text}}</pre>
                        </div>
                    </div><!-- /End Detail Content of Question -->

                    <!-- Images of question -->
                      <div class="images-question">

                          <ul ng-if="question.imagePath">
                              <li class="item" ng-repeat="image in question.imagePath">
                                  <div ng-mouseover="imageHoverIn(this)" ng-if="image"
                                       ng-mouseleave="imageHoverOut()" class="item-img">
                                      <img ng-src="{{image}}"
                                           ng-click="zoomImage(image)">
                                      <div ng-show="isShowImageHover">
                                          <img src="assets/images/ask question/look-img.png">
                                      </div>
                                  </div>
                              </li>
                          </ul>

                      </div><!-- /End Images of question -->


                    <!-- Answer of question -->
                    <div class="answer-question col-xs-12">
                      <div class="number-answer">
                        <div class="total-number-answer">
                          <div class="total-answer">{{countAnswer}} answer <span data-icon="&#x33;" ng-show="countAnswer > 0" class="sort" ng-click="showOrder()"></span>
                            <div class="sort-answer inactive">
                              <ul >
                                <li class="newest">newest</li>
                                <li class="like">like</li>
                                <li class="oldest">oldest</li>
                              </ul>
                            </div>
                          </div>
                          <div class="total-view">
                            &nbsp;&nbsp;&nbsp;   {{question.numview}} views
                          </div>
                        </div>
                        <!-- Detail-answer-question -->
                        <div class="detail-answer-question" ng-repeat="answer in listAnswer track by $index">
                          <div  ng-if="$index < limitAnswes " class="mentor-answer" >
                            <div class="image-mentor">
                              <img ng-src="{{answer.imageUrl}}">
                            </div>
                            <div class="detail-mentor-answer">
                              <div class="mentor-name">
                                <strong>{{answer.firstName+""+ answer.lastName}}</strong>&nbsp;&nbsp;&nbsp;<span>answered {{answer.timeStamp}} ago</span>
                                &nbsp;&nbsp;&nbsp;

                                <span>{{answer.countLike + likeCount}} <span
                                        data-icon="&#xe089;" id="heart"
                                        ng-click="likeAnswer(answer.aid)"></span></span>
                              </div>
                              <div class="mentor-answer">
                                <p> <div data-ng-bind-html="answer.answer_text"></div></p>
                              </div>
                            </div>
                          </div>


                        </div><!-- /End Detail-answer-question -->
                        <div class="load-more" ng-show="question.count_answer > limitAnswes"
                             ng-click="limitAnswes = question.count_answer">
                          <p>Load more comments</p>
                        </div>
                      </div>
                    </div><!-- /End answer of question -->
                  </div>
                </div><!-- End question -->

              </div>
              <!-- POPUP of images's question -->
              <div class="popup-images">
                    <div class="popup-images-wrapper">
                        <img ng-src="{{currentImage}}">

                </div>
                <div class="close-popup-images" ng-click="closePopupAskQuestion()">
                </div>
              </div><!-- /End POPUP of images's question -->

            </div><!-- /End content of question -->

            <!-- <div class="scroll-load-more col-md-12">
                <p>Scroll to load more</p>
            </div> -->
          </div>

        </div><!-- /End question of user -->
          <div class="top-mentors-videos col-lg-4" ng-controller="QuestionController">
              <!-- Top mentor -->
              <div class="top-mentors" ng-include="'src/app/question/topMentors.tpl.html'">

              </div><!-- /End top memtor -->

              <!-- Top videos -->
              <div class="top-videos" ng-include="'src/app/question/topVideos.tpl.html'" >

              </div><!-- /End top memtor -->
          </div>
      </section><!-- /End content -->
    </div><!-- End container -->

    <!-- Form add new ask -->
      <div class="form-ask-question" >
          <div class="form-ask-question-wrapper">
              <form action="" method=""
                    class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                  <h3>{{titlePopupAsk}}</h3>
                  <div ng-if="askErrorMsg" class="validate_error">
                      <span>{{askErrorMsg}}</span>
                  </div>
                  <p>
                  <div angucomplete-alt id="autocompleteCate" initial-value="initCategory" placeholder="Search category.." pause="300"
                       selected-object="selectedSubject"
                       local-data="subjects" search-fields="subject" title-field="subject"
                       image-field="image" minlength="0" input-class="form-control form-control-small"
                       match-class="highlight"/>
                  </p>
                  <p><textarea id="autocompleteQuest_value" placeholder="{{questionIndex}}"></textarea></p>
                  <output class="upload-image " id="list">

                      <div ng-repeat="image in imagePathOld track by $index" ng-if="image">
                          <img class="thumb" ng-src="{{image}}"/>
                          <div class="remove-image"><img src="assets/images/remove-img.png"
                                                         ng-click="removeImgOld($index)"></div>
                      </div>
                      <div ng-repeat="step in stepsModel track by $index">
                          <img class="thumb" ng-src="{{step}}"/>
                          <div class="remove-image"><img src="assets/images/remove-img.png"
                                                         ng-click="removeImg($index)"></div>
                      </div>
                  </output>

                  <span class="add-img">
                                <input type="file" multiple id="files" ng-file-select="onFileSelect($files)"
                                       accept='image/*'/>
                                <label for="files"><img src="assets/images/add-img.png"></label></span>
                  <p>
                      <button ng-if="!isEdit" type="button" ng-click="redirectForum()" class="ask-question-now">Ask Now</button>
                      <button ng-if="isEdit" type="button" ng-click="updateQuestion()" class="ask-question-now">Update</button>
                  </p>
                  <p class="close-form close" ng-click="closePopupAskQuestion()"><span data-icon="&#xe051;"></span></p>
              </form>
          </div>
          <div class="close-popup-images" ng-click="closePopupAskQuestion()">
          </div>
      </div>
    <!-- /End Form add new ask-->
  </div>
</main>