<div id="sidebar-menu" class="sidebar-left" ng-include="sidebarLeft"></div>
<div class="content">
    <div class="center-content">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-header">    
                    <h4>Manage Profile</h4>
                    <p>Ut a porttitor leo. Aliquam fermentum nec elit lobortis tristique </p>
                    </div>
                    <div class="manager-profile clearfix">
                        <div class="col-md-3">
                            <div class="avt">
                                <div class="box-avatar">
                                    <div class="img-avt">
                                        <img src="{{mentor.imageUrl}}" alt="">
                                        <a href="#" class="change-avt">
                                            <img ng-src="assets/images/img-change-avt.png" alt="">
                                        </a>
                                    </div>
                                    <h4>{{mentor.fullName}}</h4>
                                    <!-- <span>freshman</span> -->
                                </div>
                                <div class="box-information">
                                    <h5>University</h5>
                                    <p>{{mentor.school}}</p>
                                    <h5>About me</h5>
                                    <p>{{mentor.description}}</p>
                                    <h5>Knowledge field: </h5>
                                    <p>{{mentor.skills}}</p>
                                    <h5>Sex <span>{{mentor.gender}}</span></h5>
                                    <h5>BIO <span>{{mentor.bio}}</span></h5>
                                    <h5>Since <span>{{mentor.registrationTime}}</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box-form-setting">
                                <h3>setting</h3>
                                <form action="">
                                    <div class="row">
                                        <div class="col-md-6 left-form">
                                            <legend>Personal Information</legend>
                                            <div class="form-group">
                                                <input type="text" id="txtFirstName" name="firstname" class="form-control" value="" placeholder="Firstname">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="txtLastName" name="lastname" class="form-control" value="" placeholder="Lastname">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="txtEmail" name="email" class="form-control" value="" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for=""><input type="radio" id="male" name="sex" value="0" placeholder="">Male</label>&nbsp;&nbsp;
                                                <label for=""><input type="radio" id="female" name="sex" value="1" placeholder="">Female</label>&nbsp;&nbsp;
                                                <label for=""><input type="radio" id="other" name="sex" value="2" placeholder="">Other</label>&nbsp;&nbsp;
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="txtSchool" name="university" class="form-control" value="" placeholder="University">
                                            </div>
                                            <div class="form-group date">
                                                <input type="text" id="txtBIO" name="birthday" class="form-control" value="" placeholder="BIO">
                                            </div>
                                            <div class="form-group">
                                                <textarea name="about" id="txtDescription" id="" class="form-control " cols="5" rows="5" placeholder="About me...."></textarea>
                                            </div>
                                            <div class="from-group">
                                                <label for=""><input type="checkbox" id="music" name="" value="0"> Music</label>&nbsp;&nbsp;
                                                <label for=""><input type="checkbox" id="art" name="" value="0"> Art</label>&nbsp;&nbsp;
                                                <label for=""><input type="checkbox" id="sport" name="" value="0"> Sport</label>&nbsp;&nbsp;
                                            </div>
                                        </div>
                                        <div class="col-md-6 right-form">
                                            <legend>Change passsword</legend>
                                            <div class="form-group">
                                                <input type="text" name="" class="form-control" value="" placeholder="Current password">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="" class="form-control" value="" placeholder="New password">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="" class="form-control" value="" placeholder="Confirm password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="bx-btn-form pull-right">
                                            <input type="reset" class="btn btn-default btn-rs" name="" ng-click="reset()" value="Reset">
                                            <input type="submit" class="btn btn-default btn-sbm" name="" ng-click="saveChange()" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="sub-right">
                                <h3>subscribers</h3>
                                <div class="search">
                                    <form class="navbar-form" role="search">
                                        <div class="input-group">                                                        
                                            <input type="text" class="form-control input-search" placeholder="Type your search" name="srch-term" id="srch-term">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="submit"><img src="assets/images/icon-search.png" alt=""></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <ul class="list-std" ng-if="listStudentSubscribed">
                                    <li class="clearfix" ng-repeat="s in listStudentSubscribed track by $index">
                                        <span class="pull-left"><img src="{{s.avatar}}" alt=""></span>
                                        <div class="txt-ifm pull-left">
                                            <h5>{{s.userName}}</h5>
                                            <p>Hight school: {{s.school}}</p>
                                        </div>
                                    </li>                                    
                                </ul>
                                <ul ng-if="noStudent">No Student subcribed</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>                
</div>
<div id="sidebar-right" ng-include="sidebarRight"></div>