<!-- Sidebar left menu -->
<div id="sidebar-menu" class="sidebar-left" ng-include="sidebarLeft"></div>
<!-- /End Sidebar left menu -->

<div class="content">
    <div class="center-content">
        <div class="center-content-wrapper">
            <section id="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-header">    
                    <h4>Manage Video</h4>
                    <p>Ut a porttitor leo. Aliquam fermentum nec elit lobortis tristique </p>
                    </div>
                    <div class="manager-profile manager-profile-std clearfix">
                        <div class="col-md-3">
                            <div class="avt">
                                <div class="box-avatar">
                                    <div class="img-avt">
                                        <img src="{{mentor.imageUrl}}" alt="">
                                        <a href="#" class="change-avt">
                                            <img ng-src="{{imageUrl}}" alt="">
                                        </a>
                                    </div>
                                    <h4>{{mentor.fullName}}</h4>
                                    <!-- <span>freshman</span> -->
                                </div>
                                <div class="box-information">
                                    <h5>University</h5>
                                    <p>{{mentor.school}}</p>
                                    <h5>About me</h5>
                                    <p>{{mentor.description}}</p>
                                    <h5>Knowledge field: </h5>
                                    <p>{{mentor.skills}}</p>
                                    <h5>Sex <span>{{mentor.gender}}</span></h5>
                                    <h5>BIO <span>{{mentor.bio}}</span></h5>
                                    <h5>Since <span>{{mentor.registrationTime}}</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="sub-right clearfix">
                                <h3>subscribers</h3>
                                <div class="row">
                                    <div class="search col-md-4">
                                        <form class="navbar-form" role="search">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="submit"><img src="assets/images/icon-search.png" alt=""></button>
                                                </div>
                                                <input type="text" class="form-control input-search" placeholder="Type your search" name="srch-term" id="srch-term">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <ul class="list-std col-md-4" ng-if="listStudentSubscribed">
                                    <li class="clearfix" ng-repeat="s in listStudentSubscribed track by $index">
                                        <span class="pull-left"><img src="{{s.avatar}}" alt=""></span>
                                        <div class="txt-ifm pull-left">
                                            <h5>{{s.userName}}</h5>
                                            <p>Hight school: {{s.school}}</p>
                                        </div>
                                    </li>
                                    
                                </ul>
                                <ul ng-if="noStudent">No Student subcribed</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>                
</div>
<!-- Sidebar right -->
<div id="sidebar-right" ng-include="sidebarRight"></div>
<!-- End Sidebar right -->