<html lang="en" ng-app="brotApp"  ng-controller="MainController">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta property="og:title" content="SibLinks" />
<meta property="og:image" content="http://img.youtube.com/vi/LukNyF-rEa8/0.jpg" />
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="667014101821-v1f9a583qgmt280gtci8n4a87k7uja2m.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>

<title>SibLinks</title>
<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
<link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body id="{{idbody}}" ng-class="{home: idbody ==''}">
  	<header id="header" ng-controller="UserHeaderController">
  		<div class="module-navigation" ng-include="headerByUser"></div>
  	</header>
 	<!-- main start -->
	<main id="main" ng-view autoscroll="true"></main>
	<!-- end #main -->
	<!-- footer area -->
	<footer id="footer">
		<div ng-include="footerUser"></div>
	</footer>

   <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
   <script type="text/javascript" src="<%= file %>"></script><% }); %>

   <script type="text/javascript">
       (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
       }(document));

       (function() {
           var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
           po.src = 'https://apis.google.com/js/client.js?onload=onLoadCallback';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
       })();
   </script>
</body>
</html>
