<html lang="en" ng-app="brotApp"  ng-controller="MainController">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta property="og:title" content="SibLinks"/>
<meta property="og:image" content="http://img.youtube.com/vi/LukNyF-rEa8/0.jpg" />
<meta name="google-signin-scope" content="profile email"/>
<meta name="google-signin-client_id" content="667014101821-v1f9a583qgmt280gtci8n4a87k7uja2m.apps.googleusercontent.com"/>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>

<title>SibLinks</title>
<link rel="shortcut icon" href="assets/images/logo-2.png"/>
<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
<link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"/>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
<link rel="manifest" href="json/manifest.json"/>
</head>
<body id="{{idbody}}" ng-class="{home: idbody =='', 'student-profile': currentPath == '/mentor/mentorProfile/'}">
  	<header id="header" ng-controller="UserHeaderController">
  		<div class="module-navigation" ng-include="headerByUser"></div>
  	</header>
 	<!-- main start -->
	<main id="main" ng-view autoscroll="true" ng-class="{'clearfix mentorProfile': currentPath=='/mentor/mentorProfile'}"></main>
	<!-- end #main -->
	<div class="modal fade" id="modal-id">
        <div class="modal-dialog modal-pp-login">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Sign In</h4>
                </div>
                <div class="modal-body clearfix login-in">
                    <div class="col-xs-6">
                        <div class="col-xs-12">
                            <img src="assets/images/student-login.png"><h4>Student</h4>
                        </div>
                        <div class="col-xs-12">
                            <p>Your SibLinks will always be with you to help you solve your problems.</p>
                            <a href="#/student/signin" data-toggle="modal" data-target="#modal-id"><strong>Student </strong>Login</a>
                        </div>
                    </div>
                    <div class="col-xs-6 right-modal">
                        <div class="col-xs-12">
                            <img src="assets/images/mentor-login.png"><h4>Mentor</h4>
                        </div>
                        <div class="col-xs-12">
                            <p>Answer questions, manage tutorials, review essays, and more.</p>
                            <a href="#/mentor/signin" data-toggle="modal" data-target="#modal-id"><strong>Mentor </strong>Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- abc -->
    <p id="token" style="word-break: break-all; display:none"></p>
      
	<!-- footer area -->
	<footer id="footer">
		<div ng-include="footerUser"></div>
	</footer>
	<loading-dialog id="loadingScreen" style="display:none"/>
	<script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
   <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
   <script type="text/javascript" src="<%= file %>"></script><% }); %>
   <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('require', 'eventTracker');
	  ga('require', 'outboundLinkTracker');
	  ga('require', 'urlChangeTracker');
	  
	  ga('create', GOOGLEANALYTICS, 'auto');
	  ga('send', 'pageview');
	</script>
	<script async src='vendor/autotrack.js'></script>
    <script type="text/javascript">
       (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
       }(document));

       (function() {
           var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
           po.src = 'https://apis.google.com/js/client.js?onload=onLoadCallback';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
       })();
       
       setInterval(timeBackEnd, 1000);
   </script>
   <script>
	  const messaging = firebase.messaging();
	  messaging.onTokenRefresh(function() {
	    messaging.getToken()
	    .then(function(refreshedToken) {
	      console.log('Token refreshed.');
	      setTokenSentToServer(false);
	      sendTokenToServer(refreshedToken);
	      resetUI();
	    })
	    .catch(function(err) {
	      console.log('Unable to retrieve refreshed token ', err);
	      showToken('Unable to retrieve refreshed token ', err);
	    });
	  });

	  messaging.onMessage(function(payload) {
	    console.log("Message received. ", payload);
	    appendMessage(payload);
	  });
	  // [END receive_message]
	  resetUI();

	  $(document).keyup(function(ev){
		    if(ev.keyCode == 27) {
		      $(".modal").trigger("click");
		      closePopupAskQuestion();
		    }
		});
	</script>
</body>
</html>
