<div class="content browser-mentors">
         <!-- Browser mentors header -->
         <div class="browser-mentors-header">
             <div class="container">
                 <h1>A New Paradigm of Mentoring </h1>
                 <h4>Having over 9 million students worldwide and more than 20,000 available mentors </h4>
                 <div class="scroll-down" data-icon="&#x3b;"></div>
             </div>
         </div><!-- /End Browser mentors header -->
         <!-- Container -->
         <div class="container">                
             <!-- Content -->
             <section class=" browser-mentors-content">
                 <!-- Top information header content -->
                 <div class="top-information ">
                     <div class="top-information-wrapper">
                <h5 data-icon="&#xe050;" ng-class="{'active':type=='subs'}" ng-click="selectType('subs')">Most Subscribed</h5>
                <h5 data-icon="&#xe031;" ng-class="{'active':type=='rate'}" ng-click="selectType('rate')">Highest Rated</h5>
                <h5 data-icon="&#xe030;" ng-class="{'active':type=='like'}" ng-click="selectType('like')">Most Liked</h5>
                         <div class="search searchbrecrum">
                             <form class="navbar-form" role="search ">
                                 <div class="input-group">
                                     <input type="text" ng-model="query" class="form-control form-control-search" placeholder="Search" name="srch-term" id="srch-term" >
                                     <div class="input-group-btn">
                                         <button class="btn btn-default btn-search-video" ><span data-icon="&#x55;"></span></button>
                                     </div>
                                 </div>
                             </form>
                         </div><!-- /End Search form -->
                     </div>
                 </div><!-- /End top information header content -->

                 <!-- Information of mentors -->
                 <div class="browser-mentors-infor">
                     <div class="browser-mentors-infor-wrapper clearfix">
                          <div class="col-md-4" ng-repeat="mentor in listTopmentors  | filter:query track by $index">
                              <div class="mentors-infor-img">
                                  <div class="mentors-infor-img-wrapper">
                                      <a href="#/student/mentorProfile/{{mentor.userid}}"><img src="{{mentor.imageUrl}}"></a>
                                      <div class="mentors-img-hover">
                                          <a href="#/student/mentorProfile/{{mentor.userid}}"><span data-icon="&#x4c;"></span></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="mentors-infor-details">
                                  <div class="mentors-name">
                                      <a href="#/student/mentorProfile/{{mentor.userid}}" >{{mentor.firstName + " " + mentor.lastName}}</a>
                                      <!--<span data-icon="&#xe033;&#xe033;&#xe033;&#xe033;&#xe033;"></span>-->
                                      <span  ng-if="mentor" star-rating stars="5" id="divRateTopMentop"
                                             outer-star-selection="stars"
                                             readonly="true"
                                             outer-percent="rating"
                                             rating-define="star"
                                             rating-stars="{{mentor.avgrate}}"
                                             star-radius="9" sel-color="gold"
                                             back-color="white">
	                                 </span>

                                  </div>
                                  <div class="mentors-edu">
                                  	<span ng-if="(mentor.accomplishments) == ''">&nbsp;</span>
                                  	<span ng-if="(mentor.accomplishments) != ''">{{mentor.accomplishments}}</span>
                                  </div>
                                  <div class="mentors-skill">
                                  	<span ng-if="mentor.listSubject ==''">&nbsp;</span>
                                  	<span ng-if="mentor.listSubject !=''">{{mentor.listSubject}}</span>
                                  </div>
                                  <div class="mentors-rate clearfix">
                                      <button class="subscribers active" data-icon="&#x4c;" id="subscribers_{{mentor.userid}}" 
                                      ng-click="setSubscribeMentor(mentor.userid)" ng-class="{'unsubcrib':mentor.isSubs =='1'}"
   					ng-Mouseover="hoverSubcribe(mentor.isSubs,mentor.userid)" 
   					ng-mouseleave="unHoverSubcribe(mentor.isSubs,mentor.userid)">
                                          <span id="span_{{mentor.userid}}">Subscribe</span>
                                          <span class="number-subscribers">{{mentor.numsub}}</span>
                                      </button>
                                      <p class="likes">
                                          <span class="number-likes"><strong>{{mentor.numlike}}</strong></span><br>
                                          <span class="title-likes">likes</span>
                                      </p>
                                      <p class="videos">
                                          <span class="number-videos"><strong>{{mentor.numvideos}}</strong></span><br>
                                          <span class="title-videos">videos</span>
                                      </p>
                                      <p class="answers">
                                          <span class="number-answers"><strong>{{mentor.numAnswers}}</strong></span><br>
                                          <span class="title-answers">answers</span>
                                      </p>
                          	</div>
                          </div>
                       </div>
                     </div>
                 </div><!-- /End information of mentors -->
             </section><!-- /End content -->
         </div><!-- End container -->
	    </div>