<div class="top-mentor-wrapper col-xs-12">
   <!-- top-mentor-header -->
   <div class="top-mentor-header">
       <div class="top-mentor-header-title">
           <span><img src="assets/images/ask question/top-mentor.png"></span><h4>&nbsp;&nbsp;Top Mentors</h4>
       </div>
       <div class="see-more">
           <p><a href="#/team">See more</a></p>
       </div>
   </div><!-- /End top-mentor-header -->
   <!-- List of top mentors -->
   <div class="top-mentors-list">
       <ul>
           <li ng-if="listTopmentors" ng-repeat="mentor in listTopmentors track by $index">
               <div class="top-mentors-img online">
                  <a href="#/student/mentorProfile/{{mentor.userid}}"><img  ng-src="{{mentor.imageUrl}}">
     				<span ng-class="{'offline' : !mentor.isOnline, 'online' : mentor.isOnline}">
         			<img ng-if="mentor.isOnline" src="assets/images/ask question/online.png"/>
     				<img ng-if="!mentor.isOnline" src="assets/images/ask question/offline.png"/></span></a>
               </div>
               <div class="top-mentors-info">
                   <p class="top-mentors-name">
                       <a href="#/student/mentorProfile/{{mentor.userid}}"><strong>{{mentor.fullName}}</strong></a>
                   </p>
                   <p class="top-mentors-essay" ng-show="mentor.listSubject.length">
                       <a  href="#/ask_a_question/{{subject.id}}" ng-repeat="subject in  mentor.listSubject">
                       {{subject.name}}{{($last)? "":", "}}
                       </a>
                   </p>
                   <p class="top-mentors-essay" ng-show="!mentor.listSubject.length">
                   	None
                   </p>
                   <p class="top-mentors-answed">
                       {{mentor.numsub>1 ? (mentor.numsub + " subscribers"): (mentor.numsub + " subscriber")}}, {{mentor.numAnswers>1 ? mentor.numAnswers + " answers" : mentor.numAnswers + " answer"}} 
                   </p>
               </div>
           </li>
       </ul>
   </div><!-- /End list of top mentors -->
</div>
