<div class="top-videos-wrapper col-xs-12">
 <!-- top-mentor-header -->
 <div class="top-videos-header">
     <div class="top-videos-header-title">
         <span><img src="assets/images/ask question/top-mentor.png"></span><h4>Top Tutorials</h4>
     </div>
     <div class="see-more">
         <p><a href="#/videos">See more</a></p>
     </div>
 </div><!-- /End top-mentor-header -->
 <!-- List of top mentors -->
 <div class="top-videos-list">
     <ul>
         <li ng-repeat="video in listVideoRate track by $index">
             <div class="video-thumnail">
                 <a href="#/videos/detailVideo/{{video.vid}}">
                 	<img ng-src="{{video.image}}">
                 </a>
                 <div class="hover-video">
                     <a  href="#/videos/detailVideo/{{video.vid}}"><span data-icon="&#x45;"></span></a>
                 </div>
             </div>
             <div class="video-info">
                 <p class="video title">
                     <a href="#/videos/detailVideo/{{video.vid}}">{{video.title}}</a>
                 </p>
                 <p class="video-rate">
                 	<span>Rate: {{video.averageRating}} ({{video.numRatings}} votes)</span>
                     <span  ng-if="video" star-rating stars="5" id="divRateTopVideo"
	                          outer-star-selection="stars"
	                          readonly="true"
	                          outer-percent="rating"
	                          rating-define="star"
	                          rating-stars="{{video.averageRating}}"
	                          star-radius="5.5" sel-color="gold"
	                          back-color="white">
	                 </span>
                 </p>
             </div>
         </li>
     </ul>
 </div><!-- /End list of top mentors -->
</div>