<div id="forum-search">
  <div class="w965">
    <h3 class="fl">Result</h3>
    <div class="search fr">
      <div class="search-inner">
        <form>
          <input type="text" name="s" placeholder="Search for a topic or keyword, top..." class="search-text" id="search-forum" ng-model="searchText" value=""/>
        </form>
      </div>
    </div>
    <!-- end .search -->
  </div>
</div>
<div id="forum-body">
  <div class="w965">
    <div class="forum-left fl">
      <div id="result" class="result result-search">
        <div class="wq" ng-if="questions.length == 0" style="text-align: center; padding-top: 30px;">
          <span>There are currently no data.</span>
        </div>
        <div id="loading-dialog" class="ng-scope" style="display: block; width: 100%; height: 100%;">
          <img src="assets/img/loading.gif" style="width: 50px; height: 50px;">
        </div>
        <div ng-repeat="q in questions" class="wq">
          <div class="wrap_number">
            <span class="number">{{$index + 1}}</span>
          </div>
          <div class="q">
            <span class="al"></span>
            <a href="#/question_detail?subject={{subject.subject_id}}&category={{q[0].topicId}}&question_id={{q[0].pid}}"><p>{{q[0].content}}</p></a>
            <div class="s">
              <span class="a1"><a href ng-click="like(q[0].pid, q[0].authorID, q[0].topicId)"><span class="ico-arrowup" id="q{{q[0].pid}}">+{{q[0].countLike}}</span></a></span>
              <span class="view">{{q[0].numViews}} Views</span>
              <span class="sub" ng-repeat="topic in q[1].tags">
                <a href="#">{{topic.tag}}</a>
              </span>

              <span id="{{q[0].authorID}}" class="time-by fr">
                <img src="{{q[0].imageUrl}}" style="height: 25px; margin: 0 5px; border-radius: 50%;"><a href="#student/studentProfile/{{q[0].authorID}}"> {{q[0].firstName}} {{q[0].lastName}}</a> asked this question {{q[0].timeStamp}} ago
              </span>
            </div>
          </div>
          <!-- end .q -->
          <div class="a" ng-repeat="topic in q[1].answer">
            <p>{{topic.content}}</p>
            <div class="s">
              <span class="a1"><a href ng-click="likeAnswer(topic.aid)"><span class="ico-arrowup" id="a{{topic.aid}}">+{{topic.aid}}</span></a></span>
              <span class="time-by fr">
                <img src="{{topic[0].imageUrl}}" style="height: 25px; margin: 0 5px; border-radius: 50%;"> {{q.dateAnswer}} ago by <a href="#student/studentProfile/{{topic.authorID}}">{{topic.userName}}</a>
                </span>
            </div>
            <!-- end .s -->
          </div>
          <!-- end .a -->
          <a href="#/question_detail?subject={{subject.subject_id}}&category={{q[0].topicId}}&question_id={{q[0].pid}}"><div class="atq">Answer this question</div></a>
        </div>
        <!-- end .wq --> 
      </div>
      <button class="load-more" ng-if="featureS != 1" style="width: 630px; color: #939da7;" ng-click="loadMorePost()">Load more</button>

    </div>
    <!-- end #forum-left -->
    <div class="forum-sidebar fr">
      <h3 class="title">Top {{subject.subject_name}} Mentors</h3>
      <div class="mentor_no_data" ng-if="mentors.length == 0">
        <span>There are currently no data.</span>
      </div>
      <div class="mentor" ng-repeat="m in mentors">
        <!-- <div class="avatar fl"><span><img ng-src="data:image/png;base64,{{m.user_picture}}" alt="" /></span></div> -->
        <div class="avatar fl"><span><img ng-src="{{m.imageUrl}}" alt="" /></span></div>
        <div class="info fl">
          <a href="#/student/mentorProfile/{{m.userid}}" class="name bold">{{m.firstName}} {{ m.lastName }}</a>
          <a href="#" class="school bold">{{m.college_name}}</a>
          <span class="point">Points: {{m.points}}</span>
          <div class="chat fr" ng-class="{active:m.user_status == 'Online'}">
            <span class="fl"></span>
            <a href="#" id-mentor="{{m.userid}}">Chat now</a>
          </div>
        </div>
      </div>

    </div>
    <!-- end #forum-body -->
    <div class="clr"></div>
  </div>
</div>
<!-- end #forum-body -->

