<div class="content ask-a-question" id="student-profile">
    <!-- Breadcrum -->
    <div class="breadcrum">
        <div class="container">
            <h5><a href="#/">SibLinks </a> <span>/ My Profile</span></h5>
        </div>
    </div><!-- /End Breadcrum -->
    <!-- Container -->
    <div class="container">
        <!-- Content -->
        <section class="content student-profile-content">
            <div class="top-mentors-videos col-lg-4" id="student-profile-information">
                <div class="student-profile">
                    <div class="student-header-detail">
                        <div class="student-img">
                            <img ng-src="{{studentInfo.imageUrl != null ? studentInfo.imageUrl : 'assets/images/noavartar.jpg'}}"
                                 err-src="assets/images/noavartar.jpg">
                            <h3 ng-if="!isEmptyName" class="student-name" style="font-size: 20px; margin-top: 13px">{{studentInfo.firstname
                                != null ? studentInfo.firstname : ''}} {{studentInfo.lastName != null ?
                                studentInfo.lastName : ''}}</h3>
                            <h3 ng-if="isEmptyName" class="student-name" style="font-size: 20px; margin-top: 13px">{{studentInfo.fullName}}</h3>
                            <span class="changeImg" ng-hide="isLoginViaFBOrGoogle">
                                <button ngf-select="onFileSelect($files)" multiple ngf-pattern="'image/*'"
                                        accept="image/*" ngf-max-size="5MB">
									<span style="pointer-events: none;" data-icon="&#xe075;"></span></button>
                                 <!--<input type="file" id="changeImg" name="changeImg[]"-->
                                        <!--ng-file-select="onFileSelect($files)" accept='image/*'>-->
                                 <!--<label for="changeImg"><span data-icon="&#xe075;"></span></label>-->

                             </span>
                        </div>
                        <div class="student-joined">
                            <ul>
                                    <li class="student-question">
                                    <h3 ng-controller="QuestionController">{{totalQuestion}}</h3>
                                    <span>Questions</span>
                                </li>
                                <li class="student-question">
                                    <h3>{{studentInfo.count_essay}}</h3>
                                    <span>Essay</span>
                                </li>
                                <li class="student-question">
                                    <h3>{{studentInfo.count_subscribe}}</h3>
                                    <span>Subscriptions</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="student-info-detail">
                        <div class="student-edu">
                            <strong>High School</strong><br>
                            <span>{{studentInfo.schoolName != null ? studentInfo.schoolName : EMPTY_DATA}}</span>
                        </div>
                        <div class="student-info">
                            <strong>About me</strong><br>
                            <span class="pre-wrap">{{studentInfo.bio}}</span>
                        </div>
                        <div class="student-sex">
                            <strong>Sex:</strong>
                            <span>{{(studentInfo.gender =='M')?'Male':(studentInfo.gender =='F')?'Female':'Other'}}</span>
                        </div>
                        <div class="student-bio">
                            <strong>BOD: </strong>
                            <span>{{birthDay}}</span>
                        </div>
                        <div class="student-sex">
                            <strong>Since:</strong>
                            <span>{{sinceDay}}</span>
                        </div>
                    </div>

                </div>
                <!-- Top mentor -->
                <div class="top-mentors" id="subcribles" ng-include="'src/app/subscribed/subscribed.tpl.html'"></div>
                <!-- /End top memtor -->
            </div>
            <!-- Question of user -->
            <div class="questions col-lg-8">
                <div class="questions-wrapper col-md-12">
                    <!-- head of question -->
                    <div class="head-question">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="/student/studentProfile/#my-questions">
                                    <h5><span data-icon="&#x74;"></span>My questions</h5>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="/student/studentProfile/#essay">
                                    <h5><span data-icon="&#xe101;"></span>Essays</h5>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="/student/studentProfile/#setting">
                                    <h5><span data-icon="&#xe037;"></span>Settings</h5>
                                </a>
                            </li>

                        </ul>
                    </div><!-- /End head of question -->

                    <!-- Content of question -->
                    <div class="tab-content">
                        <!-- Content Of My Question -->
                        <div class="content-question col-md-12 tab-pane active" id="my-questions">
                            <div class="content-question-block">
                                <div class="content-question-wrapper" data-on-total-scroll="loadMorePost"
                                     scroller="askQuestion">
                                    <!-- Question 01 -->
                                    <div ng-if="askQuestion"
                                         class="question question_{{($index<10)? '0'+($index+1):'($index+1)'}}"
                                         ng-repeat="q in askQuestion track by $index">
                                        <div class="number-question col-xs-1" ng-click="detailQuestion(q.id)" ng-class="{'answered': q.count_answer > 0}">
                                            <!--<h4>{{$index+1}}</h4>-->
                                            <img src="assets/images/icon-comment-ask.png">
                                        </div>
                                        <div class="detail-question col-xs-offset-1">
                                            <div class="infor-of-question col-xs-12">
                                                <span>asked {{q.time}} ago</span><br>
                                                <p>in <a href="/">{{q.subject}}</a></p>
                                            </div>
                                            <!-- Detail Content of Question -->
                                            <div class="detail-content-question col-xs-12"
                                                 ng-click="detailQuestion(q.id)">
                                                <p class="pre-wrap">{{q.content}}</p>
                                            </div><!-- /End Detail Content of Question -->
                                            <!-- Images of question -->
                                            <!-- Images of question -->
                                            <div class="images-question">
                                                <ul>
                                                    <li class="item" ng-repeat="image in q.image track by $index">
                                                        <div class="item-img"
                                                             ng-mouseover="imageHoverIn(q.id +''+$index)"
                                                             ng-mouseleave="imageHoverOut(q.id +''+$index)"
                                                             ng-click="zoomImage(image)">
                                                            <img ng-src="{{image}}">
                                                            <div class="item-hover" id="{{q.id}}{{$index}}">
                                                                <img src="assets/images/ask question/look-img.png"
                                                                     ng-click="zoomImage(image)">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- /End Images of question -->

                                            <!-- Answer of question -->
                                            <div class="answer-question col-xs-12">
                                                <div class="number-answer">
                                                    <div class="total-number-answer"
                                                         ng-click="showAnswerQuestion(q.id)">
                                                        <div ng-class="{'has-answer': q.count_answer != '0' , 'no-answer': q.count_answer == '0'}"
                                                             class="total-answer"><p>{{q.count_answer > 1 ? (q.count_answer + " answers") : (q.count_answer + " answer")}} </p>
                                                        </div>
                                                        <div class="total-view">&nbsp;&nbsp;&nbsp; {{q.numviews}}
                                                            views
                                                        </div>
                                                    </div>
                                                    <!-- Detail-answer-question -->
                                                    <div id="{{q.id}}" class="detail-answer-question hidden">
                                                        <div ng-repeat="a in q.answers track by $index">
                                                            <div class="mentor-answer">
                                                                <div class="image-mentor">
                                                                    <img style="height: 100%" src="{{a.avatar}}">
                                                                </div>
                                                                <div class="detail-mentor-answer">
                                                                    <div class="mentor-name">
                                                                        <strong>{{a.name}}</strong>&nbsp;&nbsp;&nbsp;<span>answerd {{a.time}} ago</span>&nbsp;&nbsp;&nbsp;<span>{{a.countLike}}
	                                                                    	<span data-icon="&#xe089;" ng-if="a.like"
                                                                                  id="heart"></span>
	                                                                    	<span data-icon="&#xe089;"
                                                                                  ng-if="!(a.like)"></span>
	                                                                    </span>
                                                                    </div>
                                                                    <div class="mentor-answer">
                                                                        <p class="pre-wrap">{{a.content}}</p>
                                                                    </div>
                                                                    <div class="images-question"
                                                                         style="margin-left:-4px;">
                                                                        <ul>
                                                                            <li class="item"
                                                                                ng-repeat="image in a.images track by $index">
                                                                                <div class="item-img"
                                                                                     ng-mouseover="imageHoverIn(q.id +''+$index)"
                                                                                     ng-mouseleave="imageHoverOut(q.id +''+$index)"
                                                                                     ng-click="zoomImage(image)">
                                                                                    <img ng-src="{{image}}">
                                                                                    <div class="item-hover"
                                                                                         id="{{q.id}}{{$index}}">
                                                                                        <img src="assets/images/ask question/look-img.png"
                                                                                             ng-click="zoomImage(image)">
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /End Detail-answer-question -->
                                                    <!-- <div class="load-more">
                                                        <p>Load more comments</p>
                                                    </div>-->
                                                </div>
                                            </div><!-- /End answer of question -->
                                        </div>
                                    </div><!-- End question 01 -->
									<div ng-if="!askQuestion">
                                    	<h5 class="essay-title">No data found</h5>
                                	</div>
                                </div>
                            </div>
                            <!-- POPUP of images's question -->
                            <div class="popup-images">
                                <div class="popup-images-wrapper">
                                    <img alt="" ng-src="{{currentImage}}" height="600px" width="800px"/>
                                </div>
                                <div class="close-popup-images" ng-click="closeImage()">
                                </div>
                            </div><!-- /End POPUP of images's question -->
                        </div><!-- /End content of My Question -->

                        <!-- Content Of Essay -->
                        <div ng-controller="yourEssayController" class="content-question col-md-12 tab-pane" id="essay">
                        <div class="content-essay-block" scroller="yourEssay">
                            <div class="content-question-wrapper">
                                <!-- Essay 01 -->
                                <div  ng-repeat="essay in listEssays track by $index" class="question essay_0{{$index}}">
                                    <div class="number-question col-xs-1">
                                        <h4>{{$index+1}}</h4>
                                    </div>
                                    <div class="detail-question col-xs-offset-1">
                                        <div class="infor-of-question col-xs-12">
                                            <a href=""><h5 class="essay-title">{{ essay.nameOfEssay | limitTo: 100 }}{{essay.nameOfEssay.length > 185 ? '...' : ''}}</h5></a>
                                            <p><span>uploaded {{convertUnixTimeToTime(essay.docSubmittedDate)}} ago </span></p>
                                            <p ng-if="essay.STATUS =='W'"><span class="essay-wait-review">Waiting for review</span></p>
                                            <p ng-if="essay.STATUS !='W'"><span class="essay-{{essay.STATUS=='P'?'reviewing':'answers'}}">{{essay.STATUS=='P'?'Reviewing':'Answered'}}</span><span>by mentor: </span>
                                                <span class="mentor-review">{{essay.firstName+' '+essay.lastName}}</span></p>
                                        </div>
                                    </div>
                                </div><!-- End Essay 01 -->

                                <div ng-if="!listEssays">
                                    <h5 class="essay-title">No data found</h5>
                                </div>
                            </div>
                            <!-- <div class="scroll-load-more col-md-12">
                                <p>Scroll to load more</p>
                            </div> -->
                        </div>

                    </div><!-- /End content of Essay -->

                        <!-- Content Of Setting -->
                        <div class="content-question col-md-12 tab-pane" id="setting">
                            <div class="user-profile-setting">
                                <ul class="nav nav-tabs">
                                    <li class="active" ng-click="changeTab()">
                                        <a data-toggle="tab" href="/student/studentProfile/#perInfor">Personal Information</a>
                                    </li>
                                    <li ng-show="!isLoginViaFBOrGoogle" ng-click="changeTab()">
                                        <a data-toggle="tab" href="/student/studentProfile/#changePass">Change password</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="content-question tab-pane active" id="perInfor">
                                        <div>
                                            <div ng-if="msgSuccess" class="succesful">
                                                <span>{{msgSuccess}}</span>
                                            </div>
                                            <div ng-if="msgError" class="validate_error">
                                                <span>{{msgError}}</span>
                                            </div>
                                        </div>
                                        <form action="" method="">
                                            <div class="personal-information">
                                                <div class="left-form">
                                                    <p><input type="text" id="firstName" placeholder="FirstName"
                                                              name="firstname" value="{{studentInfo.firstname}}"></p>
                                                    <p><input type="text" id="lastName" placeholder="LastName"
                                                              name="lastname" value="{{studentInfo.lastName}}"></p>
                                                    <p><input type="email" id="email" placeholder="Email" name="email"
                                                              value="{{studentInfo.email}}"></p>
                                                    <p><select ng-model="schoolSelect" name="school" id="school" class="form-control school-profile"
                                                               ng-options="school as school.name for school in listSchools track by school.id">
                                                        <option value="">-- Select School --</option>
                                                    </select>
                                                    </p>
                                                    <!--<p><select ng-model="studentInfo.school" name="school" id="school" class="form-control school-profile">
                                                            <option value="0">Choose university</option>
                                                            <option ng-repeat="school in listSchools" value="{{school.id}}" ng-selected="school.id">{{school.name}}</option>
                                                    </select></p>-->
                                                    <div class="favorite-field">
                                                        <p>Favorite Fields:</p>
                                                        <div class="check-favorite">
                                                        	<span ng-repeat="mfav in masterFavourite">
		                                                     	<input type="checkbox" class="masterFavourite"
                                                                       name="favourites" ng-checked="(mfav.selected==1)"
                                                                       value="{{mfav.subjectId}}"/>
		                                                    	<label>{{mfav.subject}}</label>
		                                                    </span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="right-form">
                                                    <p class="sex">
                                                        <input type="radio" id="male" name="gender" value="M"
                                                               ng-checked="studentInfo.gender=='M'"><label>Male</label>
                                                        <input type="radio" id="female" name="gender" value="F"
                                                               ng-checked="studentInfo.gender=='F'"><label>
                                                        Female</label>
                                                        <input type="radio" id="other" name="gender" value="O"
                                                               ng-checked="studentInfo.gender=='O'"><label>
                                                        Other</label>
                                                    </p>

                                                    <p><input type="text" id="bod" ng-model="birthDay" placeholder="BIO"
                                                              brotdatepicker dateFormat="dd M, yy"/></p>
                                                    <p><textarea placeholder="About me..." id="about" name="aboutme">{{studentInfo.bio}}</textarea>
                                                    </p>
                                                </div>
                                                <div class="col-md-12 pad-left-0">
                                                    <div class="favorite-field">
                                                        <p>Subjects:</p>
                                                        <div class="check-favorite">
		                                                    <span ng-repeat="msub in masterSubjects" style="display: inline-block">
		                                                     	<input type="checkbox" class="masterSubject"
                                                                       name="subjects" ng-checked="(msub.selected==1)"
                                                                       value="{{msub.subjectId}}"/>
		                                                    	<label>{{msub.subject}}</label>
		                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="submit col-md-12">
                                                    <button type="button" id="reset" ng-click="resetProfile()">Reset
                                                    </button>
                                                    <button type="button" id="update" ng-click="updateProfile()">Update
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="content-question tab-pane" id="changePass" ng-hide="isLoginViaFBOrGoogle">
                                        <div>
                                            <div ng-if="msgSuccess" class="succesful">
                                                <span>{{msgSuccess}}</span>
                                            </div>
                                            <div ng-if="msgError" class="validate_error">
                                                <span>{{msgError}}</span>
                                            </div>
                                        </div>
                                        <form acition="" method="">
                                            <div class="change-password">
                                                <p><input type="password" placeholder="Current password" name="currentpassword" id="password"></p>
                                                <p><input type="password" id="pass" placeholder="New password" name="newpassword" data-toggle="popover" data-trigger="hover" data-placement="top"></p>
                                                <p><input type="password" id="confirm" placeholder="Confirm password" name="confirmpassword"></p>
                                            </div>
                                            <div class="submit col-md-12">
                                                <button type="button" id="reset" ng-click="resetFormPwd()">Reset
                                                </button>
                                                <button type="button" id="update" ng-click="changePassword()">
                                                    Update
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /End Content Of Setting -->
                    </div>
                </div>
            </div><!-- /End question of user -->
        </section><!-- /End content -->
    </div><!-- End container -->
</div>