<div id="main">
  <div class="wrap_search">
    <div class="data">
      <img src="assets/img/upload_essay.png">
      <span class="title">College Admission</span>
      <!-- <input class="search" placeholder="Search for a video by keyword, topic ..."/> -->
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="navigate">
    <div class="wrap_navigate">
      <span class="active"><a href="#/" title="">Home</a></span>
      <span class="htg_right"></span>
      <span class="active">College Admission</span>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="top_admission">
    <div class="admission_tutorial">
      <div class="video_cat">
        <div class="wrap_part one" ng-click="beforeApplying(subAdmission[0][0].id, subAdmission[0][1].topic[0].id)">
          <div class="wrap_img">
            <img src="assets/img/before_admission.png">
          </div>
          <span class="decs">{{subAdmission[0][0].name}}</span>
        </div>

        <div class="wrap_part two" ng-click="application(subAdmission[1][0].id, subAdmission[1][0].topic[0].id)">
          <div class="wrap_img">
            <img src="assets/img/application_admission.png">
          </div>
          <span class="decs">{{subAdmission[1][0].name}}</span>
        </div>

        <div class="wrap_part three" ng-click="uploadEssay()">
          <div class="wrap_img">
            <img src="assets/img/upload.png">
          </div>
          <span class="decs">Upload Essay</span>
        </div>

        <div class="wrap_part four" ng-click="afterApplying(subAdmission[2][0].id, subAdmission[2][0].topic[0].id)">
          <div class="wrap_img">
            <img src="assets/img/after_admission.png">
          </div>
          <span class="decs">{{subAdmission[2][0].name}}</span>
        </div>

        <div class="clearfix"></div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="bottom_admission">
    <div class="admission_tutorial">
      <span class="title_admission">{{admission[1].name}}</span>
      <div style="padding-top: 70px;">
        <div class="errorAdmission" ng-if="articles.length == 0">
          <span>{{errorData}}</span>
        </div>
        <div class="item_article" ng-repeat="item in articles" ng-click="showArticleDetail(item.arId)">
          <div class="img_article">
            <img ng-src="{{item.image}}">
          </div>
          <div class="content_article">
            <span class="title_article"><b>{{item.title}}</b></span>
            <div style="font-size: 14px;letter-spacing: 0.3px;margin-bottom:7px;margin-top:4px;">
              <img class="image_avartar" ng-src="{{item.imageUser}}"> {{item.firstName}} {{item.lastName}} &nbsp&nbsp&nbsp&nbsp
              <img src="assets/img/calendar_new.png"> {{item.creationDate}} ago &nbsp&nbsp&nbsp&nbsp
              <img src="assets/img/speechbb.png"> {{item.numComment}} comment
            </div>
            <span style="font-size: 14px;color: #555;letter-spacing: 0.3px;">{{item.description}}</span>
          </div>
          <div class="readmore_article">
            <img src="assets/img/btn_readmore.png">
          </div>
        </div>
        <div class="more_article" ng-if="articles.length > 0" ng-click="showArticle()">Show More <img src="assets/img/show_more.png"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- end #main -->