<div id="main">
  <div class="wrap_search">
    <div class="data">
      <span class="title">Articles</span>
      <input class="search" placeholder="Search for a video by keyword, topic ..." ng-model="keySearch" />
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="navigate">
    <div class="wrap_navigate">
      <span class="active"><a href="#/admission">College Admission</a></span>
      <span class="htg_right"></span>
      <span class="active">Articles</span>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="article">
    <div class="admission_tutorial">
      <div style="padding-top: 20px;">
        <button ng-click="showAddArticle()" ng-if="userType == 'M'" class="create">Create Article</button>
        <div class="item_article" ng-repeat="item in articles" ng-click="showArticleDetail(item.arId)">
          <div class="img_article">
            <img ng-src="{{item.image}}">
          </div>
          <div class="content_article">
            <span class="title_article"><b>{{item.title}}</b></span>
            <div style="font-size: 14px; letter-spacing: 0.3px; margin-bottom: 7px; margin-top: 4px;">
              <img class="image_avartar" ng-src="{{item.imageUser}}"> {{item.firstName}} {{item.lastName}} &nbsp&nbsp&nbsp&nbsp
              <img src="assets/img/calendar_new.png"> {{item.creationDate}} ago &nbsp&nbsp&nbsp&nbsp
              <img src="assets/img/speechbb.png"> {{item.numComment}} comment
            </div>
            <span style="font-size: 14px; color: #555; letter-spacing: 0.3px;">{{item.description}}</span>
          </div>
          <div class="readmore_article">
            <img src="assets/img/btn_readmore.png">
          </div>
        </div>
        <button class="load_more" ng-if="countArticle > 7 && featureAr != 1" ng-click="loadMoreArticle()">LOAD MORE</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- end #main -->

<div class="modal fade" id="create_article">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Create Article</b></h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center; margin: -14px 0 10px 0;">
        <span class="text-danger hide imageMess"></span>
        </div>
        <div>
          <label>Title: </label> <input type="text" class="title" style="width: 665px;">
        </div>
        <div class="clearfix"></div></br>
        <div>
          <form id="upload-file-form">
            <label for="upload-file-input">Image:</label>
            <input id="upload-file-input" type="file" name="uploadfile" accept="*" />
          </form>
        </div>
        <div class="clearfix"></div></br>
        <textarea id="description"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="createArticle()">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="uploadImage">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 400px; height: 200px; left: 50%; margin-left: -200px;">
      <div class="modal-header">
        <span style="font-size: 16px;"><b>Insert an image</b></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <img class="waitingUp hide" style="width: 50px; height: 50px; position: absolute; left: 175px; top: 23px;" src="https://www.findshare.com/assets/images/loading-blue.gif" >
        <div style="height: 100px; border: 1px dashed steelblue; margin-top: -20px;">
          <div id="select-file" style="background-color: #428bca; color: WHITE; width: 165px; text-align: center; border-radius: 5px; margin: 35px 0 0 97px; cursor: pointer; font-size: 17px;">Upload an image</div>
            <form id="upload-file-form-edit">
              <input id="file" class="hide" name="uploadfile" accept="*" type="file" />
            </form>
          </div>  
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
