 <div id="signUpEmail" class="sign_up_container">
  <div class="sign_up_email_top">
  </div>
  <div class="sign_up_email_bottom">
  </div>
  <div class="sign_up_email_midle">
    <div class="header">
    </div>

    <div class="signup" ng-if="notFound != 1">
      <div class="header">Change Password</div>
      <hr style="margin-top: 10px; margin-bottom: 15px;" >
      <div class="infor">
      </div>
      <div class="field">
        The link does not exist, please retrieve your password !
      </div>
    </div>

    <div class="signup" ng-if="show != 1 && notFound != 0">
      <div class="header">Change Password</div>
      <hr style="margin-top: 10px; margin-bottom: 15px;" >
      <div class="infor">
        <div class="number"></div>
        <div class="text">Please enter new password</div>
      </div>
      <div class="field">
        <div class="col-md-6" style="padding-right: 2px;"><input type="password" ng-model="newPassword1" placeholder="New Password*" class="form-control"></div>
        <div class="col-md-6" style="padding-left: 2px;"><input type="password" ng-model="newPassword2" placeholder="Confirm New Password*" class="form-control"></div>        
      </div>
        <div id="warning" style="margin-bottom: 6px; margin-left: 7px; margin-top: 5px;" class="alert alert-danger" role="alert" ng-show="myVar">Passwords do not match</div>
      <div class="button">
        <!-- <img style="height: 45px; cursor:pointer;" src="assets/img/button_cancle.png" back-previous> -->
        <img  style="cursor:pointer; float: right; margin-right: 15px;" src="assets/img/button_signup.png" class="btnSignUp" ng-click="changePassword(newPassword1, newPassword2)">
      </div>
    </div>
    <div class="signup" ng-if="show != 0">
      <div class="header">Change Password</div>
      <hr style="margin-top: 10px; margin-bottom: 15px;" >
      <div class="infor">
      </div>
      <div class="field">
        Your password was changed successfully !!
        <a href="" ng-click="goHomePage()">Go to homepage</a>
      </div>
    </div>

  </div>
</div>
