    <div id="faq-search">
      <div class="w965">
        <div class="avatar fl"><img src="assets/img/ico-faq.png" alt=""/></div>
        <h3 class="fl">FAQS</h3>
        <div class="search fr">
          <div class="search-inner">
            <form>
              <input type="text" name="s" placeholder="Search for a topic or keyword, top..." class="search-text" id="search-faq" value=""/>
            </form>
          </div>
        </div>
        <!-- end .search -->
      </div>
    </div>
    <!-- end #faq-search -->
    <div id="navigation">
      <div class="w965">
        <p><a href="#/" class>Home</a><a href="#/faqs">FAQs</a></p>
      </div>
    </div>
    <!-- end #navigation -->
    <div id="faq-body">
      <div class="w965">
        <div class="faq-left fl">
          <div id="topic" class="topic">
            <h3 class="title">Topics</h3>

            <div class="wt" id="as">
              <div class="tt">
                <h3 class="ico-about fl">About Siblinks</h3>
                <span class="view-all fr" id="viewAllA" ng-click="onClick(1)"><a href="javascript:void( )">View all</a></span>
              </div>
              <!-- end .tt -->
              <div class="tb row_chating"  infinite-scroll="loadMore()" 
                                infinite-scroll-disabled='busy' 
                                infinite-scroll-distance='1'>
                <div ng-repeat="v in faqsAbout" class="tbq">
                  <!-- <div ng-show="$index == 1" class="tbqv fr"> -->
                  <div class="tbqv fr">
                    <iframe id="ytplayer" type="text/html" width="140" height="120" ng-src="{{getVideoId(v.videoLink) | trusted}}" frameborder="0"/>
                  </div>

                  <!-- </div> -->
                  <p><span class="tbql">Question: </span> {{v.questionText}}
                  </p>
                  <p class="ans" ng-class="{row2 : $index == 1 }"><span class="tbql">Answer: </span>{{v.answerText}} </p>
                  <!-- <a href="#" class="show-more less">Show more</a> -->
                </div>
                <!-- end .tbq -->

              </div>
              <!-- end .tb -->
            </div>
            <!-- end .wt -->

            <div style="Display:" class="wt" id="has">
              <div class="tt">
                <h3 class="ico-help fl">Help and Support</h3>
                <span class="view-all fr" id="viewAllB" ng-click="onClick(2)"><a href="javascript:void(0)">View all</a></span>
              </div>
              <!-- end .tt -->
              <div class="tb row_chating"  infinite-scroll="loadMore()" 
                                infinite-scroll-disabled='busy' 
                                infinite-scroll-distance='1'>
                <div ng-repeat="v in helpAndSupport" class="tbq">
                  <!-- <div ng-show="$index == 1" class="tbqv fr"> -->
                  <div class="tbqv fr">
                    <iframe id="ytplayer" type="text/html" width="140" height="120" ng-src="{{getVideoId(v.videoLink) | trusted}}" frameborder="0"/>
                  </div>
                  <p><span class="tbql">Question: </span> {{v.questionText}}
                  </p>
                  <p class="ans" ng-class="{row2 : $index == 1 }"><span class="tbql">Answer: </span>{{v.answerText}} </p>
                  <!-- <a href="#" class="show-more less">Show more</a> -->
                </div>

              </div>
              <!-- end .tb -->
            </div>
            <!-- end .wt -->

            <div style="Display:" class="wt" id="bam">
              <div class="tt">
                <h3 class="ico-person fl">Becoming a Mentor</h3>
                <span class="view-all fr" id="viewAllC" ng-click="onClick(3)"><a href="javascript:void(0)">View all</a></span>
              </div>
              <!-- end .tt -->
              <div class="tb row_chating"  infinite-scroll="loadMore()" 
                                infinite-scroll-disabled='busy' 
                                infinite-scroll-distance='1'>
              
                <div ng-repeat="v in faqsBecome" class="tbq">
                  <!-- <div ng-show="$index == 1" class="tbqv fr"> -->
                  <div class="tbqv fr">
                    <iframe id="ytplayer" type="text/html" width="140" height="120" ng-src="{{getVideoId(v.videoLink) | trusted}}" frameborder="0"/>
                  </div>
                  <p><span class="tbql">Question: </span> {{v.questionText}}
                  </p>
                  <p class="ans" ng-class="{row2 : $index == 1 }"><span class="tbql">Answer: </span>{{v.answerText}} </p>
                  <!-- <a href="#" class="show-more less">Show more</a> -->
                </div>

              </div>
              <!-- end .tb -->
            </div>
            <!-- end .wt -->
            <script>
            $(function(){
              $('.show-more').on('click', function(e){
                e.preventDefault();
                var $t = $(this);
                if ($t.hasClass("less")) {
                  $t.parent().find('.ans').removeClass('row2');
                  $t.text('Hide more');
                  $t.removeClass('less').addClass('more')
                }else{
                  $t.parent().find('.ans').addClass('row2');
                  $t.text('Show more');
                  $t.removeClass('more').addClass('less')
                }

              });
            });
            </script>
          </div>
          <!-- end #topic -->

        </div>
        <!-- end #faq-left -->
        <div class="faq-sidebar fr">
          <div class="need-help">
            <span class="fl"></span>
            <h3 class="fl">Need Help?</h3>
            <a href="#contact" class="ico-yellow">Contact Support</a>
          </div>

          <div class="top-question">
            <h3>Top question</h3>
            <div ng-repeat="v in topQuestions" class="top-ques-item">
              <a href="javascript:void(0)">{{v.questionText}}</a>
            </div>
          </div>
          <!-- end .top-question -->

        </div>
        <!-- end #faq-left -->
        <div class="clr"></div>
      </div>
    </div>
    <!-- end #faq-body -->

    <!-- <div id="ready">
      <div class="w965">
        <p class="fl">
          Ready to get started with SibLinks?
        </p>
        <div class="login fr">
          <a href="#" class="btn signin">Sign in</a>
          <a href="#" class="btn signup">Sign up</a>
        </div>
      </div>
    </div> --><!-- end #ready -->
