<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body authenticate-wrapper">
            <div class="close-button">
                <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            </div>
            <div class="title">Forgot Password</div>
            <div class="wrap_info">
                <!-- <div class="alert alert-danger" role="alert">Error</div> -->
                <input type="text" name="email" class="userName" value="" placeholder="Username*">
                <span class="error hide">Email invalid</span>
                <div class="loadingdivForgot" ng-hide="showItem">
                    <img id="loading" src="https://www.findshare.com/assets/images/loading-blue.gif" >
                </div>
                <div class="wrap_event" style="margin-top:15px;">
                    <button type="button" ng-click="forgot()" class="forgot signinComplex green-btn">SUBMIT</button>
                    <div class="clearfix">
                        
                    </div>
                </div>
                
            </div>
            <div class="wrap_alert hide">
                <span>
                    <span class="notification">Submit successfully!</span>
                    Your request was processed. You will receive an E-mail with further instructions to set a new password.
                </span>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->