<div id="question_detail" class="forum_question" class="search_result_video">
  <div id="forum-search" class="ng-scope">
    <div class="w965">
      <h3 class="fl">Forum</h3>
      <div class="search fr">
        <div class="search-inner">
          <form class="ng-pristine ng-valid">
            <input type="text" name="s" placeholder="Search for a topic or keyword, top..." class="search-text" id="search-forum" ng-model="textSearch" value="">
          </form>
        </div>
      </div>
      <!-- end .search -->
    </div>
  </div>
  <div class="header_bottom" style="position: relative;">
    <div class="w965">

      <div class="select_subject_detail" style="display: inline-block;">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{subject.subject_name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="item in listSubjects" ng-if="item[0].subject_id != subjectCurrent && item[0].isForum == 'Y'">
            <a href="#/forum/?subjectId={{item[0].subject_id}}">{{item[0].subject_name}}</a>
          </li>
        </ul>
      </div>

      <!-- <label class="textTopic"><a href="#/forum?subjectId={{subject.subject_id}}" title="">{{subject.subject_name}}</a></label> -->
      <div style="display: inline-block;">
        <span class="iconNext"><img src="assets/img/green_arrow.png" style="margin-top: -9px; height:12px;"></span>
        <label class="textTopic"><a href="#/forum?subjectId={{subject.subject_id}}&categorieId={{category.topicId}}" title="">{{category.topic}}</a></label>
      </div>
    </div>
  </div>
  <div class="forum_container">
    <div class="w965 row">
    <div id="warning" style="margin-top: 5px;" class="alert alert-danger" role="alert" ng-show="myVarF">Follow question error</div>
      <div class="col-md-8 left">
        <!-- <span style="margin-bottom: 6px; margin-left: 220px;" class="alert alert-danger" role="alert" ng-show="myVar">Follow question: Error</span> -->
        <div class="header">
          <!-- <div> -->
            <img class="icon_delete" src="assets/img/close.png" ng-if="userId == question.authorId" ng-click="deletePost(question.question_id)">
            <div class="question">
              {{question.question_text}}
            </div>
            <span class="al"></span>
            <div class="detail">
              <div class="s">
                <!-- <span class="ico-arrowup">+{{question.countLike}}</span> -->
                <span class="a1"><a href ng-click="like(question.question_id)"><span class="ico-arrowup" id="q{{question.question_id}}">+{{question.countLike}}</span></a></span>
                <span class="lbq{{question.question_id}}"></span>
                <span class="view ng-binding">{{question.views}} VIEWS</span>
                <span class="sub">
                  <a href="javascript:void(0);" title="" ng-repeat="ca in question.categories_taged">
                    {{ca.name}}<span ng-if="!$last">,</span>
                  </a>
                </span>

                <span class="time-by fr ng-binding">
                  <img src="{{question.avatar}}" style="height: 25px; margin: 0 5px; border-radius: 50%;"><a href="#/studentProfile/{{question.authorId}}">{{question.firstName}} {{question.lastName}}</a> asked this question {{question.timeStamp}} ago
                </span>
              </div>
              <div class="atq" ng-click="showCKEditor($event);">
                <span>Answer this question</span>
              </div>
              <div class="textword hide">
                <textarea id="txtAnswer" rows="5" class="answer_text" cols="80" placeholder="Answer this question">

                </textarea>
              </div>
            <div class="footer">
              <div class="row">
                <!-- <div class="col-md-7">
                  <div>
                    <div>
                      <input type="checkbox" class="fb">
                      <img src="assets/img/square_facebook.png" style="margin-top: -8px;margin-left: 10px; height: 17px;">
                      <span class="post">POST TO FACEBOOK</span>
                      <label style="font-size: 12px;font-weight: 500;color: #379CC0;">(Connect)</label>
                    </div>
                  </div>
                  <div>
                    <div>
                      <input type="checkbox" class="fb">
                      <img src="assets/img/square_twitter.png" style="margin-top: -8px;margin-left: 10px; height: 17px;">
                      <span class="post">POST TO TWITTER</span>
                      <label style="font-size: 12px;font-weight: 500;color: #379CC0;">(Connect)</label>
                    </div>
                  </div>
                </div> -->
                <div style="float:right; padding-right: 17px;">
                  <input type="submit" name="" value="CANCEL" class="btnCancel" ng-click="cancel()">
                  <input type="submit" name="" value="ANSWER" class="btnAnswer" ng-click="answer(question.question_text)">
                </div>
                <div class="clearfix">

                </div>
              </div>
            </div>
          <!-- </div> -->
        </div>
        <hr style="width: 700px; margin-left: -20px;">
        <div class="answerByUser" ng-repeat="an in answers track by $index" ng-class="{last: $last}">
          <!-- <img class="icon_delete" src="assets/img/close.png" ng-if="userId == an[0].authorID" ng-click="deleteAnswer(an[0].aid)"> -->
          <div class="wrap_number">
            <span class="number">{{$index + 1}}</span>
          </div>
          <div class="contentAnswer" data-ng-bind-html="an.answer_text">
          </div>
          <div class="answerFooter">
            <div style="float:left;">
              <span class="a1"><a href ng-click="likeAnswer(an[0].aid, an[0].authorID)"><span class="ico-arrowup" id="a{{an[0].aid}}">+{{an[0].countLike}}</span></a></span>
              <!-- <span class="lba{{an[0].aid}}"></span> -->
              <span class="edit" ng-click="editAnswer(an[0].aid, an.answer_text)" ng-if="userId == an[0].authorID">Edit</span>
              <span class="delete" ng-click="deleteAnswer(an[0].aid)" ng-if="userId == an[0].authorID">Delete</span>
            </div>
            <div class="contentRight" style="float:right;">
              <img src="{{an[0].imageUrl}}" style="height: 25px; margin: 0 2px; border-radius: 50%;">
              <label style="font-weight: 500; font-size: 11px; color: #0181B2;">
                <a href="#/studentProfile/{{an[0].authorID}}" title="">{{an[0].firstName}} {{an[0].lastName}}</a>
              </label>
              <label style="font-size: 12px;font-weight: 100; color: #7E7E7E;">answered {{an[0].timeStamp}} ago</label>
            </div>
            <div class="clearfix">

            </div>

          </div>
          <hr ng-if="!$last">
        </div>
        <button class="load_more_answer hide" ng-click="loadMoreAnswer()">LOAD MORE</button>
   <!--      <div class="answerByUser last">
          <div class="contentAnswer">
            There's one mathematical result that is fairly important for pratical quantum computation. In fact, without it we would find it impossible to implement "complete" (in the sence that we can implement any quantum gates) fault-tolerant quantum computer while maintaining the speedup that quantum algorithms promise us. it is called the Solovay-kitaev theorem.
          </div>
          <div class="answerFooter">
            <div style="float:left;">
              <span class="ico-arrowup">+3</span>
            </div>
            <div style="float:right;">
              <label style="font-size: 12px;font-weight: 100; color: #7E7E7E;">28 minutes ago by</label>
              <label style="font-weight: 500; font-size: 12px; color: #0181B2;">Roger Radius</label>
            </div>
            <div class="clearfix">

            </div>

          </div>
        </div> -->
      </div>
      </div>
      <div class="col-md-4 right">
        <div class="row" style="width: 400px;">
          	<div class="fb-like face_like" data-href="" data-layout="button" data-action="like" data-show-faces="true" data-share="false" data-layout="standard" data-href="{{addressCurrent}}"></div>

          	<div class="g-plusone google_plus" data-size="medium" data-annotation="none" data-href="{{addressCurrent}}"></div>

          	<div class="share showShare"></div>
          <!-- <div class="col-md-4" style="width: 110px;"><img src="assets/img/icon_face.png"></div>
          <div class="col-md-4" style="width: 110px;"><img src="assets/img/icon_googleplus.png"></div>
          <div class="col-md-4"><img src="assets/img/icon_up.png"></div> -->
        </div>
        <div style="margin-top: 10px;"><img style="cursor: pointer;" ng-click="followQuestion()" src="assets/img/follow_question.png"></div>
        <div class="answer_parent">
          <div class="answer_question">
            <div class="row">
              <div class="col-md-1 icon_question"><img src="assets/img/icon_question.png"></div>
              <div class="col-md-9" style="margin-top: 15px;">
                <label style="font-size: 17px; margin-left: 10px">Tips:</label>
                <label style="font-size: 15px; font-weight: 400;">Answering Questions</label>
              </div>
              <div class="col-md-1 answering_question">
                <img class="btnShow" src="assets/img/icon_add.png" ng-click="showAnsering($event)">
                <img class="btnHide hide" src="assets/img/icon_hide.png" ng-click="hideAnsering($event)">
              </div>
            </div>
          </div>
          <div id="content_question" class="content_question hide">
            There's one mathematical result that is fairly important for pratical quantum computation. In fact, without it we would find it impossible to implement "complete" (in the sence that we can implement any quantum gates) fault-tolerant quantum computer while maintaining the speedup that quantum algorithms promise us. it is called the Solovay-kitaev theorem.
            <strong style="margin-top:20px; display: block;">Formating Tips</strong>
            <span style="margin-top:10px; display: block;">*bold* = bold</span>
            <span style="margin-top:10px; display: block;">_italics = italics</span>
            <span style="margin-top:10px; display: block;">"code" = code</span>
          </div>
        </div>
        <label style="margin-top:25px;font-size:15px;color:#2D3F4D;margin-bottom:0px;">Related Questions</label>
        <div style="margin-top:data-=""10px"><img src="assets/img/line.png"></div>
        <div class="question_relate">
          <div ng-repeat="qa in questionsRelates">
          <!-- <div> -->
            <div class="row">
              <div class="col-md-1"><img src="assets/img/ico-sub.png"></div>
              <div class="col-md-10 item">
                <a href="#/question_detail?subject={{subject.subject_id}}&category={{qa[0].topicId}}&question_id={{qa[0].pid}}" title="">{{qa[0].content}}</a>
              </div>
            </div>
            <hr class="line"/>
          </div>
        </div>
        <div class="load_more_related">
          <button ng-if = " countRelated > 4 && feature != 0 " class="load_more" ng-click="loadMoreRelated()">LOAD MORE</button>
        </div>
      </div>

  </div>
</div>

<script>
  window.___gcfg = {
    lang: 'en-US'
  };
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if(d.getElementById(id))
      return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="modal fade" id="share">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="min-height: 25px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Share</h4>
      </div>
      <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px;">
        <!-- <p>One fine body&hellip;</p> -->
        <a href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=http%3A%2F%2F{{head}}%2F%23%2Fquestion_detail%3Fsubject%3D{{subjectCurrent}}%26category%3D{{topicId}}%26question_id%3D{{questionId}}&pubid=ra-5577a285443024a6&ct=1&title={{arr}}&pco=tbxnj-1.0" target="_blank">
          <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/facebook.png" border="0" alt="Facebook"/>
        </a>
        <a href="https://api.addthis.com/oexchange/0.8/forward/google_plusone_share/offer?url=http%3A%2F%2F{{head}}%2F%23%2Fquestion_detail%3Fsubject%3D{{subjectCurrent}}%26category%3D{{topicId}}%26question_id%3D{{questionId}}&pubid=ra-5577a285443024a6&ct=1&title={{arr}}&pco=tbxnj-1.0" target="_blank">
          <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/google_plusone_share.png" border="0" alt="Google+"/>
        </a>
        <a href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url=http%3A%2F%2F{{head}}%2F%23%2Fquestion_detail%3Fsubject%3D{{subjectCurrent}}%26category%3D{{topicId}}%26question_id%3D{{questionId}}&pubid=ra-5577a285443024a6&ct=1&title={{arr}}&pco=tbxnj-1.0" target="_blank">
          <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/twitter.png" border="0" alt="Twitter"/>
        </a>

        <!-- <a href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=http%3A%2F%2F{{addressE}}%3A{{portE}}%2F%23%2Fquestion_detail%3Fsubject%3D{{subjectCurrent}}%26category%3D{{topicId}}%26question_id%3D{{questionId}}&pubid=ra-5577a285443024a6&ct=1&title={{arr}}&pco=tbxnj-1.0" target="_blank">
          <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/facebook.png" border="0" alt="Facebook"/>
        </a>
        <a href="https://api.addthis.com/oexchange/0.8/forward/google_plusone_share/offer?url=http%3A%2F%2F{{addressE}}%3A{{portE}}%2F%23%2Fquestion_detail%3Fsubject%3D{{subjectCurrent}}%26category%3D{{topicId}}%26question_id%3D{{questionId}}&pubid=ra-5577a285443024a6&ct=1&title={{arr}}&pco=tbxnj-1.0" target="_blank">
          <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/google_plusone_share.png" border="0" alt="Google+"/>
        </a>
        <a href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url=http%3A%2F%2F{{addressE}}%3A{{portE}}%2F%23%2Fquestion_detail%3Fsubject%3D{{subjectCurrent}}%26category%3D{{topicId}}%26question_id%3D{{questionId}}&pubid=ra-5577a285443024a6&ct=1&title={{arr}}&pco=tbxnj-1.0" target="_blank">
          <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/twitter.png" border="0" alt="Twitter"/>
        </a> -->

      </div>
      <div class="modal-footer" style="padding-top: 6px; padding-right: 20px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="deleteItem">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure want to delete?</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>&nbsp&nbsp&nbsp
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" ng-click="deleteItem()">Yes</button>
      </div>
      <div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editAnswer">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 660px; height: 555px; left: 50%; margin-left: -330px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit answer:</h4>
      </div>
      <div class="modal-body">
        <textarea id="answer" class="answer_text" placeholder="Answer this question">

        </textarea>
        <div style="margin: 15px 0 0 0; float: right;">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>&nbsp&nbsp&nbsp
          <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" ng-click="updateAnswer()">Yes</button>  
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
$(document).ready(function(){
    $('.showShare').click(function() {
      $('#share').modal('show');
    })
});
</script>

<div class="modal fade" id="uploadImage">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 400px; height: 200px; left: 50%; margin-left: -200px;">
      <div class="modal-header">
        <span style="font-size: 16px;"><b>Insert an image</b></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <img class="waitingUp hide" style="width: 50px; height: 50px; position: absolute; left: 175px; top: 23px;" src="https://www.findshare.com/assets/images/loading-blue.gif" >
        <div style="height: 100px; border: 1px dashed steelblue; margin-top: -20px;">
          <div id="select-file" style="background-color: #428bca; color: WHITE; width: 165px; text-align: center; border-radius: 5px; margin: 35px 0 0 97px; cursor: pointer; font-size: 17px;">Upload an image</div>
            <form id="upload-file-form">
              <input id="file" class="hide" name="uploadfile" accept="*" type="file" />
            </form>
          </div>  
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="uploadImageEdit">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 400px; height: 200px; left: 50%; margin-left: -200px;">
      <div class="modal-header">
        <span style="font-size: 16px;"><b>Insert an image</b></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <img class="waitingUp hide" style="width: 50px; height: 50px; position: absolute; left: 175px; top: 23px;" src="https://www.findshare.com/assets/images/loading-blue.gif" >
        <div style="height: 100px; border: 1px dashed steelblue; margin-top: -20px;">
          <div id="select-edit" style="background-color: #428bca; color: WHITE; width: 165px; text-align: center; border-radius: 5px; margin: 35px 0 0 97px; cursor: pointer; font-size: 17px;">Upload an image</div>
            <form id="upload-file-form-edit">
              <input id="edit" class="hide" name="uploadfile" accept="*" type="file" />
            </form>
          </div>  
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->