<div class="modal-dialog" ng-controller="SignIn">
  <div class="modal-content">
    <div class="modal-body authenticate-wrapper">
      <div class="close-button">
        <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
      </div>
      <div class="title">Sign In</div>
      <div class="wrap_info">
        <div style="padding-bottom: 10px;"><span class="text-danger loginMess"></span></div>
        <div>
          <a href="" class="signup-facebook-dialog" ng-click="loginFacebook()"><img src="assets/img/btn_fb.png" style="width: 140px; height: 31.5px; float:left; border-radius: 5px;"></a>
          <a href="" class="signup-google-dialog" ng-click="loginGoogle()"><img src="assets/img/btn_gg.png" style="width: 140px; height: 31.5px; float: right; border-radius: 5px;"></a>
        </div>
        <input type="text" class="userName" name="userName" placeholder="{{username}}">
        <input type="password" class="passWord" name="passWord" placeholder="{{password}}">
        <div class="wrap_event">
          <div class="wrap_remember">
            <input type="checkbox" name="remember" value="" style="margin-left: -146px;">
            <span class="lb_remember">Remember me</span>
            <span class="lb_forgot" ng-click="showForgotPassword()">Forgot your password?</span>
          </div>
          <button type="button" class="signin signinComplex green-btn" ng-click="login()">SIGN IN</button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->