<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <span class="captain">Please complete the information below in order to gain access to our mentors</span>
            <span class="title">All fields marked with an * are mandatory</span>
            <div class="wrap_step_one">
                <span class="step_one">1</span>
                <span class="info_basic">Basic information</span>
                <div class="clearfix"></div>
            </div>
            <div class="wrap_input">
                <input name="username" class="input_nomal" placeholder="Username*">
                <input name="email" class="input_large" placeholder="Email*">
                <input name="password" class="input_small" placeholder="Password*">
            </div>
            <div class="wrap_input">
                <input name="first_name" class="input_nomal" placeholder="First name*">
                <input name="last_name" class="input_large" placeholder="Last name*">
                <input name="dob" class="input_small" placeholder="DOB*">
            </div>
            <div class="wrap_step_one">
                <span class="step_one">2</span>
                <span class="info_basic">Education</span>
                <div class="clearfix"></div>
            </div>
            <div class="row wrap_input education">
                <div class="col-md-6">
                    <span class="title">Hight School*:</span>
                    <input type="text" class="school" placeholder="Search hight school" />
                </div>
                <div class="col-md-6">
                    <span class="span_grade">Grade:</span>

                    <select class="drop_grade select">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                    <!-- <img src="/img/arrow_down.png" alt=""> -->
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="accomplishements">
                <span>Special Accomplishements*:</span>
                <textarea class="content">e.g Class President</textarea>
            </div>
            <div class="college">
                <span>Potential College Major*:</span>
                <div class="content">
                    <div class="row" >
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">Architecture</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                               <span class="check"></span>
                               <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">Divinity</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">English</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">History</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">Medicine</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">Sciens</span>
                            </span>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">Architecture</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">Divinity</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">English</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">History</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">Medicine</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">Sciens</span>
                            </span>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">Architecture</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">Divinity</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">English</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">History</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">Medicine</span>
                            </span>
                        </div>
                        <div class="col-md-2 padding-top">
                            <span class="margin-left">
                                <span class="check"></span>
                                <img src="assets/img/icon_action_complete.png" class="checked hide">
                                <span class="name">Sciens</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="activities">
                <span>Extraccuricular Activities*:</span>
                <div class="content">
                    <span class="margin-right">
                        <span class="check"></span>
                        <img src="assets/img/icon_action_complete.png" class="checked hide">
                        <span class="name">Acting</span>
                    </span>
                    <span class="margin-right">
                        <span class="check"></span>
                        <img src="assets/img/icon_action_complete.png" class="checked hide">
                        <span class="name">Reading</span>
                    </span>
                    <span class="margin-right">
                        <span class="check"></span>
                        <img src="assets/img/icon_action_complete.png" class="checked hide">
                        <span class="name">Running</span>
                    </span>
                    <span class="margin-right">
                        <span class="check"></span>
                        <img src="assets/img/icon_action_complete.png" class="checked hide">
                        <span class="name">Soccer</span>
                    </span>
                    <span class="margin-right">
                        <span class="check"></span>
                        <img src="assets/img/icon_action_complete.png" class="checked hide">
                        <span class="name">Tenis</span>
                    </span>
                </div>
            </div>
            <div class="help">
                <span>Want Help in:</span>
                <div class="row content">
                    <div class="col-md-4">
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Personal Issues</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">College Applicaton</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Financial Aid Application</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Scholarship Application</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">English</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Essays</span>
                        </span>
                    </div>
                    <div class="col-md-4 math">
                        <span style="position: absolute; margin-top:7px;">Maths:</span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Algebra1</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Algebra2</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Geometry</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Probability & Statistic</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Trigonometry</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Pre-Calculur</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Calculus</span>
                        </span>
                    </div>
                    <div class="col-md-4 sciens">
                         <span style="position: absolute; margin-top:7px;">Sciens:</span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Biology</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Chemistry</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Physics</span>
                        </span>
                        <span class="margin">
                            <span class="check"></span>
                            <img src="assets/img/icon_action_complete.png" class="checked hide">
                            <span class="name">Computer Sciences</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="family">
                <span>Family approximated income(will not be visible on your profile)</span>
                <input type="text" placeholder="Annual income" />
            </div>
            <div class="old">
                <span>What was your dream or aspiration when you were 11 or 12 year old?*</span>
                <textarea class="content"></textarea>
            </div>
            <div class="wrap_button">
                <button class="signup">Sign up</button>
                <button class="cancel" data-dismiss="modal">Cancel</button>
                <div class="clearfix"></div>
            </div>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


