<div id="main">
  <div class="wrap_search">
    <div class="data">
      <!-- <img ng-src="{{iconImgs[nameSubject.toLowerCase()].white}}"> -->
      <img class="icon" ng-src="{{iconImgs}}">
      <span class="title" style="cursor: pointer;" ng-click="backVideoTutorial()">{{nameSubject}}</span>
      <span class="htg_right"></span>

      <!-- Split button -->
      <div class="custom_dropdown" style="position: relative;">
      	<div class="select_topic">
    		  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">{{seletedCatName}}</button>
    		  <button type="button" class="btn arrow dropdown-toggle" data-toggle="dropdown">
    		    <span class="caret"></span>
    		    <span class="sr-only">Toggle Dropdown</span>
		      </button>
    		  <ul class="dropdown-menu" ng-repeat="li_cat in listofCategeris track by $index" ng-if="li_cat.topicId != null" role="menu" >
    		    <li ng-repeat="li_cat in listofCategeris track by $index"><a href ng-click="openAnotherCat(li_cat.topicId)">{{li_cat.topic}}</a></li>
    		  </ul>
		  </div>
    </div>
      <!-- <input class="search" placeholder="Search for a video by keyword, topic ..." ng-model="keySearch" /> -->
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="content">
  	<div class="head_ct">
  		<div class="loadingdiv" ng-hide="showItem">
        <img src="https://www.findshare.com/assets/images/loading-blue.gif" >
      </div>
      <div class="title" ng-show="showItem">{{errorData}}</div>
      <!-- <div class="clearfix"></div> -->
        <script id="template/pagination/pagination.html" type="text/ng-template">
        <div>
        <span ng-if="boundaryLinks" ng-class="{hide: noPrevious(), prev: hasPrevious()}" ng-click="selectPage(1)">{{getText('first')}}</span>
        <span ng-if="directionLinks" ng-class="{hide: noPrevious(), prev: hasPrevious()}" ng-click="selectPage(page - 1)">{{getText('previous')}}</span>
        <span ng-repeat="page in pages track by $index" ng-class="{active: page.active, normal: page.notactive}" ng-click="selectPage(page.number)">{{page.text}}</span>
        <span ng-if="directionLinks" ng-class="{hide: noNext(), next: hasNext()}" ng-click="selectPage(page + 1)">{{getText('next')}}</span>
        <span ng-if="boundaryLinks" ng-class="{hide: noNext(), next: hasNext()}" ng-click="selectPage(totalPages)">{{getText('last')}}</span>
        </div>
        </script>
  		<div class="paging">
        <div class="wrap_paging">
          <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="false" next-text="NEXT" previous-text="PREVIOUS" ng-if="videosWithTopic.length > 100"></pagination>
          <a href="" ng-click="prevPage()" style="float: left;"><img src="assets/img/btn_prev.png"></a>
          <span ng-repeat="i in listPage" id="{{i}}" class="active" ng-class="addClassActive(i)" ng-click="showListVideoWithPage(i)" style="margin-top: 20px;">{{i}}</span>
          <a href="" ng-click="nextPage()"><img class="btn_nxt" src="assets/img/btn_nxt.png" style="margin-left: 10px;"></a>
	   			<div class="clearfix"></div>
  			</div>
  		</div>
  		<div class="clearfix"></div>
  	</div>

    <!-- <div class="show_video" ng-show"{{videosWithTopic != 'No Data Found'}}"> -->
    <div ng-show"{{videosWithTopic != 'No Data Found'}}">
  	<div class="body_ct" id="{{video.vid}}" ng-repeat="video in videosWithTopic track by $index" ng-if="video.vid != null" ng-click="showVideoDetail(video.vid, this)">
  		<div class="icon_play">
  			<div class="wrap_icon_play">
  				<div class="wrap_htg_white">
  					<span class="htg_white"></span>
  				</div>
  			</div>
        <!-- <img ng-src="data:image/png;base64,{{video.image}}" style="height: 90px;"> -->
        <img style="height: 90px;" ng-src="{{video.image}}" >
  			<div class="clearfix"></div>
  		</div>

  		<div class="data_ct">
  			<!-- <div class="wrap_number">
  				<span class="number">{{(page - 1) * 10 + $index + 1}}</span>
  			</div> -->
  			<div class="wrap_text">
  				<span class="title">{{video.title}}
  					<span class="time"><!-- ({{(video.runningTime / 60)%60}} min {{video.runningTime % 60}}) -->{{video.runningTime}}</span>
  				</span>
  				<span class="text">{{video.description}}</span>
  			</div>
  			<div class="rating">
            <img class="left" ng-repeat="star in video.arr_rate track by $index" ng-src="{{star}}">
  				<span class="name">{{video.firstName}} {{video.lastName}}</span>
  				<span class="point">Views: {{video.numViews}}</span>
          <!-- <span class="point">Points: {{video.points}}</span> -->
  			</div>
  			<div class="clearfix"></div>
  		</div>
  		<div class="status">
  			<img class="icon_white_tick" src="assets/img/white_tick.png">
  		</div>
  		<div class="clearfix"></div>
  	</div> <!-- end .body_ct -->
  </div>
  	<div class="clearfix"></div>
  </div> <!-- end .content -->
</div>
<!-- end #main -->
