<div id="teamPage">
  <div class="wrap_search">
     <div class="data">
      <img class="icon" src="assets/img/mentor_profile.png">
      <span class="title">Our Team</span>
    </div>
  </div>

  <div class="content">
    <div class="head_ct">
      <div class="titleMentor">Mentors</div>
    </div>

    <div class="loadingdiv" ng-hide="showItem">
      <img src="https://www.findshare.com/assets/images/loading-blue.gif" >
    </div>
    <div class="divError" ng-if="countAll == null" ng-show="showItem">{{errorData}}</div>
    <div class="clearfix"></div>

    <div class="list_mentor" id="{{mentor.id}}" ng-repeat="mentor in aboutMentors track by $index" ng-if="mentor.id != null">
      <!-- <div class="icon_play"> -->
        <!-- <img style="height: 110px; width: 110px;" ng-src="{{mentor.image}}" > -->
        <!-- <img style="width: 120px;" ng-src="{{mentor.image}}" >
        <div class="clearfix"></div>
      </div> -->
      <div class="introduce">
        <div class="wraper_text">
          <div class="thumbnail">
            <img ng-src="{{mentor.image}}" class="portrait" alt="Image" >
            <div class="clearfix"></div>
          </div>
          <span class="text" data-ng-bind-html="mentor.introduce"></span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- end #main -->
