<div id="main">
  <div class="wrap_search">
    <div class="data">
      <img src="assets/img/upload_essay.png">
      <span class="title">Upload Essay</span>
      <!-- <input class="search" placeholder="Search for a video by keyword, topic ..."/> -->
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="navigate">
    <div class="wrap_navigate">
      <span class="active"><a href="#/" title="">Home</a></span>
<!--       <span class="htg_right"></span>
      <span class="active">College Admission</span> -->
      <span class="htg_right"></span>
      <span>Upload Essay</span>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="tutorial">
    <div class="upload_tutorial">
      <div class="work_tutorial">
        <span class="title">How it Works</span>
        <span class="desc">
          Upload your essays to get feedbacks from your Siblinks mentors
        </span>
      </div>
      <div class="video_cat">
        <div class="wrap_part one">
          <div class="wrap_img">
            <span class="number">1</span>
            <img src="assets/img/cloud.png">
          </div>
          <span class="decs">Upload your Essay</span>
        </div>

        <div class="wrap_part two">
          <div class="wrap_img">
            <span class="number">2</span>
            <img src="assets/img/essay.png">
          </div>
          <span class="decs">Have a Mentor Review your Essay</span>
        </div>

        <div class="wrap_part three">
          <div class="wrap_img">
            <span class="number">3</span>
            <img src="assets/img/essay_results.png">
          </div>
          <span class="decs">Download your Essay Feedback</span>
        </div>

        <img class="close" src="assets/img/close.png" ng-click="hideHowToWorks()">

        <div class="clearfix"></div>

      </div><!-- end .video_cat -->
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="content">
    <div class="content_left">
      <div class="upload_files">
        <div class="caption">
          <img class="icon_upload" src="assets/img/upload_essay_cloud.png">
          <span class="title">Upload your Essay</span>
          <div class="clearfix"></div>
        </div>

        <div class="draft_drop_file" ng-file-drop="onFileSelect($files)" ng-file-drop-available="dropSupported=true" ng-file-drag-over-class="dragOverClass($event)" ng-file-drag-over-delay="100">
          <span class="block">Drag and drop your essay to upload</span>
          <span class="block">(supported formats .doc, .docx, .pdf, ...)</span>
        </div>

        <div id="divProgress" class="upload_progress hide">
          <span class="title">Upload Progress</span>
          <!-- <div class="wrap_progress"> -->
          <div class="wrap_progress">
            <!-- <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">
            </div> -->
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{progressMax}}%">
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-success" role="alert" ng-show="myVar">{{messageUpload}}</div>
      <div class="alert alert-danger alterWarning" role="alert" ng-show="myVarE">{{messageUploadError}}</div>
      <div class="uploaded" ng-if="essays.length > 0">
        <div class="caption">
          <img class="icon_doc" src="assets/img/icon_doc.png">
          <span class="title">Uploaded Essays</span>
          <div class="clearfix"></div>
        </div>
        <div class="data">
          <div class="wrap_data" id="{{e.uploadEssayId}}" ng-repeat="e in essays" ng-class="{last_item:$last}">
            <div style="float: left; width: 160px; cursor: pointer;">
              <a href="{{e.downloadLink}}"><img style="margin: 0 0 5px -10px;" ng-src="{{e.reviewImage}}"></a>
            </div>
            <div style="float: right; width: 435px;">
              <div class="wrap_name">
                <span class="name" ng-click="essayDetail(e.uploadEssayId)">{{e.nameOfEssay}}</span>
                <img class="icon_delete" src="assets/img/close.png" ng-click="deleteEssay($event, e.uploadEssayId, e.nameOfEssay)">
                <div class="clearfix"></div>
              </div>

              <div class="wrap_ct" ng-click="essayDetail(e.uploadEssayId)">
                <div class="ct_left">
                  <span class="date">{{e.docSubmittedDate}}</span>
                  <span class="text">{{e.descriptionOfEssay}}</span>  
                </div>
                <div class="ct_right">
                  <div class="pull-right">
                    <span class="status" id="{{e.uploadEssayId}}" ng-class="{pending:e.status == 'PENDING', reviewed: e.status == 'REVIEWED'}" ng-click="reviewEssay(e.uploadEssayId)">{{e.status}}</span>
                  </div>
                  <div class="clearfix"></div>
                  <div class="wrap_download" ng-if="e.status == 'REVIEWED'">
                    <img class="icon_download" src="assets/img/blue_cloud.png">
                    <span class="download">Download</span>
                    <div class="clearfix"></div>
                  </div>

                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- end .wrap_data -->

        </div>
        <!-- end .data -->
        <div class="pageUpload">
          <a href="" ng-if="countEssay > 5" ng-click="prevPage()"><img src="assets/img/btn_prev.png" style="float: left;"></a>
			    <span ng-if="countEssay > 5" ng-repeat="i in listPage" id="{{i}}" class="active" ng-class="addClassActive(i)" ng-click="showWithPage(i)">{{i}}</span>
          <a href="" ng-if="countEssay > 5" ng-click="nextPage()"><img class="btn_nxt" src="assets/img/btn_nxt.png" style="margin: 0 0 0 8px;"></a>
      	</div>
      </div>
      <!-- end .uploaded -->

    </div> <!-- end .content_left -->
    <div class="content_right">
      <div class="essay_discuss">
        <div class="caption">
          <img class="icon_discuss" src="assets/img/discussion.png">
          <!-- <a href="http://192.168.1.101/home/cheops/essays/J54G.docx" download="download.docx">Download</a> -->
          <span class="title">Essay Discussion</span>
          <div class="clearfix"></div>
        </div>

        <div class="wrap_data">
          <input class="response" placeholder="Type question/response" ng-model="essayDiscussion"/>
          <button class="go" ng-click="addEssayDiscussion()">GO</button>
          <div class="clearfix"></div>

          <div class="data" ng-repeat="dis in essay_discutionses">
            <div class="data_left">
              <div class="wrap_img">
                <!-- <img class="avata" ng-src="data:image/png;base64,{{dis.created_by.avatar}}" alt=""> -->
                <img class="avata" ng-src="{{dis.imageUrl}}">
              </div>
              <div class="count">{{dis.firstName}} {{dis.lastName}}</div>
            </div>
            <div class="data_right">

              <div class="data_content">

              {{dis.message}}

            </div>
            <div class="time">{{dis.creationDate}} ago</div>
            <div class="clearfix"></div>

            </div>
            <span class="htg_left"></span>
            <div class="clearfix"></div>
          </div>
          <!-- end .data -->

        </div>
        <!-- end .wrap_data -->
      </div>
      <!-- end .essay_discuss -->

      <button ng-if="countDiscussion > 5 && feature != 1" class="load_more" ng-click="loadMoreEssayDiscussion()">LOAD MORE</button>
    </div>
    <!-- end .content_right -->
    <div class="clearfix"></div>
  </div>
  <!-- end content -->
</div>
<!-- end #main -->

<div class="modal fade" id="delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure want to delete {{essayDelete}}?</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>&nbsp&nbsp&nbsp
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteEssayWithDialog()">Yes</button>
      </div>
      <div>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->