<div id="main">
  <div class="wrap_search">
    <div class="data">
      <img src="assets/img/upload_essay.png">
      <span class="title">College Admission</span>
      <!-- <input class="search" placeholder="Search for a video by keyword, topic ..." ng-model="keySearch" /> -->
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="navigate">
    <div class="wrap_navigate">
      <span class="active choose" ng-click="showPageSubAdmission(video.idSubAdmission)">{{video.subName}}</span>    
      <span class="htg_right"></span>
      <span class="active choose" ng-click="showPageTopicSubAdmission(video.idSubAdmission, video.idTopicSubAdmission)">{{video.topicSubName}}</span>
      <span class="htg_right"></span>
      <span>{{video.title}}</span>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="content">
    <div class="content_left">
      <div class="wrap_video">
        <div class="wrap_previous_next">
          <span class="previous" ng-if="idVideoPrev != 0" ng-click="showVideo(idVideoPrev)">
            <span class="arrow_left"><i class="glyphicon glyphicon-chevron-left"></i> &nbsp &nbsp PREVIOUS VIDEO</span>
          </span>
          <span class="next" ng-if="idVideoNext != 0" ng-click="showVideo(idVideoNext)">
            <span class="arrow_right">NEXT VIDEO &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <i class="glyphicon glyphicon-chevron-right"></i></span>
          </span>
          <div class="clearfix"></div>
        </div>
        <div id="video" class="video">
          <div id="error">{{video.error}}</div>
          <!-- <iframe width="630" height="400" ng-src="{{video.youtubeUrl | trusted}}" allowfullscreen></iframe> -->
        </div>
      </div>
      <!-- end wrap video -->
      <div class="goal">
        <div class="wrap_title_rate">

          <div class="wrap_title">
            <span class="title">{{video.title}}</span>
            <span class="time">{{video.runningTime}}</span>
            <div class="clearfix"></div>
          </div>
          <div class="wrap_rate">
            <span class="rate" ng-if="rated == true">RATING:</span>
            <div class="block_rate" ng-if="rated == true"><img class="left" ng-repeat="star in video.arr_rate track by $index" ng-src="{{star}}"></div>
            <span class="rate" ng-if="rated != true">Click to rate video:</span>
            <div class="block_rate" ng-if="rated != true"><img id="{{$index + 1}}" class="left rating" ng-repeat="star in video.arr_rate track by $index" ng-src="{{star}}"></div>
            <div class="divLike">
              <div class="fb-like face_like" data-href="{{addressCurrent}}" data-layout="button" data-action="like" data-show-faces="true" data-share="false" data-layout="standard"></div>

              <div class="g-plusone google_plus" data-size="medium" data-annotation="none" data-href="{{addressCurrent}}"></div>

              <span class="share showShare"></span>
            </div>

            <div class="clearfix"></div>
          </div>

        </div>
        <hr/>

        <div class="detail {{(video.description.length < 200)?'':'hidecontent'}}" data-ng-bind-html="video.description"></div>
        <span class="show_more" ng-if="video.description.length > 200" ng-click="showMore('Show More <img src=\'/assets/img/ico-more.png\'>', 'detail', 'show_more', 'assets/img/ico-less.png')">Show More&nbsp<img src="assets/img/ico-more.png"></span>

        <div class="clearfix"></div>

      </div>
      <!-- end .goal -->

      <div class="discus">
        <img class="icon_discus" src="assets/img/discussion.png">
        <span class="title">Discussion <span style="margin-bottom: 6px;" class="alert alert-danger" role="alert" ng-show="myVar">Please enter a discussion</span></span>
        <div class="clearfix"></div>
        <hr/>
        <div class="wrap_data_discus">
          <!-- input class="join" ng-class="addClassHide()" placeholder="Join the discussion" ng-model="joinDiscussion">
          <button class="go" ng-class="addClassHide()" ng-click="addVideoAdmissionComment()">GO</button> -->
          <div class="boxCkComment" ng-class="addClassHide()" ng-click="showCKEditor($event);">
            <span>Join the discussion</span>
          </div>
          <!-- <button class="go" ng-class="addClassHide()" ng-click="addVideoComment(subCatData.title)">GO</button> -->
          <div class="ckComment hide">
            <textarea id="txtDiscus" rows="5" class="answer_text" placeholder="Answer this question">

            </textarea>
          </div>
          <div class="btnHide hide">
            <button class="btnCancel" ng-click="cancel()">CANCEL</button>
            <button class="btnSend" ng-click="sendDiscus()">GO</button>
          </div>
          <div class="clearfix"></div>
          <div class="data" ng-repeat="discuss in discussiones track by $index">
            <div class="data_left">
              <div class="wrap_img" ng-click="profilePage(discuss.created_by.user_id, discuss.created_by.type_user)">
                <img class="avata" ng-src="{{discuss.imageUser}}">
              </div>
              
              <div class="count"><a href  ng-click="likeCommentVideoAdmission(discuss.cid)"><span id="c{{discuss.cid}}">+{{discuss.countLike}}</span></a></div>
            </div>&nbsp<span class="c{{discuss.cid}}"></span>
            <div class="data_right">
              <div class="data_content" data-ng-bind-html="discuss.content"></div>
              <div class="update_comment" style="margin-top: 6px; float: left;">
                <span class="edit" ng-click="editComment(discuss.cid, discuss.content)" ng-if="userId == discuss.authorId">Edit</span>
                <span class="delete" ng-click="deleteComment(discuss.cid)" ng-if="userId == discuss.authorId">Delete</span>
              </div>
              <div class="time">{{discuss.creationDate}} ago by 
                <a href="#/studentProfile/{{discuss.authorId}}">{{discuss.firstName}} {{discuss.lastName}}</a>
              </div>
              <div class="clearfix"></div>
            </div>
            <span class="htg_left"></span>
            <div class="clearfix"></div>

          </div> <!-- end data -->

        </div> <!-- end wrap discuss -->

      </div>
      <!-- end discus -->

      <button ng-if="count > 4 && featureD != 1" class="load_more" ng-click="loadMoreDisscusion()">LOAD MORE</button>

    </div>
    <div class="content_right">

      <div class="science nano" style="{{(listVideo.length <= 5)?'height: auto;':''}}">
          <div class="">
            <div class="wrap_science" style="{{(listVideo.length <= 5)?'height: auto;overflow-y: hidden;overflow-x: hidden;':''}}">
              <div class="item {{videoRelate.vId == vId?'active':''}}" ng-repeat="videoRelate in listVideos track by $index" ng-if="videoRelate.vId != null" id="{{videoRelate.vId}}" ng-click="showVideo(videoRelate.vId)">
                <a name="{{videoRelate.vid}}"></a>
                <span class="number">{{$index + 1}}</span>
                <span class="title">{{videoRelate.title}}</span>
                <img src="assets/img/green_tick_sml.png">
                <div class="clearfix"></div>
              </div>
            </div> <!-- end .wrap_science -->
          </div>
      </div> <!-- end .nano scroll bar -->

    </div>
    <!-- end .content_right -->
    <div class="clearfix"></div>
  </div>
</div>
<!-- end #main -->

<script>
  window.___gcfg = {
    lang: 'en-US'
  };
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if(d.getElementById(id))
      return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="modal fade" id="share">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="min-height: 25px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Share</h4>
      </div>
      <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px;">
        <!-- <p>One fine body&hellip;</p> -->
       <a href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=http%3A%2F%2F{{head}}%2F%23%2FdetailVideo%2F{{subjectId}}%2F{{cateId}}%2F{{subCategoryId}}&pubid=ra-5577a285443024a6&ct=1&title={{arr}}&pco=tbxnj-1.0" target="_blank">
          <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/facebook.png" border="0" alt="Facebook"/>
        </a>
        <a href="https://api.addthis.com/oexchange/0.8/forward/google_plusone_share/offer?url=http%3A%2F%2F{{head}}%2F%23%2FdetailVideo%2F{{subjectId}}%2F{{cateId}}%2F{{subCategoryId}}&pubid=ra-5577a285443024a6&ct=1&title={{arr}}&pco=tbxnj-1.0" target="_blank">
          <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/google_plusone_share.png" border="0" alt="Google+"/>
        </a>
        <a href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url=http%3A%2F%2F{{head}}%2F%23%2FdetailVideo%2F{{subjectId}}%2F{{cateId}}%2F{{subCategoryId}}&pubid=ra-5577a285443024a6&ct=1&title={{arr}}&pco=tbxnj-1.0" target="_blank">
          <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/twitter.png" border="0" alt="Twitter"/>
        </a>
      </div>
      <div class="modal-footer" style="padding-top: 6px; padding-right: 20px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
$(document).ready(function(){
    $('.showShare').click(function() {
      $('#share').modal('show');
    })
});
</script>

<div class="modal fade" id="deleteItem">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure want to delete?</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>&nbsp&nbsp&nbsp
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" ng-click="deleteItem()">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editDiscuss">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 660px; height: 550px; left: 50%; margin-left: -330px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit discussion:</h4>
      </div>
      <div class="modal-body">
        <textarea id="discuss" class="answer_text">

        </textarea>
        <div style="margin: 15px 0 0 0; float: right;">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>&nbsp&nbsp&nbsp
          <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" ng-click="updateComment()">Yes</button>  
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="uploadImage">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 400px; height: 200px; left: 50%; margin-left: -200px;">
      <div class="modal-header">
        <span style="font-size: 16px;"><b>Insert an image</b></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <img class="waitingUp hide" style="width: 50px; height: 50px; position: absolute; left: 175px; top: 23px;" src="https://www.findshare.com/assets/images/loading-blue.gif" >
        <div style="height: 100px; border: 1px dashed steelblue; margin-top: -20px;">
          <div id="select-file" style="background-color: #428bca; color: WHITE; width: 165px; text-align: center; border-radius: 5px; margin: 35px 0 0 97px; cursor: pointer; font-size: 17px;">Upload an image</div>
            <form id="upload-file-form">
              <input id="file" class="hide" name="uploadfile" accept="*" type="file" />
            </form>
          </div>  
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="uploadImageEdit">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 400px; height: 200px; left: 50%; margin-left: -200px;">
      <div class="modal-header">
        <span style="font-size: 16px;"><b>Insert an image</b></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <img class="waitingUp hide" style="width: 50px; height: 50px; position: absolute; left: 175px; top: 23px;" src="https://www.findshare.com/assets/images/loading-blue.gif" >
        <div style="height: 100px; border: 1px dashed steelblue; margin-top: -20px;">
          <div id="select-edit" style="background-color: #428bca; color: WHITE; width: 165px; text-align: center; border-radius: 5px; margin: 35px 0 0 97px; cursor: pointer; font-size: 17px;">Upload an image</div>
            <form id="upload-file-form-edit">
              <input id="edit" class="hide" name="uploadfile" accept="*" type="file" />
            </form>
          </div>  
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->