<div id="video_tutorial" ng-controller="HomeController">
	<div class="header_top">
    <div class="row" style="width: 963px; margin: 0 auto;">
      <div class="col-md-4 textForum">
      	<span>{{ title }}</span>
      </div>
      <!-- <div class="col-md-8 searchForum">
        <input class="searchbox" type="text" placeholder="Search for a topic by key word topic..." ng-model="keySearch">
      </div> -->
    </div>
  </div>
  <div class="row menu">
  	<div class="menu_category">
  		<div class="col-md-3 item" ng-if="su[0].subject_name != 'English' && su[0].isForum != 'Y'" ng-class="{active:subject.subject_id == su[0].subject_id}" ng-repeat="su in subjects" ng-click="getOrtherSubject($event, su[0].subject_id)">
  			<div class="category" ng-class="{bdleft:$first}">
  				<!-- <img ng-src="{{iconImgs[su.subject_name.toLowerCase()][(subject.subject_id == su.subject_id)?'green':'white']}}"> -->
          <img ng-src="{{su[0].image}}">&nbsp &nbsp
          <!-- <img ng-src="data:image/png;base64,{{su.image}}" alt=""> -->
          <span rel="{{su[0].subject_id}}" >{{ su[0].subject_name }}</span>
  			</div>
  		</div>
      <!-- <div class="menu_more">
        <div class="col-md-3 item dropdown" ng-class="active">
          <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-click="showMore()"> <i class="glyphicon glyphicon-th"></i></span>
          <ul id="listSubject" class="dropdown-menu dropdown_color">
            <div id="divUl">
              <li class="item_menu_more" ng-repeat="su in subjects" ng-if="su[0].subject_id > 9" ng-click="getOrtherSubject($event, su[0].subject_id)">
                <div class="form-group" id="divMoreObject"> <img ng-src="{{su[0].image}}">  {{su[0].subject_name}}</div>
              </li>
            </div>
          </ul>
        </div>
      </div> -->
  	</div>
  </div>
  <div class="category_select" ng-show="subject">
  	<div style="width: 963px; margin: 0 auto; padding-top:37px; padding-bottom:37px;">
  		<span class="img">
        <img style="height: 100%;" ng-src="{{subject.subject_icon}}" >
  		</span>
  		<div class="infor_category">
  			<span class="title" ng-bind="subject.subject_name"></span>
  			<span class="content" ng-bind="subject.subject_description"></span>
  		</div>
  	</div>
  </div>
  <div class="list_category">
  	<div class="data_list_category" style="width: 963px; margin: 0 auto; padding-top: 30px; padding-bottom:30px;">
      <div class="panel">
        {{labelTutorial}}
      </div>
      <div ng-repeat="item in listofCategeris track by $index" ng-class="{second: $index % 2 == 1}" class="item" ng-click="loadMoreVideo(item.topicId)">
        <span class="left">
          <!-- <img ng-src="data:image/png;base64,{{item.image}}" alt=""> -->
          <img ng-click="loadMoreVideo(item.topicId)" ng-src="{{item.image}}" >
        </span>
        <span class=right>
          <!-- <table style="margin: 23px 0 0 0;"><tr height="72" valign="middle"><td><span class="title">{{item.topic}}</span></td></tr></table> -->
          <span class="title">{{item.topic}}</span>
          <!-- <span class="line"></span> -->
          <div class="wrap_desc">
            <!-- <span class="desc">{{item.description}}</span> -->
            <!-- <button class="view_video" ng-click="loadMoreVideo(item.topicId)">View {{item.topic}} videos</button> -->
            <div class="clearfix"></div>
          </div>
        </span>
      </div>
      <div class="clearfix"></div>
  	</div>
  </div>
  <!-- <div id="ready" class="ng-scope" ng-show="!user">
    <div class="w965">
      <p class="fl">
        Ready to get started with SibLinks?
      </p>
      <div class="login fr">
        <a href="javascript:void(0)" onclick="brot.signin.signin()" class="btn signin">Sign in</a>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#popSignUp" class="btn signup">Sign up</a>
      </div>
    </div>
  </div> -->
</div>