<div id="main_video_chat_mentor">
  <div class="top">
    <div class="sub_top">
      <div class="icon"><img src="assets/img/icon_chat.png"></div>
      <div class="title">Video Chat</div>
      <div class="search_bar">
        <input class="searchbox" ng-model="key" ng-keyup="$event.keyCode == 13 ? searchFunc() : null" type="text" placeholder="Search for a topic by key word topic..." />
        <div class="fixed"></div>
        <div class="search_option">
          <div class="col-md-1" style="margin-left: -14px;">
            <div id="checkAll" class="checkOne"
                 ng-click="checkAll()">
              <img ng-show="checkAll && checkShool && checkName && checkMajor && checkExtra && checkTutor" id="imgCheckAll" class="icon_check" src="assets/img/icon_action_complete.png">
            </div>
            All
          </div>
          <div class="col-md-1" style="margin-left: -37px; width: 90px;">
            <div id="checkShool" class="checkOne"
                ng-click="checkShool = checkShool == null ? true : !checkShool">
              <img ng-show="checkShool" ng-show="true" id="imgCheckShool" class="icon_check" src="assets/img/icon_action_complete.png">
            </div>
            Shool
          </div>
          <div class="col-md-1" style="margin-left: -22px; width: 90px;">
            <div id="checkName" class="checkOne"
               ng-click="checkName = checkName == null ? true : !checkName">
              <img ng-show="checkName" id="imgCheckName" class="icon_check" src="assets/img/icon_action_complete.png">
            </div>
            Name
          </div>
          <div class="col-md-1" style="margin-left: -22px; width: 90px;">
            <div id="checkMajor" class="checkOne"
                 ng-click="checkMajor = checkMajor == null ? true : !checkMajor">
              <img ng-show="checkMajor" id="imgCheckMajor" class="icon_check" src="assets/img/icon_action_complete.png">
            </div>
            Major
          </div>
          <div class="col-md-1" style="margin-left: -25px; width: 200px;">
            <div id="checkExtra" class="checkOne" 
                 ng-click="checkExtra = checkExtra == null ? true : !checkExtra">
              <img ng-show="checkExtra" id="imgCheckExtra" class="icon_check" src="assets/img/icon_action_complete.png">
            </div>
            Extracurricular Activities
          </div>
          <div class="col-md-1" style="margin-left: -15px; width: 158px;">
            <div id="checkTutor" class="checkOne"
                ng-click="checkTutor = checkTutor == null ? true : !checkTutor">
              <img ng-show="checkTutor" id="imgCheckTutor" class="icon_check" src="assets/img/icon_action_complete.png">
            </div>
            Tutoring Interest
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tutorial">
    <div class="sub_tutorial">
      <div id="btnCloseStepWindown" class="btnClose"><img video-chat-mentor-att-close src="assets/img/ico_close.png"></div>
      <div class="text">
        <div class="title">How it works</div>
        <div class="content">
          The science of life or living matter in all it forms and phenomena, especially with reference to original, growth, reproduction, structure and behavior.
        </div>
      </div>
      <div class="step">
        <div class="col-md-2" style="margin-left: 40px">
          <img class="img_tutorial" src="assets/img/step1.png">
          <div style="margin-top: 10px;"><div class="description">Find a Mentor</div></div>
        </div>
        <div class="col-md-2" style="margin-left: 38px">
          <img class="img_tutorial" src="assets/img/step2.png">
          <div class="description">Complete a</div>
          <div class="description">Quick Questionaire</div>              
        </div>
        <div class="col-md-2" style="margin-left: 40px">
          <img class="img_tutorial" src="assets/img/step3.png">
          <div class="description">Connect</div>
          <div class="description">with them Live</div>
        </div>
      </div>
    </div>
  </div>
  <div class="navi">
    <div class="sub_navi">
      <div class="col-md-2"> 
        <div video-chat-mentor-att-get-name data-name="points" class="active" ng-click="order='points'">Points
          <img src="assets/img/arrow_down_blue.png">
        </div>
      </div>
      <div class="col-md-2">
        <div video-chat-mentor-att-get-name data-name="name" class="drop_menu">Name
          <img style="margin-left: 3px; margin-top: -2px;" src="assets/img/arrow_down_black.png">  
        </div>
      </div>
      <div class="col-md-2">
        <div video-chat-mentor-att-get-name data-name="school" class="drop_menu">School
          <img style="margin-left: 3px; margin-top: -2px;" src="assets/img/arrow_down_black.png">  
        </div>
      </div>
      <div class="col-md-2">
        <div video-chat-mentor-att-get-name data-name="online" class="drop_menu">Online
          <img style="margin-left: 3px; margin-top: -2px;" src="assets/img/arrow_down_black.png">  
        </div>
      </div>
      <div class="col-md-2">
        <div video-chat-mentor-att-get-name data-name="topic" class="drop_menu">Topic
          <img style="margin-left: 3px; margin-top: -2px;" src="assets/img/arrow_down_black.png">  
        </div>
      </div>
    </div>
  </div>
  <div class="chating">
    <div class="sub_chating ng-scope">
      <!-- row chating one -->
      <div class="row_chating"  infinite-scroll="loadMore()" 
                                infinite-scroll-disabled='busy' 
                                infinite-scroll-distance='1'>
        <div class="cell_chating" ng-repeat="item in listMentor">
          <div class="avatar">
            <div class="circle"><img style="margin-top: -5px; margin-left: -5px;" class="circle img_avatar" ng-src="{{item.imageUrl}}"></div>
          </div>
          <div class="info">
            <div>
              <a class="name" href="#/mentorProfile/{{item.userid}}" title="">
                {{item.firstName}} {{item.lastName}}
              </a>
            </div>
            <div>{{item.school}}</div>
            <div class="point">Point: {{item.points}}</div>
            <div ng-if="item.enableFlag == 'Y'" class="chat_icon">
              <div class="chatnow"></div>
              Chat Now
            </div>
            <div ng-if="item.enableFlag == 'N'|| item.enableFlag == NULL" class="disable">
              <div class="offline"></div>
              Offline
            </div>

          </div>
        </div>
        <div ng-show='busy'>Loading data...</div>
        <div class="clearfix"></div>
        <!-- end .cell_chating -->
      </div>
    </div>
    <!-- end sub chating -->
  </div>    
  <!-- end chating -->
</div>
<!-- end main -->