 <div id="AllEssayPage">
  <div class="wrap_search">
     <div class="data">
      <img class="icon" src="assets/img/mentor_profile.png">
      <span class="title">Upload Essay</span>
    </div>
  </div>

  <div class="content">

    <div class="loadingdiv" ng-hide="showItem">
      <img src="https://www.findshare.com/assets/images/loading-blue.gif" >
    </div>
    <div class="divError" ng-if="countEssay == null" ng-show="showError">{{errorData}}</div>
    <div class="clearfix"></div>

    <div class="list_mentor" id="{{essay.uploadEssayId}}" ng-repeat="essay in essays track by $index">
      <div class="introduce">
        <div style="float: left; width: 160px;">
          <a href="{{essay.downloadLink}}"><img ng-src="{{essay.reviewImage}}"></a>
        </div>
        <div style="float: right; width: 805px; cursor: pointer;">
          <div class="wraper_text">
            <div>
              <span class="name" ng-click="essayDetail(essay.uploadEssayId)">{{essay.nameOfEssay}}</span>
              <img class="icon_delete" src="assets/img/close.png" ng-click="deleteEssay($event, essay.uploadEssayId, essay.nameOfEssay)" ng-if="essay.userId == userId">
              <div class="clearfix"></div>
            </div>
            <div class="left" ng-click="essayDetail(essay.uploadEssayId)">
              <span class="date">{{essay.docSubmittedDate}}</span>
              <span class="description_essay">{{essay.descriptionOfEssay}}</span> 
            </div>
            <div class="right" ng-click="essayDetail(essay.uploadEssayId)">
              <span ng-class="{pending:essay.status == 'PENDING', reviewed: essay.status == 'REVIEWED'}">{{essay.status}}</span>
              <div class="wrap_download" ng-if="essay.status == 'REVIEWED'">
                <img class="icon_download" src="assets/img/blue_cloud.png">
                <span class="download">Download</span>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <button class="load_more" ng-if="countEssay > 5 && nextMore != 1" ng-click="loadMoreEssay()">LOAD MORE</button>
    <div class="clearfix"></div>
</div>
<!-- end #main -->

<div class="modal fade" id="delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure want to delete {{essayDelete}}?</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>&nbsp&nbsp&nbsp
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteEssayWithDialog()">Yes</button>
      </div>
      <div>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->